
    <main style="margin-top: 10px">
        <div class="container pt-4">
            <h3 class="text-center mb-4">Capacitaciones</h3>
            <div class="row text-center">
                <!-- Card: Exámenes -->
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-file-alt fa-3x mb-3 text-primary"></i>
                            <h5 class="card-title">Exámenes</h5>
                            <p class="card-text">Consulta y realiza exámenes de capacitación.</p>
                            <button class="btn btn-primary" onclick="window.location.href='/examenes'">Ver</button>
                        </div>
                    </div>
                </div>

                <!-- Card: Videos -->
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-video fa-3x mb-3 text-danger"></i>
                            <h5 class="card-title">Videos</h5>
                            <p class="card-text">Accede a tutoriales en video para mejorar tus habilidades.</p>
                            <button class="btn btn-primary" onclick="window.location.href='/videos'">Ver</button>
                        </div>
                    </div>
                </div>
                <!-- Card: Páginas -->
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-globe fa-3x mb-3 text-success"></i>
                            <h5 class="card-title">Páginas</h5>
                            <p class="card-text">Visita páginas web con información de capacitación.</p>
                            <button class="btn btn-primary" onclick="window.location.href='/paginas'">Ver</button>
                        </div>
                    </div>
                </div>
                <!-- Card: Documentos -->
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <i class="fas fa-file-pdf fa-3x mb-3 text-warning"></i>
                            <h5 class="card-title">Documentos</h5>
                            <p class="card-text">Descarga y consulta documentos relacionados con la capacitación.</p>
                            <button class="btn btn-primary"
                                onclick="window.location.href='/documentos'">Ver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
