<% extraStyles=`

<style>
    .suggestions {
        position: absolute;
        background: #ADD8E6;
        border-radius: 10px; /* Esquinas ligeramente redondeadas */
        max-height: 200px;
        overflow-y: auto;
        width: 300px;
        z-index: 1000;
    }

    .suggestion-item {
        padding: 10px;
        cursor: pointer;
    }

    .suggestion-item:hover {
        background-color: #F0F0F0;
    }

    .suggestions-container {
        position: absolute;
        background: #ADD8E6;
        border-radius: 10px; /* Esquinas ligeramente redondeadas */
        max-height: 200px;
        overflow-y: auto;
        width: 700px;
        z-index: 1000;
    }

    .no-results {
        padding: 8px;
        color: red;
        text-align: center;
    }



</style>

`; %>

    
    <main style="margin-top: 20px">
        <div class="container pt-4">
                <h3 class="text-center"><i class="fa-solid fa-dolly"></i> Productos</h3>
            
                <div class="d-flex justify-content-end align-items-center" style="margin-top: 20px;">
                    <div class="d-flex align-items-center">
                        <button id="btnAddProducto" type="button" class="btn btn-primary btn-rounded me-2">
                            Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        </button>
                
                        <div class="dropdown">
                            <button data-mdb-dropdown-init class="btn btn-secondary btn-rounded" href="#" id="dropDownOptions"
                                role="button" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownOptions">
                                <li><a id="btnAgregarGrupoModal" class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#editaComponentes">Opciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
                <div class="table-responsive pt-3">
                    <table id="tablaProductos" class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                        <tr class="text-center">
                                <th scope="col">Clave</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <!-- Aquí se cargarán los productos -->
                        </tbody>
                    </table>
                </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="crearProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                        <button type="button" class="btn-close" data-bs-ripple-init data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Pills navs -->
                        <ul class="nav nav-pills mb-3" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link active" id="ex1-tab-1" href="#ex1-pills-1" role="tab"
                                    aria-controls="ex1-pills-1" aria-selected="true">Datos Generales</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-2" href="#ex1-pills-2" role="tab"
                                    aria-controls="ex1-pills-2" aria-selected="false">Datos Financieros</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-4" href="#ex1-pills-3" role="tab"
                                    aria-controls="ex1-pills-4" aria-selected="false">Otros</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-4" href="#ex1-pills-4" role="tab"
                                    aria-controls="ex1-pills-4" aria-selected="false">Proveedores</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-5" href="#ex1-pills-5" role="tab"
                                    aria-controls="ex1-pills-5" aria-selected="false">Productos Adicionales</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-6" href="#ex1-pills-6" role="tab" aria-controls="ex1-pills-6"
                                    aria-selected="false">Productos del Kit</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-7" href="#ex1-pills-7" role="tab" aria-controls="ex1-pills-7"
                                    aria-selected="false">Productos del Grupo</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a data-mdb-pill-init class="nav-link" id="ex1-tab-8" href="#ex1-pills-8" role="tab"
                                    aria-controls="ex1-pills-8" aria-selected="false">Productos Complementarios</a>
                            </li>
                        </ul>
                        <!-- Pills navs -->
        
                        <!-- Pills content -->
                        <div class="tab-content" id="ex1-content">
                            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                <!-- Datos Generales Content -->
                                <div>
                            
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="clave" placeholder="Clave del producto" autocomplete="off">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto" autocomplete="off">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="codigoBarras" placeholder="Código de Barras" autocomplete="off">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="claveSAT" placeholder="Clave SAT del producto" autocomplete="off">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="descripcion" placeholder="Descripción del producto" autocomplete="off">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="date" class="form-control" id="fechaAlta" autocomplete="off" disabled>
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <label for="estadoProducto" class="form-label">Estado del Producto</label>
                                            <select class="form-select" id="estadoProducto">
                                                <option value=true>Activo</option>
                                                <option value=false>Inactivo</option>
                                            </select>
                                        </div>
                            
                                        <div class="col-md-3">
                                            <label class="form-label">Tipo</label>
                                            <br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="tipoKit" onclick="mostrarOcultarPills()">
                                                <label class="form-check-label" for="tipoKit">Kit</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="tipoGrupo" onclick="mostrarOcultarPills()">
                                                <label class="form-check-label" for="tipoGrupo">Grupo</label>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="grupo" class="form-label">Grupo</label>
                                            <select class="form-select" id="grupo">
                                                <option value="" selected>Selecciona Grupo</option>
                                                <!-- Opciones -->
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="marca" class="form-label">Marca</label>
                                            <select class="form-select" id="marca">
                                                <option value="" selected>Selecciona Marca</option>
                                                <!-- Opciones -->
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="linea" class="form-label">Línea</label>
                                            <select class="form-select" id="linea">
                                                <option value="" selected>Selecciona Línea</option>
                                                <!-- Opciones -->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="departamento" class="form-label">Departamento</label>
                                            <select class="form-select" id="departamento">
                                                <option value="" selected>Selecciona Departamento</option>
                                                <!-- Opciones -->
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="impuesto" class="form-label">Impuesto</label>
                                            <select class="form-select" id="impuesto">
                                                <option value="" selected>Selecciona Impuesto</option>
                                                <!-- Opciones -->
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="unidad" class="form-label">Unidad</label>
                                            <select class="form-select" id="unidad">
                                                <option value="" selected>Selecciona Unidad</option>
                                                <!-- Opciones -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                <h3>Contenido de Datos Financieros</h3>
                                <div>
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <label for="tiempo-surtido" class="form-label">Tiempo de surtido:</label>
                                            <input type="number" class="form-control" id="tiempo-surtido" name="tiempo-surtido" value="0">
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <label for="volumen" class="form-label">Volumen:</label>
                                            <input type="number" class="form-control" id="volumen" name="volumen" value="0">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="peso" class="form-label">Peso:</label>
                                            <input type="number" class="form-control" id="peso" name="peso" value="0">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="costo" class="form-label">Costo:</label>
                                            <input type="text" class="form-control" id="costo" name="costo" value="0">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        
                                        <div class="col-md-3">
                                            <label for="ultimo-costo" class="form-label">Último costo:</label>
                                            <input type="text" class="form-control" id="ultimo-costo" name="ultimo-costo" value="0">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="costo-promedio" class="form-label">Costo promedio:</label>
                                            <input type="text" class="form-control" id="costo-promedio" name="costo-promedio" value="0">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="num-precio-minimo" class="form-label">Número Precio mínimo:</label>
                                            <input type="number" class="form-control" id="num-precio-minimo" name="num-precio-minimo" value="0">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="num-precio-maximo" class="form-label">Número Precio máximo:</label>
                                            <input type="number" class="form-control" id="num-precio-maximo" name="num-precio-maximo" value="0">
                                        </div>
                                    </div>
                            
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <label for="presentacion" class="form-label">Presentación:</label>
                                            <input type="number" class="form-control" id="presentacion" name="presentacion" value="0">
                                        </div>
                                    </div>
                            
                                    <div class="mb-3">
                                        <label for="calcular-precio" class="form-label">Calcular precio:</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="calcular-precio" name="calcular-precio"
                                                onclick="togglePrecios()">
                                            <label class="form-check-label" for="calcular-precio">
                                                Nota: el botón recalcular precios solo da una vista previa del cambio de precios. Para que se realice el
                                                cálculo automático cada vez que cambie el costo del Producto, es necesario seleccionar este checkbox.
                                            </label>
                                        </div>
                                        <button id="btnCalcularPrecios" class="btn btn-primary btn-rounded">Calcula precios</button>
                                    </div>
                            
                                    <fieldset class="border p-3 mb-4">
                                        <legend class="w-auto">Precios y Porcentajes</legend>
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-1" class="form-label">Porcentaje Precio 1:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-1" name="porcentaje-precio-1" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-1" class="form-label">Precio 1:</label>
                                                <input type="number" class="form-control" id="precio-1" name="precio-1" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-2" class="form-label">Porcentaje Precio 2:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-2" name="porcentaje-precio-2" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-2" class="form-label">Precio 2:</label>
                                                <input type="number" class="form-control" id="precio-2" name="precio-2" value="0">
                                            </div>
                                        </div>
                            
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-3" class="form-label">Porcentaje Precio 3:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-3" name="porcentaje-precio-3" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-3" class="form-label">Precio 3:</label>
                                                <input type="number" class="form-control" id="precio-3" name="precio-3" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-4" class="form-label">Porcentaje Precio 4:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-4" name="porcentaje-precio-4" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-4" class="form-label">Precio 4:</label>
                                                <input type="number" class="form-control" id="precio-4" name="precio-4" value="0">
                                            </div>
                                        </div>
                            
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-5" class="form-label">Porcentaje Precio 5:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-5" name="porcentaje-precio-5" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-5" class="form-label">Precio 5:</label>
                                                <input type="number" class="form-control" id="precio-5" name="precio-5" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-6" class="form-label">Porcentaje Precio 6:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-6" name="porcentaje-precio-6" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-6" class="form-label">Precio 6:</label>
                                                <input type="number" class="form-control" id="precio-6" name="precio-6" value="0">
                                            </div>
                                        </div>
                            
                            
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-7" class="form-label">Porcentaje Precio 7:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-7" name="porcentaje-precio-7" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-7" class="form-label">Precio 7:</label>
                                                <input type="number" class="form-control" id="precio-7" name="precio-7" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-8" class="form-label">Porcentaje Precio 8:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-8" name="porcentaje-precio-8" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-8" class="form-label">Precio 8:</label>
                                                <input type="number" class="form-control" id="precio-8" name="precio-8" value="0">
                                            </div>
                                        </div>
                            
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-9" class="form-label">Porcentaje Precio 9:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-9" name="porcentaje-precio-9" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-9" class="form-label">Precio 9:</label>
                                                <input type="number" class="form-control" id="precio-9" name="precio-9" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="porcentaje-precio-10" class="form-label">Porcentaje Precio 10:</label>
                                                <input type="number" class="form-control" id="porcentaje-precio-10" name="porcentaje-precio-10" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="precio-10" class="form-label">Precio 10:</label>
                                                <input type="number" class="form-control" id="precio-10" name="precio-10" value="0">
                                            </div>
                                        </div>
                                    </fieldset>
                            
                                    <fieldset class="border p-3 mb-4">
                                        <legend class="w-auto">Rangos</legend>
                                        
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="rango-inicial-1" class="form-label">Rango Inicial 1:</label>
                                                <input type="number" class="form-control" id="rango-inicial-1" name="rango-inicial-1" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-1" class="form-label">Rango Final 1:</label>
                                                <input type="number" class="form-control" id="rango-final-1" name="rango-final-1" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-inicial-2" class="form-label">Rango Inicial 2:</label>
                                                <input type="number" class="form-control" id="rango-inicial-2" name="rango-inicial-2" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-2" class="form-label">Rango Final 2:</label>
                                                <input type="number" class="form-control" id="rango-final-2" name="rango-final-2" value="0">
                                            </div>
                                        </div>
                                    
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="rango-inicial-3" class="form-label">Rango Inicial 3:</label>
                                                <input type="number" class="form-control" id="rango-inicial-3" name="rango-inicial-3" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-3" class="form-label">Rango Final 3:</label>
                                                <input type="number" class="form-control" id="rango-final-3" name="rango-final-3" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-inicial-4" class="form-label">Rango Inicial 4:</label>
                                                <input type="number" class="form-control" id="rango-inicial-4" name="rango-inicial-4" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-4" class="form-label">Rango Final 4:</label>
                                                <input type="number" class="form-control" id="rango-final-4" name="rango-final-4" value="0">
                                            </div>
                                        </div>
                                    
                                        
                                    
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="rango-inicial-5" class="form-label">Rango Inicial 5:</label>
                                                <input type="number" class="form-control" id="rango-inicial-5" name="rango-inicial-5" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-5" class="form-label">Rango Final 5:</label>
                                                <input type="number" class="form-control" id="rango-final-5" name="rango-final-5" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-inicial-6" class="form-label">Rango Inicial 6:</label>
                                                <input type="number" class="form-control" id="rango-inicial-6" name="rango-inicial-6" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-6" class="form-label">Rango Final 6:</label>
                                                <input type="number" class="form-control" id="rango-final-6" name="rango-final-6" value="0">
                                            </div>
                                        </div>
                                    
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="rango-inicial-7" class="form-label">Rango Inicial 7:</label>
                                                <input type="number" class="form-control" id="rango-inicial-7" name="rango-inicial-7" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-7" class="form-label">Rango Final 7:</label>
                                                <input type="number" class="form-control" id="rango-final-7" name="rango-final-7" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-inicial-8" class="form-label">Rango Inicial 8:</label>
                                                <input type="number" class="form-control" id="rango-inicial-8" name="rango-inicial-8" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-8" class="form-label">Rango Final 8:</label>
                                                <input type="number" class="form-control" id="rango-final-8" name="rango-final-8" value="0">
                                            </div>
                                        </div>
                                    
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="rango-inicial-9" class="form-label">Rango Inicial 9:</label>
                                                <input type="number" class="form-control" id="rango-inicial-9" name="rango-inicial-9" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-9" class="form-label">Rango Final 9:</label>
                                                <input type="number" class="form-control" id="rango-final-9" name="rango-final-9" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-inicial-10" class="form-label">Rango Inicial 10:</label>
                                                <input type="number" class="form-control" id="rango-inicial-10" name="rango-inicial-10" value="0">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="rango-final-10" class="form-label">Rango Final 10:</label>
                                                <input type="number" class="form-control" id="rango-final-10" name="rango-final-10" value="0">
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="border p-3 mb-4">
                                        <legend class="w-auto">Monedero</legend>
                                    
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-1" class="form-label">Porcentaje 1:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-1" value="0">
                                            </div>

                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-2" class="form-label">Porcentaje 2:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-2" value="0">
                                            </div>

                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-2" class="form-label">Porcentaje 3:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-3" value="0">
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-4" class="form-label">Porcentaje 4:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-4" value="0">
                                            </div>

                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-5" class="form-label">Porcentaje 5:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-5" value="0">
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-6" class="form-label">Porcentaje 6:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-6" value="0">
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-7" class="form-label">Porcentaje 7:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-7"  value="0">
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-8" class="form-label">Porcentaje 8:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-8" value="0">
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-9" class="form-label">Porcentaje 9:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-9" value="0">
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="porcentaje-monedero-10" class="form-label">Porcentaje 10:</label>
                                                <input type="number" class="form-control" id="porcentaje-monedero-10" value="0">
                                            </div>
  
                                        </div>
                                    
                                    </fieldset>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                                <h3>Imagen del producto</h3>
                            
                                <div class="mb-3">
                                    <label for="productoImagen" class="form-label">Selecciona una imagen:</label>
                                    <input type="file" class="form-control" id="productoImagen" accept="image/*">
                                </div>
                            
                                <!-- Vista previa de la imagen -->
                                <div class="text-center mb-3">
                                    <img id="previewImagen" src="" alt="Vista previa" class="img-fluid" style="max-width: 300px; display: none; border: 1px solid #ccc; padding: 5px;">
                                </div>
                            
                                <!-- Botón para subir la imagen -->
                                <button class="btn btn-primary" id="btnSubirImagen">
                                    <i class="fas fa-upload"></i> Subir Imagen
                                </button>
                            </div>

                            <div class="tab-pane fade" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                                <h5>Buscar Proveedores</h5>
                                
                                <div id="search-provider-form">
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="providerSearch" placeholder="Escribe el nombre del proveedor...">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary" id="addProviderBtn">Agregar Proveedor</button>
                                        </div>
                                    </div>                                    
                                </div>

                                <div id="suggestions" class="suggestions"></div>
                            
                                <table class="table table-bordered" id="providerTable">
                                    <thead>
                                        <tr>
                                            <th>Proveedor</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Los proveedores agregados aparecerán aquí -->
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="tab-pane fade" id="ex1-pills-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                                <h5>Buscar productos adicionales</h5>
                            
                                <form id="search-product-form">
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="productsSearch"
                                                placeholder="Escribe el nombre del producto...">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary" id="addProductBtn">Agregar Producto</button>
                                        </div>
                                    </div>
                                </form>

                                <div id="suggestionsProducts" class="suggestions"></div>

                            
                                <table class="table table-bordered" id="providerTableProductAditional">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Los productos agregados aparecerán aquí -->
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="ex1-pills-6" role="tabpanel" aria-labelledby="ex1-tab-6">
                                <h5>Buscar productos kit</h5>
                            
                                <div id="search-provider-form">
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" id="productsKitAmount" value="1">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="productsKitSearch"
                                                placeholder="Escribe el nombre del producto...">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary" id="addProductKitBtn">Agregar Producto</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="suggestionsProductsKit" class="suggestions-container"></div>

                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <h5>Total General: <span id="totalGeneral">$0.00</span></h5>
                                    </div>
                                </div>
                                <table class="table table-bordered" id="providerTableKit">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descripción</th>
                                            <th>Cantidad</th>
                                            <th>Visible</th>
                                            <th>Sumable</th>
                                            <th>Costo</th>
                                            <th>Costo Total</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Los productos agregados aparecerán aquí -->
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="ex1-pills-7" role="tabpanel" aria-labelledby="ex1-tab-7">
                                <h5>Buscar productos grupo</h5>
                            
                                <div>
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="productsGroupSearch"
                                                placeholder="Escribe el nombre del producto...">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary" id="addProductGroupBtn">Agregar Producto</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="suggestionsProductsGroup" class="suggestions"></div>

                            
                                <table class="table table-bordered" id="providerTableGroup">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Los productos agregados aparecerán aquí -->
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="ex1-pills-8" role="tabpanel" aria-labelledby="ex1-tab-8">
                                <h5>Buscar productos complementarios</h5>
                                
                                <div id="search-provider-form">
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="productsComplement" placeholder="Escribe el nombre del producto...">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-primary" id="addProductComplementBtn">Agregar Producto</button>
                                        </div>
                                    </div>                                    
                                </div>

                                <div id="suggestionsProductsComplement" class="suggestions"></div>
                            
                                <table class="table table-bordered" id="providerTableComplementProducts">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Los proveedores agregados aparecerán aquí -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pills content -->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-ripple-init
                            data-bs-dismiss="modal">Cerrar</button>
                        <button id="btnGuardarProducto" type="button" class="btn btn-primary" data-mdb-ripple-init>Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="editaComponentes" tabindex="-1" aria-labelledby="modalLabelEdit" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modalLabelEdit">Componentes</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <!-- Pills navs -->
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item" role="presentation"><a data-mdb-pill-init class="nav-link active" href="#grupoCRUD" role="tab">Grupo</a></li>
                    <li class="nav-item" role="presentation"><a data-mdb-pill-init class="nav-link" href="#marcaCRUD" role="tab">Marca</a></li>
                    <li class="nav-item" role="presentation"><a data-mdb-pill-init class="nav-link" href="#lineaCRUD" role="tab">Línea</a></li>
                    <li class="nav-item" role="presentation"><a data-mdb-pill-init class="nav-link" href="#departamentoCRUD" role="tab">Departamento</a></li>
                    <li class="nav-item" role="presentation"><a data-mdb-pill-init class="nav-link" href="#impuestoCRUD" role="tab">Impuesto</a></li>
                    <li class="nav-item" role="presentation"><a data-mdb-pill-init class="nav-link" href="#unidadCRUD" role="tab">Unidad</a></li>
                </ul>
        
                <!-- Pills content -->
                <div class="tab-content">
                    <!-- GRUPO -->
                    <div class="tab-pane fade show active" id="grupoCRUD" role="tabpanel">

                        <div class="row align-items-end" style="height: 100px;">
                            <div class="col-md-2">
                                <label for="grupoClave" class="form-label">Clave</label>
                                <input type="text" class="form-control" id="grupoClave">
                            </div>

                            <div class="col-md-3">
                                <label for="grupoNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="grupoNombre">
                            </div>

                            <div class="col-md-4">
                                <label for="grupoDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="grupoDescripcion">
                            </div>

                            <div class="col-md-3">
                                <button id="grupoBtnGuardarGrupo" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-bordered" id="grupoTabla">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- MARCA -->
                    <div class="tab-pane fade" id="marcaCRUD" role="tabpanel">
                        <div class="row align-items-end" style="height: 100px;">
                            <div class="col-md-3">
                                <label for="marcaClave" class="form-label">Clave</label>
                                <input type="text" class="form-control" id="marcaClave">
                            </div>

                            <div class="col-md-3">
                                <label for="marcaNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="marcaNombre">
                            </div>

                            <div class="col-md-4">
                                <label for="marcaDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="marcaDescripcion">
                            </div>

                            <div class="col-md-2">
                                <button id="marcaBtnGuardar" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-bordered" id="marcaTabla">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
        
                    <!-- LÍNEA -->
                    <div class="tab-pane fade" id="lineaCRUD" role="tabpanel">
                        <div class="row align-items-end" style="height: 100px;">
                            <div class="col-md-3">
                                <label for="lineaClave" class="form-label">Clave</label>
                                <input type="text" class="form-control" id="lineaClave">
                            </div>

                            <div class="col-md-3">
                                <label for="lineaNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="lineaNombre">
                            </div>

                            <div class="col-md-4">
                                <label for="lineaDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="lineaDescripcion">
                            </div>

                            <div class="col-md-2">
                                <button id="lineaBtnGuardar" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-bordered" id="lineaTabla">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- DEPARTAMENTO -->
                    <div class="tab-pane fade" id="departamentoCRUD" role="tabpanel">
                        <div class="row align-items-end" style="height: 100px;">
                            <div class="col-md-3">
                                <label for="departamentoClave" class="form-label">Clave</label>
                                <input type="text" class="form-control" id="departamentoClave">
                            </div>

                            <div class="col-md-3">
                                <label for="departamentoNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="departamentoNombre">
                            </div>

                            <div class="col-md-4">
                                <label for="departamentoDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="departamentoDescripcion">
                            </div>

                            <div class="col-md-2">
                                <button id="departamentoBtnGuardar" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-bordered" id="departamentoTabla">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- IMPUESTO -->
                    <div class="tab-pane fade" id="impuestoCRUD" role="tabpanel">
                        <div class="row align-items-end" style="height: 100px;">
                            <div class="col-md-3">
                                <label for="impuestoClave" class="form-label">Clave</label>
                                <input type="text" class="form-control" id="impuestoClave">
                            </div>

                            <div class="col-md-3">
                                <label for="impuestoNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="impuestoNombre">
                            </div>

                            <div class="col-md-4">
                                <label for="impuestoDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="impuestoDescripcion">
                            </div>

                            <div class="col-md-2">
                                <button id="impuestoBtnGuardar" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-bordered" id="impuestoTabla">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- UNIDAD -->
                    <div class="tab-pane fade" id="unidadCRUD" role="tabpanel">
                        <div class="row align-items-end" style="height: 100px;">
                            <div class="col-md-3">
                                <label for="unidadClave" class="form-label">Clave</label>
                                <input type="text" class="form-control" id="unidadClave">
                            </div>

                            <div class="col-md-3">
                                <label for="unidadNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="unidadNombre">
                            </div>

                            <div class="col-md-4">
                                <label for="unidadDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="unidadDescripcion">
                            </div>

                            <div class="col-md-2">
                                <button id="unidadBtnGuardar" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-bordered" id="unidadTabla">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
            </div>
        </div>

    </main>


1
    <% extraScripts=` 
        <script src="js/productos/productos.js"></script>
        <script src="js/productos/apartados/proveedores.js"></script>
        <script src="js/productos/apartados/productosAdicionales.js"></script>
        <script src="js/productos/apartados/productosKit.js"></script>
        <script src="js/productos/apartados/productosGrupos.js"></script>
        <script src="js/productos/apartados/productosComplementarios.js"></script>
        <script src="js/productos/productosPost.js"></script>
        <script src="js/productos/componentes.js"></script>
          
    `; %>
ß