<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mundi Novi 2024</title>
    <link rel="icon" href="img/logoColor.png" type="image/png">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" />
    <style>
        /* Estilos para la lista desplegable */
        #listaProductos {
            max-height: 300px;
            overflow-y: auto;
            position: absolute;
            background: white;
            border: 1px solid #ddd;
            z-index: 1000;
        }
        #listaProductos .list-group-item {
            cursor: pointer;
        }
        #sugerencias {
            position: absolute;
            border: 1px solid #ddd;
            background: #fff;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000;
        }
        .sugerencia {
            padding: 10px;
            cursor: pointer;
        }
        .sugerencia.seleccionado {
            background: #ddd;
        }
        .total {
            font-weight: bold;
        }
        
    </style>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
        
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="/main">
                        <img src="img/logoColor.png" height="45" alt="MDB Logo"
                            loading="lazy" />
                    </a>
                    <!-- Left links -->
                    <ul id="options" class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
        
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    
                    <div class="info" style="display: flex; flex-direction: column; align-items: flex-end; margin-right: 10px;">
                        <span id="name" class="name" style="margin-bottom: -5px; font-weight: 600;">Jesus Aguirre</span>
                        <span id="rol" class="job" style="margin-top: 0px;">GGeneral</span>
                    </div>
                    
                    <div class="dropdown">
                        <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                            <img id="profilePicture" src="" class="rounded-circle" height="35"
                                alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">Perfil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Configuraciones</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <h3 class="text-center"><i class="fa-solid fa-dolly"></i> Productos</h3>
            
            <div class="tab-content" id="pills-tabContent2">
                <div class="d-flex justify-content-between align-items-center" style="margin-top: 50px;">
                    <div class="d-flex flex-grow-1 pe-2" style="max-width: 400px;">
                        <div class="input-group">
                            <input type="text" class="form-control" id="busquedaProductosMain" placeholder= "Nombre o codigo del producto">
                        </div>
                    </div>
                
                    <div class="d-flex align-items-center">
                        <button id="btnAddProducto" type="button" class="btn btn-primary btn-rounded me-2" data-mdb-ripple-color="dark"
                            data-mdb-toggle="modal" data-mdb-target="#ModalAddProducto" data-mdb-whatever="@mdo">
                            Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        </button>
                        
                        <div class="dropdown">
                            <button data-mdb-dropdown-init class="btn btn-secondary btn-rounded" href="#"
                                id="dropDownOptions" role="button" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownOptions">
                                <li><a id="btnAgregarGrupoModal" class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalGrupo">Grupo</a></li>
                                <li><a id="btnAgregarMarcaModal" class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalMarca">Marca</a></li>
                                <li><a id="btnAgregarLineaModal" class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalLinea">Linea</a></li>
                                <li><a id="btnAgregarDepartamentoModal" class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalDepartamento">Departamento</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="table-responsive pt-3">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                        <tr class="text-center">
                                <th scope="col">Clave</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Alegra</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="productosData" class="table-group-divider">
                            <!-- Aquí se cargarán los productos -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center pt-3">
                        <ul class="pagination" id="paginationProductos">
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="cambiarPaginaProductos(currentPageProductos - 1)" aria-label="Previous" id="anteriorProductos">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- Los números de página se generarán dinámicamente aquí -->
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="cambiarPaginaProductos(currentPageProductos + 1)" aria-label="Next" id="siguienteProductos">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            
        <!--Modales-->  
            
        <div class="modal fade" id="ModalAddProducto" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                            Registrar nuevo producto
                        </h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="modal-body">
                                <!-- Pills navs -->
                                <ul class="nav nav-pills mb-3" id="ex1" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link active" id="ex1-tab-1" href="#ex1-pills-1" role="tab"
                                            aria-controls="ex1-pills-1" aria-selected="true">Datos generales</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-2" href="#ex1-pills-2" role="tab"
                                            aria-controls="ex1-pills-2" aria-selected="false">Datos financieros</a>
                                    </li>
                                    <li id="productoKitVisibility" class="nav-item" role="presentation" style="visibility:visible;">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-6" href="#ex1-pills-6" role="tab"
                                            aria-controls="ex1-pills-6" aria-selected="false">Productos del kit</a>
                                    </li>
                                    <li id="productoGrupoVisibility" class="nav-item" role="presentation" style="visibility: visible;">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-7" href="#ex1-pills-7" role="tab"
                                            aria-controls="ex1-pills-7" aria-selected="false">Productos del grupo</a>
                                    </li>
                                </ul>
                                <!-- Pills navs -->
                            
                                <!-- Pills content -->
                                <div class="tab-content" id="ex1-content">
                                    <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="claveProducto" class="col-form-label">Clave:</label>
                                                <input type="text" class="form-control" id="claveProducto" />
                                            </div>

                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="nombreProducto" class="col-form-label">Nombre:</label>
                                                <input type="text" class="form-control" id="nombreProducto" />
                                            </div>

                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="descripcionProducto" class="col-form-label">Descripción:</label>
                                                <input type="text" class="form-control" id="descripcionProducto" />
                                            </div>
                
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="col-form-label" for="esKit">Tipo de Producto:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="esKit" value="esKit">
                                                    <label class="form-check-label" for="esKit">
                                                        Es kit
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="esGrupo" value="esGrupo">
                                                    <label class="form-check-label" for="esGrupo">
                                                        Es Grupo de Productos
                                                    </label>
                                                </div>
                                            </div>
                                    
                                
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="grupo">Grupo:</label>
                                                <select id="grupo" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="marca">Marca:</label>
                                                <select id="marca" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="linea">Linea:</label>
                                                <select id="linea" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="departamento">Departamento:</label>
                                                <select id="departamento" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="tiempoSurtido" class="col-form-label">Tiempo de surtido</label>
                                                <input type="number" class="form-control" id="tiempoSurtido" name="tiempoSurtido" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="controlAlmacen" class="col-form-label">Control de almacén</label>
                                                <input type="text" class="form-control" id="controlAlmacen" />
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="volumen" class="col-form-label">Volumen</label>
                                                <input type="number" class="form-control" id="volumen" name="volumen" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="peso" class="col-form-label">Peso</label>
                                                <input type="number" class="form-control" id="peso" name="peso" min="0">
                                            </div>
                                    
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="costo" class="col-form-label">Costo</label>
                                                <input type="number" class="form-control" id="costo" name="costo" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="ultimoCosto" class="col-form-label">Último costo</label>
                                                <input type="number" class="form-control" id="ultimoCosto" name="ultimoCosto" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="costoPromedio" class="col-form-label">Costo promedio</label>
                                                <input type="number" class="form-control" id="costoPromedio" name="costoPromedio" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="unidadEmpaque" class="col-form-label">Unidad de empaque</label>
                                                <input type="number" class="form-control" id="unidadEmpaque" name="unidadEmpaque" min="0">
                                            </div>
                                
                                    
                                            <div class="col-md-3" style="margin-top: 10px; margin-bottom: 10px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="calcularPrecio" value="calcularPrecio">
                                                    <label class="form-check-label" for="calcularPrecio">
                                                        Calcular precio
                                                    </label>
                                                </div>
                                            </div>
                                    
                                            <hr class="my-4">
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio1" class="col-form-label">Porcentaje precio 1</label>
                                                <input type="number" class="form-control" id="porcentajePrecio1" name="porcentajePrecio1" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio1" class="col-form-label">Precio 1</label>
                                                <input type="number" class="form-control" id="precio1" name="precio1" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio2" class="col-form-label">Porcentaje precio 2</label>
                                                <input type="number" class="form-control" id="porcentajePrecio2" name="porcentajePrecio2" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio2" class="col-form-label">Precio 2</label>
                                                <input type="number" class="form-control" id="precio2" name="precio2" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio3" class="col-form-label">Porcentaje precio 3</label>
                                                <input type="number" class="form-control" id="porcentajePrecio3" name="porcentajePrecio3" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio3" class="col-form-label">Precio 3</label>
                                                <input type="number" class="form-control" id="precio3" name="precio3" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio4" class="col-form-label">Porcentaje precio 4</label>
                                                <input type="number" class="form-control" id="porcentajePrecio4" name="porcentajePrecio4" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio4" class="col-form-label">Precio 4</label>
                                                <input type="number" class="form-control" id="precio4" name="precio4" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio5" class="col-form-label">Porcentaje precio 5</label>
                                                <input type="number" class="form-control" id="porcentajePrecio5" name="porcentajePrecio5" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio5" class="col-form-label">Precio 5</label>
                                                <input type="number" class="form-control" id="precio5" name="precio5" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio6" class="col-form-label">Porcentaje precio 6</label>
                                                <input type="number" class="form-control" id="porcentajePrecio6" name="porcentajePrecio6" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio6" class="col-form-label">Precio 6</label>
                                                <input type="number" class="form-control" id="precio6" name="precio6" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio7" class="col-form-label">Porcentaje precio 7</label>
                                                <input type="number" class="form-control" id="porcentajePrecio7" name="porcentajePrecio7" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio7" class="col-form-label">Precio 7</label>
                                                <input type="number" class="form-control" id="precio7" name="precio7" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio8" class="col-form-label">Porcentaje precio 8</label>
                                                <input type="number" class="form-control" id="porcentajePrecio8" name="porcentajePrecio8" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio8" class="col-form-label">Precio 8</label>
                                                <input type="number" class="form-control" id="precio8" name="precio8" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio9" class="col-form-label">Porcentaje precio 9</label>
                                                <input type="number" class="form-control" id="porcentajePrecio9" name="porcentajePrecio9" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio9" class="col-form-label">Precio 9</label>
                                                <input type="number" class="form-control" id="precio9" name="precio9" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio10" class="col-form-label">Porcentaje precio 10</label>
                                                <input type="number" class="form-control" id="porcentajePrecio10" name="porcentajePrecio10" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio10" class="col-form-label">Precio 10</label>
                                                <input type="number" class="form-control" id="precio10" name="precio10" min="0">
                                            </div>

                                            <hr class="my-4">

                                            <!-- Rango 1 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial1" class="col-form-label">Rango inicial 1</label>
                                                <input type="number" class="form-control" id="rangoInicial1" name="rangoInicial1" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal1" class="col-form-label">Rango final 1</label>
                                                <input type="number" class="form-control" id="rangoFinal1" name="rangoFinal1" min="0">
                                            </div>
                                        
                                            <!-- Rango 2 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial2" class="col-form-label">Rango inicial 2</label>
                                                <input type="number" class="form-control" id="rangoInicial2" name="rangoInicial2" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal2" class="col-form-label">Rango final 2</label>
                                                <input type="number" class="form-control" id="rangoFinal2" name="rangoFinal2" min="0">
                                            </div>
                                        
                                            <!-- Rango 3 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial3" class="col-form-label">Rango inicial 3</label>
                                                <input type="number" class="form-control" id="rangoInicial3" name="rangoInicial3" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal3" class="col-form-label">Rango final 3</label>
                                                <input type="number" class="form-control" id="rangoFinal3" name="rangoFinal3" min="0">
                                            </div>
                                        
                                            <!-- Rango 4 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial4" class="col-form-label">Rango inicial 4</label>
                                                <input type="number" class="form-control" id="rangoInicial4" name="rangoInicial4" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal4" class="col-form-label">Rango final 4</label>
                                                <input type="number" class="form-control" id="rangoFinal4" name="rangoFinal4" min="0">
                                            </div>
                                        
                                            <!-- Rango 5 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial5" class="col-form-label">Rango inicial 5</label>
                                                <input type="number" class="form-control" id="rangoInicial5" name="rangoInicial5" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal5" class="col-form-label">Rango final 5</label>
                                                <input type="number" class="form-control" id="rangoFinal5" name="rangoFinal5" min="0">
                                            </div>
                                        
                                            <!-- Rango 6 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial6" class="col-form-label">Rango inicial 6</label>
                                                <input type="number" class="form-control" id="rangoInicial6" name="rangoInicial6" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal6" class="col-form-label">Rango final 6</label>
                                                <input type="number" class="form-control" id="rangoFinal6" name="rangoFinal6" min="0">
                                            </div>
                                        
                                            <!-- Rango 7 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial7" class="col-form-label">Rango inicial 7</label>
                                                <input type="number" class="form-control" id="rangoInicial7" name="rangoInicial7" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal7" class="col-form-label">Rango final 7</label>
                                                <input type="number" class="form-control" id="rangoFinal7" name="rangoFinal7" min="0">
                                            </div>
                                        
                                            <!-- Rango 8 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial8" class="col-form-label">Rango inicial 8</label>
                                                <input type="number" class="form-control" id="rangoInicial8" name="rangoInicial8" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal8" class="col-form-label">Rango final 8</label>
                                                <input type="number" class="form-control" id="rangoFinal8" name="rangoFinal8" min="0">
                                            </div>
                                        
                                            <!-- Rango 9 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial9" class="col-form-label">Rango inicial 9</label>
                                                <input type="number" class="form-control" id="rangoInicial9" name="rangoInicial9" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal9" class="col-form-label">Rango final 9</label>
                                                <input type="number" class="form-control" id="rangoFinal9" name="rangoFinal9" min="0">
                                            </div>
                                        
                                            <!-- Rango 10 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial10" class="col-form-label">Rango inicial 10</label>
                                                <input type="number" class="form-control" id="rangoInicial10" name="rangoInicial10" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal10" class="col-form-label">Rango final 10</label>
                                                <input type="number" class="form-control" id="rangoFinal10" name="rangoFinal10" min="0">
                                            </div>
                                            


                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-6" role="tabpanel" aria-labelledby="ex1-tab-6">
                                        <label style="font-weight: 600;" for="busquedaProductoKit" class="col-form-label">Buscar producto del kit:</label>
                                    
                                        
                                        <!-- Sección de Productos -->
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Productos</h5>
                                                    <div class="row mb-3">
                                                        <div class="col-md-2 mb-3">
                                                            <label for="cantidad" class="form-label">Cantidad</label>
                                                            <input type="number" id="cantidad" class="form-control" value="">
                                                        </div>
                                                        <div class="col-md-8 mb-3">
                                                            <label for="producto" class="form-label">Buscar Producto</label>
                                                            <input type="text" id="producto" class="form-control" placeholder="Buscar producto...">
                                                            <div id="sugerencias"></div> <!-- Aquí se mostrarán las sugerencias -->
                                                            <ul id="listaProductos" class="list-group mt-2" style="display: none; position: absolute; z-index: 1000;"></ul>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="agregarProducto" class="form-label">Agregar</label>
                                                            <button id="agregarProducto" class="btn btn-primary w-100">Agregar [F4]</button>
                                                        </div>
                                                        
                                                    </div>
                            
                                                    <!-- Tabla de Productos -->
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Producto</th>
                                                                    <th>Precio</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Total</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="productos">
                                                                <!-- Aquí se agregarán dinámicamente los productos -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-7" role="tabpanel" aria-labelledby="ex1-tab-7">
                                        <label style="font-weight: 600;" for="busquedaProductoGrupo" class="col-form-label">Buscar producto del grupo:</label>
                                    
                                        <div class="col-md-12 d-flex align-items-center">
                                            <div class="col-md-6 pe-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="busquedaProductoGrupo" placeholder="Ingrese el nombre del producto del grupo">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3 d-flex align-items-center">
                                                <input type="number" class="form-control me-2" id="cantidadProductoGrupo" placeholder="Cantidad" min="1">
                                                <button class="btn btn-primary" type="button" id="agregarProductoGrupo">Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" class="col-form-label">Productos del grupo seleccionados:</label>
                                            <ul class="list-group" id="productosGrupoSeleccionados">
                                                <!-- Aquí se irán agregando los productos del grupo -->
                                            </ul>
                                        </div>
                                    </div>

                                    
                                </div>
                                <!-- Pills content -->
                            
                                <div class="modal-footer d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-success" data-mdb-dismiss="modal">Recalcular precio</button>
                                    <div>
                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                                        <button type="submit" id="btnGuardarProducto" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Grupo -->
        <div class="modal fade" id="modalGrupo" tabindex="-1" aria-labelledby="modalGrupoLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalGrupoLabel">Grupo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="claveGrupo" class="form-control" />
                                    <label class="form-label" for="claveGrupo">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="nombreGrupo" class="form-control" />
                                    <label class="form-label" for="nombreGrupo">Nombre</label>
                                </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            </div><div class="col-md-12">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="descripcionGrupo" class="form-control" />
                                    <label class="form-label" for="descripcionGrupo">Descripción</label>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddGrupo" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="grupoData" class="table-group-divider">
                                    <!-- Aquí se cargarán los grupos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationGrupos">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaGrupos(currentPageGrupos - 1)" aria-label="Previous" id="anteriorGrupos">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaGrupos(currentPageGrupos + 1)" aria-label="Next" id="siguienteGrupos">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Marca -->
        <div class="modal fade" id="modalMarca" tabindex="-1" aria-labelledby="modalMarcaLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalMarcaLabel">Marca</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="claveMarca" class="form-control" />
                                    <label class="form-label" for="claveMarca">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="nombreMarca" class="form-control" />
                                    <label class="form-label" for="nombreMarca">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="descripcionMarca" class="form-control" />
                                    <label class="form-label" for="descripcionMarca">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddMarca" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="marcaData" class="table-group-divider">
                                    <!-- Aquí se cargarán las marcas -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationMarcas">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaMarcas(currentPageMarcas - 1)" aria-label="Previous" id="anteriorMarcas">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaMarcas(currentPageMarcas + 1)" aria-label="Next" id="siguienteMarcas">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Línea -->
        <div class="modal fade" id="modalLinea" tabindex="-1" aria-labelledby="modalLineaLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLineaLabel">Línea</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="claveLinea" class="form-control" />
                                    <label class="form-label" for="claveLinea">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="nombreLinea" class="form-control" />
                                    <label class="form-label" for="nombreLinea">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="descripcionLinea" class="form-control" />
                                    <label class="form-label" for="descripcionLinea">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddLinea" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lineaData" class="table-group-divider">
                                    <!-- Aquí se cargarán las líneas -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationLineas">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaLineas(currentPageLineas - 1)" aria-label="Previous" id="anteriorLineas">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaLineas(currentPageLineas + 1)" aria-label="Next" id="siguienteLineas">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Departamento -->
        <div class="modal fade" id="modalDepartamento" tabindex="-1" aria-labelledby="modalDepartamentoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDepartamentoLabel">Departamento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="claveDepartamento" class="form-control" />
                                    <label class="form-label" for="claveDepartamento">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="nombreDepartamento" class="form-control" />
                                    <label class="form-label" for="nombreDepartamento">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="descripcionDepartamento" class="form-control" />
                                    <label class="form-label" for="descripcionDepartamento">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddDepartamento" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="departamentoData" class="table-group-divider">
                                    <!-- Aquí se cargarán los departamentos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationDepartamentos">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaDepartamentos(currentPageDepartamentos - 1)" aria-label="Previous" id="anteriorDepartamentos">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaDepartamentos(currentPageDepartamentos + 1)" aria-label="Next" id="siguienteDepartamentos">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>








        </div>
    </main>


    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/main.js"></script>


    <script src="js/productos/productos.js"></script>
    <script src="js/productos/productosPost.js"></script>
    <script src="js/productos/productosGet.js"></script>
    <script src="js/productos/productosDelete.js"></script>

    <script src="js/productos/complementos/grupos.js"></script>
    <script src="js/productos/complementos/lineas.js"></script>
    <script src="js/productos/complementos/marcas.js"></script>
    <script src="js/productos/complementos/departamentos.js"></script>

    <script src="js/productos/productosStatus.js"></script>

</body>

</html>
