<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mundi Novi 2024</title>
    <link rel="icon" href="img/logoColor.png" type="image/png">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
        
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="/main">
                        <img src="img/logoColor.png" height="45" alt="MDB Logo"
                            loading="lazy" />
                    </a>
                    <!-- Left links -->
                    <ul id="options" class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
        
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    
                    <div class="info" style="display: flex; flex-direction: column; align-items: flex-end; margin-right: 10px;">
                        <span id="name" class="name" style="margin-bottom: -5px; font-weight: 600;">Jesus Aguirre</span>
                        <span id="rol" class="job" style="margin-top: 0px;">GGeneral</span>
                    </div>
                    
                    <div class="dropdown">
                        <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                            <img id="profilePicture" src="" class="rounded-circle" height="35"
                                alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">Perfil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Configuraciones</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <h3 class="text-center"><i class="fa-solid fa-dolly"></i> Productos</h3>
            
            <div class="tab-content" id="pills-tabContent2">
                <div class="d-flex justify-content-between align-items-center" style="margin-top: 50px;">
                    <div class="d-flex flex-grow-1 pe-2" style="max-width: 400px;">
                        <div class="input-group">
                            <input type="text" class="form-control" id="busquedaProductosMain" placeholder= "Nombre o codigo del producto">
                        </div>
                    </div>
                
                    <div class="d-flex align-items-center">
                        <button id="btnAddProducto" type="button" class="btn btn-primary btn-rounded me-2" data-mdb-ripple-color="dark"
                            data-mdb-toggle="modal" data-mdb-target="#ModalAddProducto" data-mdb-whatever="@mdo">
                            Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        </button>
                        
                        <div class="dropdown">
                            <button data-mdb-dropdown-init class="btn btn-secondary btn-rounded" href="#"
                                id="dropDownOptions" role="button" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownOptions">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalCategoria">Categoria</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalGrupo">Grupo</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalMarca">Marca</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalTipoProducto">Tipo de producto</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalLinea">Linea</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalDepartamento">Departamento</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalUnidad">Unidad</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalImpuesto">Impuesto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="table-responsive pt-3">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                        <tr class="text-center">
                                <th scope="col">Clave</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Alegra</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="productosData" class="table-group-divider">
                            <!-- Aquí se cargarán los productos -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center pt-3">
                        <ul class="pagination" id="paginationProductos">
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="cambiarPaginaProductos(currentPageProductos - 1)" aria-label="Previous" id="anteriorProductos">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- Los números de página se generarán dinámicamente aquí -->
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="cambiarPaginaProductos(currentPageProductos + 1)" aria-label="Next" id="siguienteProductos">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            
        <!--Modales-->  
            
        <div class="modal fade" id="ModalAddProducto" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                            Registrar nuevo producto
                        </h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="modal-body">
                                <!-- Pills navs -->
                                <ul class="nav nav-pills mb-3" id="ex1" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link active" id="ex1-tab-1" href="#ex1-pills-1" role="tab"
                                            aria-controls="ex1-pills-1" aria-selected="true">Datos generales</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-2" href="#ex1-pills-2" role="tab"
                                            aria-controls="ex1-pills-2" aria-selected="false">Datos financieros</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-3" href="#ex1-pills-3" role="tab"
                                            aria-controls="ex1-pills-3" aria-selected="false">Otros</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-4" href="#ex1-pills-4" role="tab"
                                            aria-controls="ex1-pills-4" aria-selected="false">Proveedores</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-5" href="#ex1-pills-5" role="tab"
                                            aria-controls="ex1-pills-5" aria-selected="false">Productos adicionales</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-8" href="#ex1-pills-8" role="tab"
                                            aria-controls="ex1-pills-8" aria-selected="false">Productos complementarios</a>
                                    </li>
                                    <li id="productoKitVisibility" class="nav-item" role="presentation" style="visibility:visible;">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-6" href="#ex1-pills-6" role="tab"
                                            aria-controls="ex1-pills-6" aria-selected="false">Productos del kit</a>
                                    </li>
                                    <li id="productoGrupoVisibility" class="nav-item" role="presentation" style="visibility: visible;">
                                        <a data-mdb-pill-init class="nav-link" id="ex1-tab-7" href="#ex1-pills-7" role="tab"
                                            aria-controls="ex1-pills-7" aria-selected="false">Productos del grupo</a>
                                    </li>
                                </ul>
                                <!-- Pills navs -->
                            
                                <!-- Pills content -->
                                <div class="tab-content" id="ex1-content">
                                    <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="claveProducto" class="col-form-label">Clave:</label>
                                                <input type="text" class="form-control" id="claveProducto" />
                                            </div>
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="claveAlterna" class="col-form-label">Clave alterna:</label>
                                                <input type="text" class="form-control" id="claveAlterna" />
                                            </div>
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="codigoBarra" class="col-form-label">Codigo de barra:</label>
                                                <input type="text" class="form-control" id="codigoBarra" />
                                            </div>
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="nombreProducto" class="col-form-label">Nombre:</label>
                                                <input type="text" class="form-control" id="nombreProducto" />
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="claveSAT" class="col-form-label">Clave SAT:</label>
                                                <input type="text" class="form-control" id="claveSAT" />
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="codigoBarraAlterno" class="col-form-label">Codigo de barra:</label>
                                                <input type="text" class="form-control" id="codigoBarraAlterno" />
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="activo" class="col-form-label">Estado:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="estado" id="activo" value="activo" checked>
                                                    <label class="form-check-label" for="activo">
                                                        Activo
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="estado" id="inactivo" value="inactivo">
                                                    <label class="form-check-label" for="inactivo">
                                                        Inactivo
                                                    </label>
                                                </div>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="col-form-label" for="esKit">Tipo de Producto:</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="esKit" value="esKit">
                                                    <label class="form-check-label" for="esKit">
                                                        Es kit
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="esProducto" value="esProducto">
                                                    <label class="form-check-label" for="esProducto">
                                                        Es Grupo de Productos
                                                    </label>
                                                </div>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="categoria">Categoria:</label>
                                                <select id="categoria" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="grupo">Grupo:</label>
                                                <select id="grupo" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="marca">Marca:</label>
                                                <select id="marca" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="tipoProductoSelect">Tipo de producto:</label>
                                                <select id="tipoProductoSelect" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="linea">Linea:</label>
                                                <select id="linea" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="departamento">Departamento:</label>
                                                <select id="departamento" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="unidad">Unidad:</label>
                                                <select id="unidad" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" class="form-label" for="impuesto">Impuesto:</label>
                                                <select id="impuesto" class="form-select" aria-label="Combo box example">
                                                </select>
                                            </div>
                                    
                                            <div class="col-md-4" style="margin-top: 10px;">
                                                <label style="font-weight: 600;" class="form-label" for="observaciones">Observaciones:</label>
                                                <div class="form-outline" data-mdb-input-init>
                                                    <textarea class="form-control" id="observaciones" rows="4"></textarea>
                                                    <label class="form-label" for="observaciones">Message</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="tiempoSurtido" class="col-form-label">Tiempo de surtido</label>
                                                <input type="number" class="form-control" id="tiempoSurtido" name="tiempoSurtido" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="controlAlmacen" class="col-form-label">Control de almacén</label>
                                                <input type="text" class="form-control" id="controlAlmacen" />
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="volumen" class="col-form-label">Volumen</label>
                                                <input type="number" class="form-control" id="volumen" name="volumen" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="peso" class="col-form-label">Peso</label>
                                                <input type="number" class="form-control" id="peso" name="peso" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="stockMinimo" class="col-form-label">Stock minimo</label>
                                                <input type="number" class="form-control" id="stockMinimo" name="stockMinimo" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="stockMaximo" class="col-form-label">Stock máximo</label>
                                                <input type="number" class="form-control" id="stockMaximo" name="stockMaximo" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="costo" class="col-form-label">Costo</label>
                                                <input type="number" class="form-control" id="costo" name="costo" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="ultimoCosto" class="col-form-label">Último costo</label>
                                                <input type="number" class="form-control" id="ultimoCosto" name="ultimoCosto" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="costoPromedio" class="col-form-label">Costo promedio</label>
                                                <input type="number" class="form-control" id="costoPromedio" name="costoPromedio" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="numeroPrecioMinimo" class="col-form-label">Número precio mínimo</label>
                                                <input type="number" class="form-control" id="numeroPrecioMinimo" name="numeroPrecioMinimo" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="numeroPrecioMaximo" class="col-form-label">Número precio máximo</label>
                                                <input type="number" class="form-control" id="numeroPrecioMaximo" name="numeroPrecioMaximo" min="0">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label style="font-weight: 600;" for="presentacion" class="col-form-label">Presentación</label>
                                                <input type="text" class="form-control" id="presentacion" />
                                            </div>
                                    
                                            <div class="col-md-3" style="margin-top: 10px; margin-bottom: 10px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="calcularPrecio" value="calcularPrecio">
                                                    <label class="form-check-label" for="calcularPrecio">
                                                        Calcular precio
                                                    </label>
                                                </div>
                                            </div>
                                    
                                            <hr class="my-4">
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio1" class="col-form-label">Porcentaje precio 1</label>
                                                <input type="number" class="form-control" id="porcentajePrecio1" name="porcentajePrecio1" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio1" class="col-form-label">Precio 1</label>
                                                <input type="number" class="form-control" id="precio1" name="precio1" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio2" class="col-form-label">Porcentaje precio 2</label>
                                                <input type="number" class="form-control" id="porcentajePrecio2" name="porcentajePrecio2" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio2" class="col-form-label">Precio 2</label>
                                                <input type="number" class="form-control" id="precio2" name="precio2" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio3" class="col-form-label">Porcentaje precio 3</label>
                                                <input type="number" class="form-control" id="porcentajePrecio3" name="porcentajePrecio3" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio3" class="col-form-label">Precio 3</label>
                                                <input type="number" class="form-control" id="precio3" name="precio3" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio4" class="col-form-label">Porcentaje precio 4</label>
                                                <input type="number" class="form-control" id="porcentajePrecio4" name="porcentajePrecio4" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio4" class="col-form-label">Precio 4</label>
                                                <input type="number" class="form-control" id="precio4" name="precio4" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio5" class="col-form-label">Porcentaje precio 5</label>
                                                <input type="number" class="form-control" id="porcentajePrecio5" name="porcentajePrecio5" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio5" class="col-form-label">Precio 5</label>
                                                <input type="number" class="form-control" id="precio5" name="precio5" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio6" class="col-form-label">Porcentaje precio 6</label>
                                                <input type="number" class="form-control" id="porcentajePrecio6" name="porcentajePrecio6" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio6" class="col-form-label">Precio 6</label>
                                                <input type="number" class="form-control" id="precio6" name="precio6" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio7" class="col-form-label">Porcentaje precio 7</label>
                                                <input type="number" class="form-control" id="porcentajePrecio7" name="porcentajePrecio7" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio7" class="col-form-label">Precio 7</label>
                                                <input type="number" class="form-control" id="precio7" name="precio7" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio8" class="col-form-label">Porcentaje precio 8</label>
                                                <input type="number" class="form-control" id="porcentajePrecio8" name="porcentajePrecio8" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio8" class="col-form-label">Precio 8</label>
                                                <input type="number" class="form-control" id="precio8" name="precio8" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio9" class="col-form-label">Porcentaje precio 9</label>
                                                <input type="number" class="form-control" id="porcentajePrecio9" name="porcentajePrecio9" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio9" class="col-form-label">Precio 9</label>
                                                <input type="number" class="form-control" id="precio9" name="precio9" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label for="porcentajePrecio10" class="col-form-label">Porcentaje precio 10</label>
                                                <input type="number" class="form-control" id="porcentajePrecio10" name="porcentajePrecio10" min="0">
                                            </div>
                                    
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="precio10" class="col-form-label">Precio 10</label>
                                                <input type="number" class="form-control" id="precio10" name="precio10" min="0">
                                            </div>

                                            <hr class="my-4">

                                            <!-- Rango 1 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial1" class="col-form-label">Rango inicial 1</label>
                                                <input type="number" class="form-control" id="rangoInicial1" name="rangoInicial1" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal1" class="col-form-label">Rango final 1</label>
                                                <input type="number" class="form-control" id="rangoFinal1" name="rangoFinal1" min="0">
                                            </div>
                                        
                                            <!-- Rango 2 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial2" class="col-form-label">Rango inicial 2</label>
                                                <input type="number" class="form-control" id="rangoInicial2" name="rangoInicial2" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal2" class="col-form-label">Rango final 2</label>
                                                <input type="number" class="form-control" id="rangoFinal2" name="rangoFinal2" min="0">
                                            </div>
                                        
                                            <!-- Rango 3 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial3" class="col-form-label">Rango inicial 3</label>
                                                <input type="number" class="form-control" id="rangoInicial3" name="rangoInicial3" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal3" class="col-form-label">Rango final 3</label>
                                                <input type="number" class="form-control" id="rangoFinal3" name="rangoFinal3" min="0">
                                            </div>
                                        
                                            <!-- Rango 4 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial4" class="col-form-label">Rango inicial 4</label>
                                                <input type="number" class="form-control" id="rangoInicial4" name="rangoInicial4" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal4" class="col-form-label">Rango final 4</label>
                                                <input type="number" class="form-control" id="rangoFinal4" name="rangoFinal4" min="0">
                                            </div>
                                        
                                            <!-- Rango 5 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial5" class="col-form-label">Rango inicial 5</label>
                                                <input type="number" class="form-control" id="rangoInicial5" name="rangoInicial5" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal5" class="col-form-label">Rango final 5</label>
                                                <input type="number" class="form-control" id="rangoFinal5" name="rangoFinal5" min="0">
                                            </div>
                                        
                                            <!-- Rango 6 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial6" class="col-form-label">Rango inicial 6</label>
                                                <input type="number" class="form-control" id="rangoInicial6" name="rangoInicial6" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal6" class="col-form-label">Rango final 6</label>
                                                <input type="number" class="form-control" id="rangoFinal6" name="rangoFinal6" min="0">
                                            </div>
                                        
                                            <!-- Rango 7 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial7" class="col-form-label">Rango inicial 7</label>
                                                <input type="number" class="form-control" id="rangoInicial7" name="rangoInicial7" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal7" class="col-form-label">Rango final 7</label>
                                                <input type="number" class="form-control" id="rangoFinal7" name="rangoFinal7" min="0">
                                            </div>
                                        
                                            <!-- Rango 8 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial8" class="col-form-label">Rango inicial 8</label>
                                                <input type="number" class="form-control" id="rangoInicial8" name="rangoInicial8" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal8" class="col-form-label">Rango final 8</label>
                                                <input type="number" class="form-control" id="rangoFinal8" name="rangoFinal8" min="0">
                                            </div>
                                        
                                            <!-- Rango 9 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial9" class="col-form-label">Rango inicial 9</label>
                                                <input type="number" class="form-control" id="rangoInicial9" name="rangoInicial9" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal9" class="col-form-label">Rango final 9</label>
                                                <input type="number" class="form-control" id="rangoFinal9" name="rangoFinal9" min="0">
                                            </div>
                                        
                                            <!-- Rango 10 -->
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoInicial10" class="col-form-label">Rango inicial 10</label>
                                                <input type="number" class="form-control" id="rangoInicial10" name="rangoInicial10" min="0">
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <label style="font-weight: 600;" for="rangoFinal10" class="col-form-label">Rango final 10</label>
                                                <input type="number" class="form-control" id="rangoFinal10" name="rangoFinal10" min="0">
                                            </div>
                                            


                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="imagen" class="col-form-label">Subir imagen:</label>
                                            <input class="form-control" type="file" id="imagen" name="imagen" accept="image/*">
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="busquedaProveedor" class="col-form-label">Buscar proveedor:</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="busquedaProveedor" placeholder="Ingrese el nombre del proveedor">
                                                <button class="btn btn-primary" type="button" id="agregarProveedor">Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" for="proveedorInput" class="col-form-label">Proveedores seleccionados:</label>
                                            <input type="text" id="proveedorInput" name="proveedorInput" class="form-control">
                                            <ul class="list-group" id="proveedoresSeleccionados">
                                                <!-- Aquí se irán agregando los proveedores -->
                                            </ul>
                                        </div>
                                        
                                    </div>

                                    <div class="tab-pane fade" id="ex1-pills-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="busquedaProducto" class="col-form-label">Buscar producto:</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="busquedaProducto" placeholder="Ingrese el nombre del producto">
                                                <button class="btn btn-primary" type="button" id="agregarProducto">Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" class="col-form-label">Productos seleccionados:</label>
                                            <ul class="list-group" id="productosSeleccionados">
                                                <!-- Aquí se irán agregando los productos -->
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-6" role="tabpanel" aria-labelledby="ex1-tab-6">
                                        <label style="font-weight: 600;" for="busquedaProductoKit" class="col-form-label">Buscar producto del kit:</label>
                                    
                                        <div class="col-md-12 d-flex align-items-center">
                                            <div class="col-md-6 pe-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="busquedaProductoKit" placeholder="Ingrese el nombre del producto del kit">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3 d-flex align-items-center">
                                                <input type="number" class="form-control me-2" id="cantidadProductoKit" placeholder="Cantidad" min="1">
                                                <button class="btn btn-primary" type="button" id="agregarProductoKit">Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" class="col-form-label">Productos del kit seleccionados:</label>
                                            <ul class="list-group" id="productosKitSeleccionados">
                                                <!-- Aquí se irán agregando los productos del kit -->
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-7" role="tabpanel" aria-labelledby="ex1-tab-7">
                                        <label style="font-weight: 600;" for="busquedaProductoGrupo" class="col-form-label">Buscar producto del grupo:</label>
                                    
                                        <div class="col-md-12 d-flex align-items-center">
                                            <div class="col-md-6 pe-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="busquedaProductoGrupo" placeholder="Ingrese el nombre del producto del grupo">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3 d-flex align-items-center">
                                                <input type="number" class="form-control me-2" id="cantidadProductoGrupo" placeholder="Cantidad" min="1">
                                                <button class="btn btn-primary" type="button" id="agregarProductoGrupo">Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" class="col-form-label">Productos del grupo seleccionados:</label>
                                            <ul class="list-group" id="productosGrupoSeleccionados">
                                                <!-- Aquí se irán agregando los productos del grupo -->
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="ex1-pills-8" role="tabpanel" aria-labelledby="ex1-tab-8">
                                        <label style="font-weight: 600;" for="busquedaProductoComplementario" class="col-form-label">Agregar producto complementario:</label>
                                    
                                        <div class="col-md-12 d-flex align-items-center">
                                            <div class="col-md-6 pe-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="busquedaProductoComplementario" placeholder="Ingrese el nombre del producto complementario">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3 d-flex align-items-center">
                                                <input type="number" class="form-control me-2" id="cantidadProductoComplementario" placeholder="Cantidad" min="1">
                                                <button class="btn btn-primary" type="button" id="agregarProductoComplementario">Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" class="col-form-label">Productos complementarios:</label>
                                            <ul class="list-group" id="productosComplementariosSeleccionados">
                                                <!-- Aquí se irán agregando los productos complementarios -->
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- Pills content -->
                            
                                <div class="modal-footer d-flex justify-content-between align-items-center">
                                    <h5 class="text-start mb-0">Precio sugerido: $100</h5>
                                    <div>
                                        <button type="button" class="btn btn-success" data-mdb-dismiss="modal">Recalcular precio</button>
                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                                        <button type="submit" id="btnGuardarProducto" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Categoria -->
        <div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="modalCategoriaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCategoriaLabel">Categoria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form12-1" class="form-control" />
                                    <label class="form-label" for="form12-1">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form12-2" class="form-control" />
                                    <label class="form-label" for="form12-2">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form12-3" class="form-control" />
                                    <label class="form-label" for="form12-3">Descripción</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAdd" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>
                        
                        

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                  <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="categoriaData" class="table-group-divider">
                                    <!-- Aquí se cargarán los productos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationCategorias">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaCategorias(currentPageCategorias - 1)" aria-label="Previous" id="anteriorCategorias">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaCategorias(currentPageCategorias + 1)" aria-label="Next" id="siguienteCategorias">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                          </div>





                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Grupo -->
        <div class="modal fade" id="modalGrupo" tabindex="-1" aria-labelledby="modalGrupoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalGrupoLabel">Grupo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="claveGrupo" class="form-control" />
                                    <label class="form-label" for="claveGrupo">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="nombreGrupo" class="form-control" />
                                    <label class="form-label" for="nombreGrupo">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="descripcionGrupo" class="form-control" />
                                    <label class="form-label" for="descripcionGrupo">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddGrupo" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="grupoData" class="table-group-divider">
                                    <!-- Aquí se cargarán los grupos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationGrupos">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaGrupos(currentPageGrupos - 1)" aria-label="Previous" id="anteriorGrupos">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaGrupos(currentPageGrupos + 1)" aria-label="Next" id="siguienteGrupos">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Marca -->
        <div class="modal fade" id="modalMarca" tabindex="-1" aria-labelledby="modalMarcaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalMarcaLabel">Marca</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="claveMarca" class="form-control" />
                                    <label class="form-label" for="claveMarca">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="nombreMarca" class="form-control" />
                                    <label class="form-label" for="nombreMarca">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="descripcionMarca" class="form-control" />
                                    <label class="form-label" for="descripcionMarca">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddMarca" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="marcaData" class="table-group-divider">
                                    <!-- Aquí se cargarán las marcas -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationMarcas">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaMarcas(currentPageMarcas - 1)" aria-label="Previous" id="anteriorMarcas">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaMarcas(currentPageMarcas + 1)" aria-label="Next" id="siguienteMarcas">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal TipoProducto -->
        <div class="modal fade" id="modalTipoProducto" tabindex="-1" aria-labelledby="modalTipoProductoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTipoProductoLabel">Tipo de Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formTipoProductoClave" class="form-control" />
                                    <label class="form-label" for="formTipoProductoClave">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formTipoProductoNombre" class="form-control" />
                                    <label class="form-label" for="formTipoProductoNombre">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formTipoProductoDescripcion" class="form-control" />
                                    <label class="form-label" for="formTipoProductoDescripcion">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddTipoProducto" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tipoProductoData" class="table-group-divider">
                                    <!-- Aquí se cargarán los tipos de productos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationTipoProductos">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaTipoProductos(currentPageTipoProductos - 1)" aria-label="Previous" id="anteriorTipoProductos">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaTipoProductos(currentPageTipoProductos + 1)" aria-label="Next" id="siguienteTipoProductos">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Línea -->
        <div class="modal fade" id="modalLinea" tabindex="-1" aria-labelledby="modalLineaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLineaLabel">Línea</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formLineaClave" class="form-control" />
                                    <label class="form-label" for="formLineaClave">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formLineaNombre" class="form-control" />
                                    <label class="form-label" for="formLineaNombre">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formLineaDescripcion" class="form-control" />
                                    <label class="form-label" for="formLineaDescripcion">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddLinea" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lineaData" class="table-group-divider">
                                    <!-- Aquí se cargarán las líneas -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationLineas">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaLineas(currentPageLineas - 1)" aria-label="Previous" id="anteriorLineas">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaLineas(currentPageLineas + 1)" aria-label="Next" id="siguienteLineas">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Departamento -->
        <div class="modal fade" id="modalDepartamento" tabindex="-1" aria-labelledby="modalDepartamentoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDepartamentoLabel">Departamento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formDepartamentoClave" class="form-control" />
                                    <label class="form-label" for="formDepartamentoClave">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formDepartamentoNombre" class="form-control" />
                                    <label class="form-label" for="formDepartamentoNombre">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formDepartamentoDescripcion" class="form-control" />
                                    <label class="form-label" for="formDepartamentoDescripcion">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddDepartamento" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="departamentoData" class="table-group-divider">
                                    <!-- Aquí se cargarán los departamentos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationDepartamentos">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaDepartamentos(currentPageDepartamentos - 1)" aria-label="Previous" id="anteriorDepartamentos">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaDepartamentos(currentPageDepartamentos + 1)" aria-label="Next" id="siguienteDepartamentos">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Unidad -->
        <div class="modal fade" id="modalUnidad" tabindex="-1" aria-labelledby="modalUnidadLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalUnidadLabel">Unidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formUnidadClave" class="form-control" />
                                    <label class="form-label" for="formUnidadClave">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formUnidadNombre" class="form-control" />
                                    <label class="form-label" for="formUnidadNombre">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formUnidadDescripcion" class="form-control" />
                                    <label class="form-label" for="formUnidadDescripcion">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnAddUnidad" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Agregar <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="unidadData" class="table-group-divider">
                                    <!-- Aquí se cargarán las unidades -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationUnidades">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaUnidades(currentPageUnidades - 1)" aria-label="Previous" id="anteriorUnidades">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaUnidades(currentPageUnidades + 1)" aria-label="Next" id="siguienteUnidades">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Impuesto -->
        <div class="modal fade" id="modalImpuesto" tabindex="-1" aria-labelledby="modalImpuestoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalImpuestoLabel">Impuesto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="formImpuestoId" /> <!-- Campo oculto para el ID del impuesto -->

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formImpuestoClave" class="form-control" />
                                    <label class="form-label" for="formImpuestoClave">Clave</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formImpuestoNombre" class="form-control" />
                                    <label class="form-label" for="formImpuestoNombre">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="formImpuestoDescripcion" class="form-control" />
                                    <label class="form-label" for="formImpuestoDescripcion">Descripción</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-end">
                                <button id="btnSaveImpuesto" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                    Guardar <i class="fa-solid fa-save" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive pt-3">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr class="text-center">
                                        <th scope="col">Clave</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="impuestoData" class="table-group-divider">
                                    <!-- Aquí se cargarán los impuestos -->
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center pt-3">
                                <ul class="pagination" id="paginationImpuestos">
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaImpuestos(currentPageImpuestos - 1)" aria-label="Previous" id="anteriorImpuestos">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="cambiarPaginaImpuestos(currentPageImpuestos + 1)" aria-label="Next" id="siguienteImpuestos">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>




        </div>
    </main>


    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/main.js"></script>


    <script src="js/productos/productos.js"></script>
    <script src="js/productos/productosGet.js"></script>
    <script src="js/productos/productosDelete.js"></script>


</body>

</html>
