<% extraStyles=` `; %>


    <main style="margin-top: 20px">
        <div class="container pt-4">
            <h3 class="text-center">Producción</h3>
            <div class="tab-content" id="pills-tabContent2">


                <div class="table-responsive pt-3">
                    <table id="tablaProducciones" class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr class="text-center">
                                <th scope="col">Folio</th>
                                <th scope="col">Lote</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Nombre producto</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <!-- Aquí se cargarán las sucursales -->
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="modal fade" id="VerProduccion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                                Formula en produccion
                            </h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
            
                            <div class="col-md-12">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label for="fecha" class="form-label" style="margin: 0;">Fecha:</label>
                                    <p id="fecha" style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;" disabled>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label for="nombreProducto" class="form-label" style="margin: 0;">Nombre:</label>
                                    <p id="nombreProducto" style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;"
                                        disabled></p>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label for="cantidad" class="form-label" style="margin: 0;">Cantidad:</label>
                                    <p id="cantidad" style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;" disabled>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label for="folio" class="form-label" style="margin: 0;">Folio:</label>
                                    <p id="folio" style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;" disabled></p>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label for="lote" class="form-label" style="margin: 0;">No. Lote:</label>
                                    <p id="lote" style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;" disabled></p>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <label for="estado" class="form-label" style="margin: 0; min-width: 100px;">Estado:</label>
                                    <span id="estado"
                                        style="margin: 0; border-radius: 5px; text-align: center; flex: 1;"></span>
                                </div>
                            </div>


                                <hr style="margin: 20px;">
            
                                <div class="table-responsive">
                                    <table class="table mt-2">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Clave</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody id="materiasPrimasTable"></tbody>
                                    </table>
                                </div>
            
            
            
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>



<% extraScripts=`
        <script src="js/produccion/produccionAdmin.js"></script>
`; %>


