<% extraStyles=` `; %>

    <main style="margin-top: 10px">
        <div class="container pt-4">
            <h3 class="text-center mb-4">Documentos</h3>

            <div class="tab-content" id="pills-tabContent2">
            
                <div class="d-flex justify-content-end" style="margin-top: 20px;">
                    <button id="btnAñadirDocumento" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark"
                        data-mdb-toggle="modal" data-mdb-target="#ModalDocumentos" data-mdb-whatever="@mdo">
                        Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                    </button>
                </div>


                <div class="table-responsive pt-3">
                    <table id="tablaDocumentos" class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr class="text-center">
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <!-- Aquí se cargarán las sucursales -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="modal fade" id="ModalDocumentos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <i class="fa-regular fa-file" style="color: #000000;"></i>
                            Subir Documento
                        </h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formDocumentos" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="nombreDocumento" class="form-label">Nombre del Documento</label>
                                <input type="text" class="form-control" id="nombreDocumento" name="nombre"
                                    placeholder="Nombre del documento" required>
                            </div>
                            <div class="mb-3">
                                <label for="descripcionDocumento" class="form-label">Descripción</label>
                                <textarea class="form-control" id="descripcionDocumento" name="descripcion" rows="3"
                                    placeholder="Descripción breve del documento" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="archivoDocumento" class="form-label">Subir Archivo</label>
                                <input type="file" class="form-control" id="archivoDocumento" name="archivo"
                                    accept=".pdf,.doc,.docx" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" id="guardarDocumento">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

<% extraScripts=`
    <script src="js/capacitacion/admin/documentosAdmin.js"></script>
`; %>

