<% extraStyles=` 
    <style>
        .sugerencia {
            padding: 8px;
            background: #f8f9fa;
            border: 1px solid #ddd;
            cursor: pointer;
        }
        .sugerencia:hover {
            background: #e2e6ea;s
        }

    </style>
`; %>

<main style="margin-top: 20px">
    <div class="container-fluid pt-4" style="width: 80%;">
        <h3 class="text-center">Cotizaciones</h3>

        <!-- Botón para abrir el modal -->
        <div class="text-end mt-4">
            <button type="button" class="btn btn-primary btn-rounded" data-bs-toggle="modal"
                data-bs-target="#cotizacionModal">
                Crear
            </button>
        </div>


        <div class="table-responsive pt-3">
            <table id="tablaCotizaciones" class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr class="text-center">
                        <th scope="col">Folio</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Total</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <!-- Aquí se cargarán las sucursales -->
                </tbody>
            </table>
        </div>
    </div>






    <!-- Modal para Crear -->
    <div class="modal fade" id="cotizacionModal" tabindex="-1" aria-labelledby="cotizacionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Encabezado del Modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="cotizacionModalLabel">Crear Cotización</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Cuerpo del Modal -->
                <div class="modal-body">
                    <!-- Pills de navegación -->
                    <ul class="nav nav-pills mb-4" id="cotizacionPills" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="cliente-tab" data-bs-toggle="pill"
                                data-bs-target="#cliente" type="button" role="tab" aria-controls="cliente"
                                aria-selected="true">Seleccionar
                                Cliente</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="productos-tab" data-bs-toggle="pill"
                                data-bs-target="#productos" type="button" role="tab" aria-controls="productos"
                                aria-selected="false" disabled>Agregar
                                Productos</button>
                        </li>
                    </ul>

                    <!-- Contenido de las secciones -->
                    <div class="tab-content" id="cotizacionPillsContent">
                        <!-- Selección del cliente -->
                        <div class="tab-pane fade show active" id="cliente" role="tabpanel"
                            aria-labelledby="cliente-tab">
                            <h5>Seleccionar Cliente</h5>
                            <div class="mb-3">
                                <label for="buscarCliente" class="form-label">Buscar Cliente</label>
                                <input type="text" id="buscarCliente" class="form-control"
                                    placeholder="Buscar cliente por nombre o teléfono">
                                <div id="sugerenciasContainer" class="mt-2"></div>
                            </div>
                            
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" style="margin-left: 70px;">
                                        <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>


                            <!-- Detalles del cliente -->
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="nombreCliente" class="form-label">Nombre</label>
                                    <input type="text" id="nombreCliente" class="form-control" >
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="telefonoCliente" class="form-label">Teléfono</label>
                                    <input type="text" id="telefonoCliente" class="form-control" >
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="correoCliente" class="form-label">Correo</label>
                                    <input type="text" id="correoCliente" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="streetCliente" class="form-label">Calle</label>
                                    <input type="text" id="streetCliente" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="exteriorNumberCliente" class="form-label">Número Exterior</label>
                                    <input type="text" id="exteriorNumberCliente" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="interiorNumberCliente" class="form-label">Número Interior</label>
                                    <input type="text" id="interiorNumberCliente" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="colonyCliente" class="form-label">Colonia</label>
                                    <input type="text" id="colonyCliente" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="localityCliente" class="form-label">Localidad</label>
                                    <input type="text" id="localityCliente" class="form-control" >
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="municipalityCliente" class="form-label">Municipio</label>
                                    <input type="text" id="municipalityCliente" class="form-control" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="zipCodeCliente" class="form-label">Código Postal</label>
                                    <input type="text" id="zipCodeCliente" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="stateCliente" class="form-label">Estado</label>
                                    <input type="text" id="stateCliente" class="form-control" >
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="countryCliente" class="form-label">País</label>
                                    <input type="text" id="countryCliente" class="form-control" >
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="button" class="btn btn-primary"
                                    id="btnSiguienteProductos">Siguiente</button>
                            </div>
                        </div>

                        <!-- Agregar productos -->
                        <div class="tab-pane fade" id="productos" role="tabpanel" aria-labelledby="productos-tab">
                            <h5>Agregar Productos</h5>
                            <div class="mb-3">
                                <label for="buscarProducto" class="form-label">Buscar Producto</label>
                                <div class="input-group">
                                    <input type="text" id="buscarProducto" class="form-control"
                                        placeholder="Buscar producto por nombre o referencia">
                                    <button class="btn btn-secondary" id="btnAgregarProducto">Agregar</button>
                                </div>
                                <div id="sugerenciasProducto" class="list-group mt-2"
                                    style="position: absolute; z-index: 100; width: 60%; background-color: white;">
                                </div>
                            </div>

                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Total</th>
                                        <th>Precios y Rangos</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaProductos">
                                    <!-- Aquí se irán agregando los productos -->
                                </tbody>
                            </table>

                            <!-- Resumen dentro de la misma sección -->
                            <div class="mt-4">
                                <h5>Resumen</h5>
                                <div class="d-flex justify-content-between">
                                    <p>Subtotal:</p>
                                    <p id="subtotalCotizacion">$0.00</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5>Total:</h5>
                                    <h5 id="totalCotizacion">$0.00</h5>
                                </div>
                            </div>
                            <div class="text-end mt-4">
                                <button id="btnGenerarCotizacion" type="button" class="btn btn-success">Finalizar
                                    Cotización</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Pie del Modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Ver Detalles -->
    <div class="modal fade" id="modalDetallesCotizacion" tabindex="-1" aria-labelledby="modalDetallesLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetallesLabel">Detalles de la Cotización</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Folio:</strong> <span id="detalleFolio"></span></p>
                    <p><strong>Cliente:</strong> <span id="detalleCliente"></span></p>
                    <p><strong>Dirección:</strong> <span id="detalleDireccion"></span></p>
                    <p><strong>Total General:</strong> $<span id="detalleTotalGeneral"></span></p>
                    <p><strong>Fecha:</strong> <span id="detalleFecha"></span></p>
                    <h5>Productos:</h5>
                    <ul id="detalleProductos"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar -->
    <div class="modal fade" id="editarCotizacionModal" tabindex="-1" aria-labelledby="editarCotizacionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarCotizacionModalLabel">Editar Cotización</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Mostrar el nombre del cliente -->
                    <h5 id="nombreClienteCotizacion" class="mb-4"></h5>
    
                    <!-- Buscar y agregar productos -->
                    <div class="mb-3">
                        <label for="buscarProductoEditar" class="form-label">Buscar Producto</label>
                        <div class="input-group">
                            <input type="text" id="buscarProductoEditar" class="form-control"
                                placeholder="Buscar producto por nombre o referencia">
                            <button class="btn btn-secondary" id="btnAgregarProductoEditar">Agregar</button>
                        </div>
                        <div id="sugerenciasProductoEditar" class="list-group mt-2"
                            style="position: absolute; z-index: 100; width: 60%; background-color: white;">
                        </div>
                    </div>
    
                    <!-- Tabla de productos -->
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                                <th>Precios y Rangos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tablaProductosEditar">
                            <!-- Aquí se irán agregando los productos -->
                        </tbody>
                    </table>
    
                    <!-- Resumen -->
                    <div class="mt-4">
                        <h5>Resumen</h5>
                        <div class="d-flex justify-content-between">
                            <p>Subtotal:</p>
                            <p id="subtotalCotizacionEditar">$0.00</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5>Total:</h5>
                            <h5 id="totalCotizacionEditar">$0.00</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="btnActualizarCotizacion" type="button" class="btn btn-success">Actualizar
                        Cotización</button>
                </div>
            </div>
        </div>
    </div>






</main>

<% extraScripts=` 
    <script src="js/cotizaciones/cotizacionAdmin.js"></script>
`; %>


