<div class="container text-center">
    <img src="/img/logoColor.png" alt="Mundi Novi Logo" class="mb-4" style="max-width: 150px; margin-top: 50px;">
    <h1 class="display-4 text-danger">404</h1>
    <p class="lead">Lo sentimos, la página que buscas no está disponible.</p>
    <p>Es posible que la página haya sido eliminada, movida o que la URL sea incorrecta.</p>
    <a href="/main" class="btn btn-primary mt-3">
        <i class="fas fa-home"></i> Volver al Inicio
    </a>
</div>