<% extraStyles=` 
        <style>
        .suggestion-item.selected {
            background-color: #ddd;
            cursor: pointer;
        }
        .suggestions {
            max-height: 150px;
            overflow-y: auto;
        }
    </style>
`; %>

    <main style="margin-top: 20px">
        <div class="container pt-4">
            <h3 class="text-center"><i class="fa-solid fa-dolly"></i> Codigos de barras</h3>

            <!-- Input para buscar el producto y cantidad de códigos de barras -->
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-5">
                    <label for="productoSearch" class="form-label">Buscar Producto</label>
                    <input type="text" class="form-control" id="productoSearch"
                        placeholder="Escribe el nombre o referencia del producto">
                    <div id="suggestions" class="suggestions"></div> <!-- Sugerencias de búsqueda -->
                </div>
                <div class="col-md-4">
                    <label for="cantidadCodigos" class="form-label">Cantidad de códigos de barras</label>
                    <input type="number" class="form-control" id="cantidadCodigos" placeholder="Cantidad">
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button class="btn btn-primary" id="agregarBtn">Agregar</button>
                    <button class="btn btn-secondary ms-2" id="generarCodigosBtn">Generar PDF</button>
                </div>
            </div>
    
            <!-- Tabla para mostrar productos seleccionados -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table" id="productosSeleccionados">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Código de Barras</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se añadirán los productos seleccionados -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>



<% extraScripts=` 
        <script src="js/codigosBarras/codigosBarras.js" ></script>
`; %>

