<% extraStyles=` `; %>


    <main style="margin-top: 20px">
        <div class="container pt-4">
            <h3 class="text-center">Proveedor</h3>
            <div class="tab-content" id="pills-tabContent2">
                <div class="d-flex justify-content-end " style="margin-top: 20px;">

                    <button id="btnAñadirProveedor" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark"
                        data-mdb-toggle="modal" data-mdb-target="#modalProveedor" data-mdb-whatever="@mdo">
                        Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                    </button>

                </div>
                <div class="table-responsive pt-3">
                    <table id="tablaProveedores" class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr class="text-center">
                                <th scope="col">Nombre</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <!-- Aquí se cargarán las sucursales -->
                        </tbody>
                    </table>
                </div>
                


            </div>


            <!--Modal registrar provedor-->
            <div class="modal fade" id="modalProveedor" tabindex="-1" aria-labelledby="modalProveedorLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalProveedorLabel">Registrar Proveedor</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="correo" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="correo" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="calle" class="form-label">Calle</label>
                                    <input type="text" class="form-control" id="calle" required autocomplete="off" >
                                </div>
                                <div class="col-md-4">
                                    <label for="ciudad" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" id="ciudad" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="estado" class="form-label">Estado</label>
                                    <input type="text" class="form-control" id="estado" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="codigoPostal" class="form-label">Código Postal</label>
                                    <input type="text" class="form-control" id="codigoPostal" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="pais" class="form-label">País</label>
                                    <input type="text" class="form-control" id="pais" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="estadoProveedor" class="form-label">Estado</label>
                                    <select class="form-select" id="estadoProveedor" required>
                                        <option value="activo">Activo</option>
                                        <option value="inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="guardarProveedor">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Editar Proveedor -->
            <div class="modal fade" id="modalEditarProveedor" tabindex="-1" aria-labelledby="modalEditarProveedorLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditarProveedorLabel">Editar Proveedor</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="editNombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="editNombre" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editTelefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="editTelefono" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editCorreo" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="editCorreo" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editCalle" class="form-label">Calle</label>
                                    <input type="text" class="form-control" id="editCalle" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editCiudad" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" id="editCiudad" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editEstado" class="form-label">Estado</label>
                                    <input type="text" class="form-control" id="editEstado" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editCodigoPostal" class="form-label">Código Postal</label>
                                    <input type="text" class="form-control" id="editCodigoPostal" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editPais" class="form-label">País</label>
                                    <input type="text" class="form-control" id="editPais" required autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label for="editEstadoProveedor" class="form-label">Estado</label>
                                    <select class="form-select" id="editEstadoProveedor" required>
                                        <option value="activo">Activo</option>
                                        <option value="inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="actualizarProveedor">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>

    </main>



<% extraScripts=` 
    <script src="js/proveedor/proveedor.js"></script>
    <script src="js/proveedor/proveedorDel.js"></script>
    <script src="js/proveedor/proveedorEdit.js"></script>
`; %>

