<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mundi Novi 2024</title>
    <link rel="icon" href="img/logoColor.png" type="image/png">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" />
    <style>
        /* Estilos para la lista desplegable */
        #listaProductos {
            max-height: 300px;
            overflow-y: auto;
            position: absolute;
            background: white;
            border: 1px solid #ddd;
            z-index: 1000;
        }
        #listaProductos .list-group-item {
            cursor: pointer;
        }
        #sugerencias {
            position: absolute;
            border: 1px solid #ddd;
            background: #fff;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000;
        }
        .sugerencia {
            padding: 10px;
            cursor: pointer;
        }
        .sugerencia.seleccionado {
            background: #ddd;
        }
        .total {
            font-weight: bold;
        }

        #listaClientes {
            max-height: 150px;
            overflow-y: auto;
            position: absolute;
            background: white;
            border: 1px solid #ddd;
            z-index: 1000;
            width: 100%;
            display: none;
        }

        #listaClientes li:hover {
            background-color: #f1f1f1;
        }

        #listaClientes li.active {
            background-color: #007bff;
            color: white;
        }

        
    </style>

    


</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
        
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="/main">
                        <img src="img/logoColor.png" height="45" alt="MDB Logo"
                            loading="lazy" />
                    </a>
                    <!-- Left links -->
                    <ul id="options" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Puedes agregar opciones aquí -->
                    </ul>
                </div>
        
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <div class="info" style="display: flex; flex-direction: column; align-items: flex-end; margin-right: 10px;">
                        <span id="name" class="name" style="margin-bottom: -5px; font-weight: 600;">Jesus Aguirre</span>
                        <span id="rol" class="job" style="margin-top: 0px;">General</span>
                    </div>
                    
                    <div class="dropdown">
                        <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                            id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                            <img id="profilePicture" src="" class="rounded-circle" height="35"
                                alt="Black and White Portrait of a Man" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">Perfil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Configuraciones</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid pt-4" style="width: 85%;">
            <h2 class="text-center mb-1" style="margin-bottom: 2px;">Mundi Novi</h2>
            <h3 class="text-center mb-1" style="margin-top: 2px; margin-bottom: 2px;">Punto de Venta 2024</h3>
            <h3 id="nombreSucursal" class="text-center mb-1" style="margin-top: 2px; margin-bottom: 2px;"></h3>

            <br>

            <!--Botones de opciones-->       

            <div class="row mb-4">
                
                <!-- Sección de Productos -->
                <div class="col-md-8">
                    <div class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button id="btnFacturar" type="button" class="btn btn-primary" data-mdb-ripple-init>Facturar (F3) <i class="fa-solid fa-newspaper"></i></button>
                            <button id="btnSeleccionarUsuario" type="button" class="btn btn-primary">(F4) Cliente <i class="fa-solid fa-user"></i></button>
                            <button type="button" class="btn btn-secondary" data-mdb-ripple-init disabled>Buscar (F6) <i class="fa-solid fa-magnifying-glass"></i></button>
                            <button type="button" class="btn btn-secondary" data-mdb-ripple-init disabled>Descuento (F7) <i class="fa-solid fa-tags"></i></button>
                            <button type="button" class="btn btn-secondary" data-mdb-ripple-init disabled>Guardar (F8) <i class="fa-solid fa-floppy-disk"></i></button>
                            <button type="button" class="btn btn-secondary" data-mdb-ripple-init disabled>Precios (F10) <i class="fa-solid fa-barcode"></i></button>
                        </div>
                    </div> 

                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h5 class="card-title">Productos</h5>
                            <div class="row mb-3">

                                
                                <div class="col-md-2 mb-3">
                                    <label for="cantidad" class="form-label">Cantidad</label>
                                    <input type="number" id="cantidad" class="form-control" value="">
                                </div>

                                <div class="col-md-8 mb-3">
                                    <label for="producto" class="form-label">Buscar Producto</label>
                                    <input type="text" id="producto" class="form-control" placeholder="Buscar producto...">
                                    <div id="sugerencias"></div> <!-- Aquí se mostrarán las sugerencias -->
                                    <ul id="listaProductos" class="list-group mt-2" style="display: none; position: absolute; z-index: 1000;"></ul>
                                </div>


                                <div class="col-md-2">
                                    <label for="agregarProducto" class="form-label">Agregar</label>
                                    <button id="agregarProducto" class="btn btn-primary w-100">Agregar [F4]</button>
                                </div>
                                
                            </div>
    
                            <!-- Tabla de Productos -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Rangos</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="productos">
                                        <!-- Aquí se agregarán dinámicamente los productos -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Panel de Resumen -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Resumen de Venta</h4>

                            <div class="d-flex justify-content-between align-items-center">
                                <h5><i class="fa-solid fa-user"></i> Cliente: <span id="ventaCliente"></span></h5>
                                <button id="btnCancelarCliente" class="btn btn-danger btn-sm" style="visibility: hidden;"><i class="fa-solid fa-ban"></i></button>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5><i class="fa-solid fa-coins"></i> Monedero: <span id="monederoCliente" style="color: green;"></span></h5>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="me-2"><i class="fa-solid fa-file-invoice-dollar"></i> Factura: <span id="facturaResumenVenta" style="color: black;"></span></h5>
                                <button id="btnCancelarFactura" class="btn btn-danger btn-sm" style="visibility: hidden;"><i class="fa-solid fa-ban"></i></button>
                            </div>
                            <br>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <button id="cancelarVenta" class="btn btn-danger w-100">Cancelar (CTRL + Supr)</button>
                                </div>                                
                                <div class="col-md-6">
                                    <button id="completarVenta" class="btn btn-success w-100">Completar Venta (F9)</button>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Total Productos: <span style="font-weight: 800; font-size: 16pt;" id="totalProductos">0</span></h6>
                                </div>
                                <div class="col-md-6">
                                    <h6>Total Venta: $<span  style="font-weight: 800; font-size: 16pt;" id="totalVenta">0.00</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal seleccionar el usuario -->
            <div class="modal fade" id="selectUserModal" tabindex="-1" aria-labelledby="selectUserModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="selectUserModalLabel">Seleccionar Usuario</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">


                            <div class="row">
                                <div class="col-md-8">
                                    <label style="font-weight: 600;" for="inputBuscarCliente" class="col-form-label">Buscar cliente:</label>
                                    <input type="text" class="form-control" id="inputBuscarCliente" />
                                    <ul id="listaClientes" class="list-group" style="position: absolute; z-index: 1000; max-height: 150px; overflow-y: auto; width: 100%; display: none;"></ul>
                                </div>
                                <hr style="margin-top: 20pt; margin-bottom: 20pt;">
                            </div>                            
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="nombreCliente" class="col-form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="nombreCliente" />
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="rfcCliente" class="col-form-label">RFC:</label>
                                    <input type="text" class="form-control" id="rfcCliente" />
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="regimenFiscalCliente" class="col-form-label">Regimen Fiscal:</label>
                                    <input type="text" class="form-control" id="regimenFiscalCliente" />
                                </div>

                                <hr style="margin-top: 20pt; margin-bottom: 20pt;">

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="calleCliente" class="col-form-label">Calle:</label>
                                    <input type="text" class="form-control" id="calleCliente" />
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="localidadCliente" class="col-form-label">Localidad:</label>
                                    <input type="text" class="form-control" id="localidadCliente"/>
                                </div>

                                <div class="col-md-2">
                                    <label style="font-weight: 600;" for="exteriorCliente" class="col-form-label">#Exterior:</label>
                                    <input type="text" class="form-control" id="exteriorCliente"/>
                                </div>

                                <div class="col-md-2">
                                    <label style="font-weight: 600;" for="interiorCliente" class="col-form-label">#Interior:</label>
                                    <input type="text" class="form-control" id="interiorCliente"/>
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="coloniaCliente" class="col-form-label">Colonia:</label>
                                    <input type="text" class="form-control" id="coloniaCliente"/>
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="municipioCliente" class="col-form-label">Municipio:</label>
                                    <input type="text" class="form-control" id="municipioCliente"/>
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="estadoCiente" class="col-form-label">Estado:</label>
                                    <input type="text" class="form-control" id="estadoCiente"/>
                                </div>

                                <div class="col-md-4">
                                    <label style="font-weight: 600;" for="codigoPostalCliente" class="col-form-label">Codigo postal:</label>
                                    <input type="text" class="form-control" id="codigoPostalCliente"/>
                                </div>

                                <div class="col-md-6">
                                    <label style="font-weight: 600;" for="correoCliente" class="col-form-label">Correo electronico:</label>
                                    <input type="text" class="form-control" id="correoCliente"/>
                                </div>


                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                            <button id="btnSelectUser" type="button" class="btn btn-primary">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para el Pago -->
            <div class="modal fade" id="modalPago" tabindex="-1" aria-labelledby="modalPagoLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalPagoLabel">Realizar Pago</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <!-- Información del Total -->
                    <div class="mb-3">
                        <label for="totalAPagar" class="form-label">Total a Pagar</label>
                        <input type="text" class="form-control" id="totalAPagar" value="1000.00" readonly />
                    </div>
            
                    <!-- Select para el Uso de CFDI (visible solo si es venta con factura) -->
                    <div class="mb-3" id="usoCFDIContainer" style="display: none;">
                        <label for="usoCFDI" class="form-label">Uso de CFDI</label>
                        <select class="form-select" id="usoCFDI">
                            <option value="G01">Adquisición de mercancias</option>
                            <option value="G02">Devoluciones, descuentos o bonificaciones</option>
                            <option value="G03">Gastos en general</option>
                            <option value="I01">Construcciones</option>
                            <option value="I02">Mobilario y equipo de oficina por inversiones</option>
                            <option value="I03">Equipo de transporte</option>
                            <option value="I04">Equipo de computo y accesorios</option>
                            <option value="I05">Dados, troqueles, moldes, matrices y herramental</option>
                            <option value="I06">Comunicaciones telefónicas</option>
                            <option value="I07">Comunicaciones satelitales</option>
                            <option value="I08">Otra maquinaria y equipo</option>
                            <option value="D01">Honorarios médicos, dentales y gastos hospitalarios</option>
                            <option value="D02">Gastos médicos por incapacidad o discapacidad</option>
                            <option value="D03">Gastos funerales</option>
                            <option value="D04">Donativos</option>
                            <option value="D05">Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación)</option>
                            <option value="D06">Aportaciones voluntarias al SAR</option>
                            <option value="D07">Primas por seguros de gastos médicos</option>
                            <option value="D08">Gastos de transportación escolar obligatoria</option>
                            <option value="D09">Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones</option>
                            <option value="D10">Pagos por servicios educativos (colegiaturas)</option>
                            <option value="P01">Por definir</option>
                            <option value="S01">Sin efectos fiscales</option>
                            <option value="CP01">Pagos</option>
                            <option value="CN01">Nómina</option>
                        </select>
                        
                    </div>
            
                    <!-- Contenedor de Formas de Pago -->
                    <div id="formasDePago">
                        <!-- Forma de Pago Inicial -->
                        <div class="row mb-3 formaDePago">
                            <div class="col-md-5">
                                <label class="form-label">Forma de Pago</label>
                                <select class="form-select formaPago">
                                <option value="efectivo">Efectivo</option>
                                <option value="tarjeta">Tarjeta</option>
                                <option value="transferencia">Transferencia</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Importe</label>
                                <input type="number" class="form-control importePago" placeholder="0.00" />
                            </div>
                            <div class="col-md-2">
                                <labelclass="form-label">Cambio</label>
                                <input type="text" class="form-control cambio" value="0.00" readonly />
                            </div>
                            <div class="col-md-1 d-flex align-items-end">
                                <button type="button" class="btn btn-danger btn-sm eliminarFormaPago" disabled><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
            
                    <!-- Botón para agregar más formas de pago -->
                    <button type="button" class="btn btn-secondary" id="btnAgregarFormaPago">
                        Agregar forma de pago adicional
                    </button>
                    </div>
            
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnRealizarPago">Pagar</button>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </main>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/main.js"></script>
    <script src="js/utils/historyBack.js"></script>
    <script src="js/puntoDeVenta/puntoDeVenta.js"></script>
    <script src="js/puntoDeVenta/puntoDeVentaClientes.js"></script>
</body>
</html>
