<% extraStyles=` `; %>

    <main style="margin-top: 20px">
        <div class="container-fluid pt-4" style="width: 100%;">
            <h3 class="text-center" style="margin-bottom: 50px;">Listado de cortes de venta por sucursal (Recolección)</h3>

            <div class="row">
                <div class="col-md-3">
                    <label for="sucursal" class="form-label">Sucursal</label>
                    <select id="sucursal" class="form-select" aria-label="Combo box example">
                    </select>

                </div>

                <div class="col-md-3">
                    <label for="fechaInicial" class="form-label">Fecha Incial</label>
                    <input type="text" class="form-control" id="fechaInicial" placeholder="Seleccione fecha inicial">
                </div>
                
                <div class="col-md-3">
                    <label for="fechaFinal" class="form-label">Fecha Final</label>
                    <input type="text" class="form-control" id="fechaFinal" placeholder="Seleccione fecha final">
                </div>

                <div class="col-md-3 d-flex flex-column" style="justify-content: flex-end;">
                    <button id="btnCargarCortes" type="button" class="btn btn-primary me-2" data-mdb-ripple-init>
                        <i class="fa-solid fa-database"></i> Cargar
                    </button>
                </div>


            </div>

            <hr>

            <div class="row">

                <div class="col-md-10">
                    <div class="table-responsive pt-3">
                        <table id="tablaRecoleccion" class="table align-middle mb-0 bg-white">
                            <thead class="table-info">
                                <tr class="text-center" style="font-size:9.5pt; font-weight:bolder; color: white;">
                                    <th>Folio</th>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha Final</th>
                                    <th>Usuario</th>
                                    <th>T. Cobranzas</th>
                                    <th>T. Crédito</th>
                                    <th>T. Débito</th>
                                    <th>T. Electrónicas</th>
                                    <th>Egresos</th>
                                    <th>Ventas Efectivo</th>
                                    <th>Dev. ventas</th>
                                    <th>Total Venta</th>
                                    <th>Efectivo en Caja</th>
                                    <th>Vales</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tablaRecoleccionBody" class="table-group-divider">
                    
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card border shadow-4 mb-3" style="width: 250px;">
                        <div class="card-header">
                            <h5 class="card-title">Cortes a recibir</h5>
                        </div>
                        <div class="card-body p-0">
                
                            <!-- Input para buscar folio -->
                            <div class="input-group p-3">
                                <input type="text" id="buscarFolio" class="form-control" placeholder="Buscar por folio">
                            </div>
                
                            <!-- Tabla de cortes -->
                            <table id="tablaReconectar" class="table align-middle mb-0 bg-white table-responsive"
                                style="overflow-x: hidden;">
                                <thead class="bg-light">
                                    <tr class="text-center" style="font-size:9.5pt; font-weight:bolder;">
                                        <th>Folio</th>
                                        <th>Es parcial</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tablaRecibirCortes" class="table-group-divider">
                                    <!-- Aquí se agregarán las filas -->
                                </tbody>
                            </table>
                
                            <!-- Botón para recibir cortes -->
                            <div class="text-center mt-3">
                                <button style="margin-bottom: 20px;" id="btnEnviarCortes" class="btn btn-success">Recibir</button>
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>

        </div>
    </main>


<% extraScripts=`
        
    <script sty>
        flatpickr("#fechaInicial", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#fechaFinal", {
            dateFormat: "Y-m-d"
        });
    </script>

    <script src="js/cortes/cortesRecoleccion.js"></script>
    `; %>