<% extraStyles=` `; %>

    <main style="margin-top: 20px">
        <div class="container-fluid pt-4" style="width: 70%;">
            <h3 class="text-center" style="margin-bottom: 50px;">Corte parcial</h3>
            <div class="row mb-3 justify-content-center">
                
                <div class="col-md-5" style="width: 300px;">
                    <h5 class="text-left" style="margin-bottom: 15px; font-size: 1.25rem;">Billetes <i
                            class="fa-regular fa-money-bill-1"></i></h5>
    
                    <div class="d-flex align-items-center mb-2">
                        <label for="billetes1000_1" class="form-label me-2" style="font-size: 1rem;">Billetes de <strong>$1,000</strong></label>
                        <input type="number" class="form-control form-control-sm" id="billetes1000" min="0"
                            style="width: 100px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="billetes500_1" class="form-label me-2" style="font-size: 1rem;">Billetes de <strong>$500</strong></label>
                        <input type="number" class="form-control form-control-sm" id="billetes500" min="0"
                            style="width: 115px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="billetes200_1" class="form-label me-2" style="font-size: 1rem;">Billetes de <strong>$200</strong></label>
                        <input type="number" class="form-control form-control-sm" id="billetes200" min="0"
                            style="width: 115px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="billetes100_1" class="form-label me-2" style="font-size: 1rem;">Billetes de <strong>$100</strong></label>
                        <input type="number" class="form-control form-control-sm" id="billetes100" min="0"
                            style="width: 115px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="billetes50_1" class="form-label me-2" style="font-size: 1rem;">Billetes de <strong>$50</strong></label>
                        <input type="number" class="form-control form-control-sm" id="billetes50" min="0"
                            style="width: 125px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="billetes20_1" class="form-label me-2" style="font-size: 1rem;">Billetes de <strong>$20</strong></label>
                        <input type="number" class="form-control form-control-sm" id="billetes20" min="0"
                            style="width: 125px;">
                    </div>
                </div>
    
                <div class="col-md-5" style="width: 300px;">
                    <h5 class="text-left" style="margin-bottom: 15px; font-size: 1.25rem;">Monedas <i
                            class="fa-solid fa-coins"></i></h5>
    
                    <div class="d-flex align-items-center mb-2">
                        <label for="monedas20" class="form-label me-2" style="font-size: 1rem;">Monedas de
                            <strong>$20</strong></label>
                        <input type="number" class="form-control form-control-sm" id="monedas20" min="0"
                            style="width: 100px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="monedas10" class="form-label me-2" style="font-size: 1rem;">Monedas de <strong>$10</strong></label>
                        <input type="number" class="form-control form-control-sm" id="monedas10" min="0"
                            style="width: 100px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="monedas5" class="form-label me-2" style="font-size: 1rem;">Monedas de <strong>$5</strong></label>
                        <input type="number" class="form-control form-control-sm" id="monedas5" min="0"
                            style="width: 110px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="monedas2" class="form-label me-2" style="font-size: 1rem;">Monedas de <strong>$2</strong></label>
                        <input type="number" class="form-control form-control-sm" id="monedas2" min="0"
                            style="width: 110px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="monedas1" class="form-label me-2" style="font-size: 1rem;">Monedas de <strong>$1</strong></label>
                        <input type="number" class="form-control form-control-sm" id="monedas1" min="0"
                            style="width: 110px;">
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <label for="monedas50c" class="form-label me-2" style="font-size: 1rem;">Monedas de <strong>$.50c</strong></label>
                        <input type="number" class="form-control form-control-sm" id="monedas50c" min="0"
                            style="width: 90px;">
                    </div>
                </div>

                <div class="col-md-5" style="width: 300px;">
                    <h5 class="text-left" style="margin-bottom: 15px;">Observaciones</h5>
                    <div class="form-outline" data-mdb-input-init>
                        <textarea class="form-control" id="observacionesCorte" rows="4"></textarea>
                        <label class="form-label" for="observacionesCorte">Observación</label>
                    </div>
                    <hr style="margin-top: 75px;">
                
                    <!-- Contenedor para alinear los botones a la derecha -->
                    <div class="text-end">
                        <button id="btnGuardarCorteParcial" type="button" class="btn btn-primary" data-mdb-ripple-init>Guardar</button>
                        <button type="button" class="btn btn-danger" data-mdb-ripple-init>Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </main>



<% extraScripts=` 
    <script src="js/cortes/corteParcial.js"></script>
`; %>
