<% extraStyles=` `; %>

    <main style="margin-top: 20px">
        <div class="container pt-4">
            <h3 class="text-center">
                <i class="fas fa-arrow-right text-primary"></i> Crear Egreso
            </h3>
            <div class="card shadow-lg mt-4">
                <div class="card-body">
                    <form id="formCrearEgreso">
                        <!-- Campo de Importe -->
                        <div class="mb-3">
                            <label for="importe" class="form-label">
                                <i class="fas fa-dollar-sign text-secondary"></i> Importe:
                            </label>
                            <input type="number" class="form-control" id="importe" placeholder="Ingrese el importe"
                                min="0.01" step="0.01" required>
                        </div>
    
                        <!-- Campo de Observaciones -->
                        <div class="mb-3">
                            <label for="observaciones" class="form-label">
                                <i class="fas fa-comment-dots text-secondary"></i> Observaciones:
                            </label>
                            <textarea class="form-control" id="observaciones" rows="3"
                                placeholder="Escriba las observaciones (opcional)"></textarea>
                        </div>
    
                        <!-- Campo para Adjuntar Archivo -->
                        <div class="mb-3">
                            <label for="archivoComprobatorio" class="form-label">
                                <i class="fas fa-paperclip text-secondary"></i> Adjuntar Archivo Comprobatorio:
                            </label>
                            <input type="file" class="form-control" id="archivoComprobatorio"
                                accept=".pdf,.png,.jpg,.jpeg,.docx">
                        </div>
    
                        <!-- Botón de Guardar -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

<% extraScripts=` 
    <script src="js/egresos/egresosUser.js"></script>
    `; %>
