<% extraStyles=` `; %>



    <main style="margin-top: 10px;">
        <div class="container-fluid pt-4" style="width: 70%;">
            <h4 class="text-center" style="margin-bottom: 20px;">Recepción de Traspasos</h4>

            <!-- Tabla de Recepción -->
            <div class="table-responsive">
                <table id="tablaRecepcion" class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas dinámicas aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>


    <% extraScripts=` <script src="js/traspasos/recepcionTraspasos.js">
        </script>
        `; %>