{
  "openapi": "3.0.3",
  "info": {
    "title": "Contactos",
    "description": "Documentación de los endpoints de contactos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.alegra.com/api/v1",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "summary": "Listado de contactos",
        "operationId": "listContacts",
        "tags": [
          "Contactos"
        ],
        "description": "Endpoint que permite consultar los contactos registrados en la aplicación",
        "parameters": [
          {
            "name": "metadata",
            "in": "query",
            "description": "Incluye en la respuesta del request el total de contactos.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "A partir de cual contacto se desea consultar. Por ejemplo para consultar desde el contacto número 20, se envía start=20.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad de contactos a consultar. Por defecto tiene valor 30 y es el máximo valor que acepta. En caso de un valor superior se obtendrá un error en el response.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "description": "Orden ascendente o descendente para el listado de contacto.",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          },
          {
            "name": "order_field",
            "in": "query",
            "description": "Campo por el cual se desea ordenar.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "email"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Cadena de texto que se quiere utilizar para buscar los contactos que en el nombre o en la identificación contienen dicho texto.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identification",
            "in": "query",
            "description": "Filtrar resultados según la identificación del contacto. Se retornarán todos los contactos que en su identificación contenga el valor enviado en este parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filtrar resultados según el nombre del contacto. Se retornarán todos los contactos que en su nombre contenga el valor enviado en este parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filtrar por clientes o proveedores, para filtrar por clientes se debe enviar 'client', para filtrar por proveedores 'provider'.",
            "schema": {
              "type": "string",
              "enum": [
                "client",
                "provider"
              ]
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "El modo simple permite traer los contacts excluyendo los siguientes atributos: `seller`, `term`, `priceList`, `internalContacts`, `accountReceivable`, `debtToPay`. El modo avanzado retorna el contact sin excluir ninguno de los atributos.",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "advanced"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Se obtiene listado de contactos",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Contacto para versiones genéricas",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto.",
                          "example": "Acrecer"
                        },
                        "identification": {
                          "type": "string",
                          "description": "Identificacion del contacto.",
                          "example": "963.654.988"
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad",
                              "type": "string",
                              "example": "New York, USA"
                            },
                            "address": {
                              "description": "Dirección",
                              "type": "string",
                              "example": "Avenida Madison"
                            }
                          }
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto.",
                          "example": "111 11 11"
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto."
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto.",
                          "example": "(333) 555-55-55"
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto.",
                          "example": 1
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto."
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto.",
                          "example": 1
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto."
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto.",
                          "example": "prueba2@alegra.com"
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "string"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "string"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string",
                                "example": "Lina"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string",
                                "example": "Montoya"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada.",
                                "example": "prueba4@alegra.com"
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular.",
                                "example": "(333) 333 33 33"
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono.",
                                "example": "123 45 67 ext 25"
                              },
                              "sendNotifications": {
                                "type": "string",
                                "description": "Indica si se le deben enviar las notificaciones",
                                "enum": [
                                  "yes",
                                  "no"
                                ]
                              }
                            },
                            "required": [
                              "name"
                            ]
                          },
                          "example": {
                            "summary": "Listado de personas asociadas",
                            "value": [
                              {
                                "name": "persona",
                                "email": "persona_asociada@gmail.com",
                                "phone": "222222222",
                                "lastName": "asociada",
                                "mobile": "333333333",
                                "sendNotifications": true
                              }
                            ]
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contacto con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versiones genéricas",
                        "value": {
                          "name": "Acrecer",
                          "identification": "963.654.988",
                          "email": "prueba2@alegra.com",
                          "phonePrimary": "111 11 11",
                          "phoneSecondary": "",
                          "fax": "",
                          "mobile": "(333) 555-55-55",
                          "type": [
                            "client"
                          ],
                          "address": {
                            "address": "Avenida Madison",
                            "city": "New York, USA"
                          },
                          "seller": "52",
                          "term": "2",
                          "priceList": "1",
                          "creditLimit": 0,
                          "internalContacts": [
                            {
                              "id": "1",
                              "name": "Lina",
                              "lastName": "Montoya",
                              "email": "prueba4@alegra.com",
                              "phone": "123 45 67 ext 25",
                              "mobile": "(333) 333 33 33",
                              "sendNotifications": "no"
                            }
                          ]
                        }
                      }
                    },
                    {
                      "title": "Contacto para version chile sin facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto.",
                          "example": "Pedro Arias"
                        },
                        "identification": {
                          "type": "string",
                          "description": "Identificacion del contacto.",
                          "example": "222222222"
                        },
                        "giro": {
                          "type": "string",
                          "description": "Giro",
                          "example": "Contabilidad"
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad",
                              "type": "string",
                              "example": "centro"
                            },
                            "region": {
                              "description": "Región",
                              "type": "string",
                              "example": "Atacama"
                            },
                            "commune": {
                              "description": "Comuna",
                              "type": "string",
                              "example": "Alto del Carmen"
                            },
                            "description": {
                              "description": "Dirección",
                              "type": "string",
                              "example": "calle 34"
                            }
                          }
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto.",
                          "example": "2222222"
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto.",
                          "example": "22222222"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto.",
                          "example": "22222222"
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto."
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto.",
                          "example": "2"
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto.",
                          "example": "2"
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto.",
                          "example": 1000000
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto.",
                          "example": "chilecontact@gmail.com"
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "string"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "string"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada."
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono."
                              },
                              "sendNotifications": {
                                "type": "string",
                                "description": "Indica si se le deben enviar las notificaciones",
                                "enum": [
                                  "yes",
                                  "no"
                                ]
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contactp con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versión chile",
                        "value": {
                          "name": "Pedro Arias",
                          "identification": "222222222",
                          "email": "chilecontact@gmail.com",
                          "phonePrimary": "2222222",
                          "phoneSecondary": "22222222",
                          "mobile": "22222222",
                          "giro": "Contabilidad",
                          "address": {
                            "city": "centro",
                            "region": "Atacama",
                            "commune": "Alto del Carmen",
                            "description": "calle 34"
                          },
                          "type": [
                            "client",
                            "provider"
                          ],
                          "term": "2",
                          "seller": "2",
                          "priceList": "2",
                          "creditLimit": 0,
                          "statementAttached": "yes",
                          "internalContacts": [],
                          "accounting": {
                            "accountReceivable": "5007",
                            "debtToPay": "5032"
                          },
                          "ignoreRepeated": false
                        }
                      }
                    },
                    {
                      "title": "Contacto para version chile con facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto.",
                          "example": "Pedro Arias"
                        },
                        "identification": {
                          "type": "string",
                          "description": "Identificacion del contacto.",
                          "example": "222222222"
                        },
                        "giro": {
                          "type": "string",
                          "description": "Giro",
                          "example": "Contabilidad"
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad",
                              "type": "string",
                              "example": "centro"
                            },
                            "region": {
                              "description": "Región",
                              "type": "string",
                              "example": "Atacama"
                            },
                            "commune": {
                              "description": "Comuna",
                              "type": "string",
                              "example": "Alto del Carmen"
                            },
                            "description": {
                              "description": "Dirección",
                              "type": "string",
                              "example": "calle 34"
                            }
                          },
                          "required": [
                            "commune",
                            "region",
                            "description"
                          ]
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto.",
                          "example": "2222222"
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto.",
                          "example": "22222222"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto.",
                          "example": "22222222"
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto."
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto.",
                          "example": "2"
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto.",
                          "example": "2"
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto.",
                          "example": 1000000
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto.",
                          "example": "chilecontact@gmail.com"
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "string"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "string"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada."
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono."
                              },
                              "sendNotifications": {
                                "type": "string",
                                "enum": [
                                  "yes",
                                  "no"
                                ],
                                "description": "Indica si se le deben enviar las notificaciones"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contactp con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "identification",
                        "giro"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versión chile",
                        "value": {
                          "name": "Pedro Arias",
                          "identification": "222222222",
                          "email": "chilecontact@gmail.com",
                          "phonePrimary": "2222222",
                          "phoneSecondary": "22222222",
                          "mobile": "22222222",
                          "giro": "Contabilidad",
                          "address": {
                            "city": "centro",
                            "region": "Atacama",
                            "commune": "Alto del Carmen",
                            "description": "calle 34"
                          },
                          "type": [
                            "client",
                            "provider"
                          ],
                          "term": "2",
                          "seller": "2",
                          "priceList": "2",
                          "creditLimit": 0,
                          "statementAttached": "yes",
                          "internalContacts": [],
                          "accounting": {
                            "accountReceivable": "5007",
                            "debtToPay": "5032"
                          },
                          "ignoreRepeated": false
                        }
                      }
                    },
                    {
                      "title": "Contacto para version Argentina sin facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto."
                        },
                        "identificationObject": {
                          "type": "object",
                          "description": "Identificacion del contacto.",
                          "properties": {
                            "number": {
                              "description": "Número de identificación",
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "CUIT",
                                "CDI",
                                "CI",
                                "PASSPORT",
                                "DNI",
                                "OTHER"
                              ],
                              "description": "Tipo de identificación:\n * `CUIT` - CUIT\n * `CDI` - CDI\n * `CI` - CI Extranjera\n * `PASSPORT` - Pasaporte\n * `DNI` - DNI\n * `OTHER` - Otro\n"
                            }
                          }
                        },
                        "ivaCondition": {
                          "type": "string",
                          "enum": [
                            "IVA_RESPONSABLE",
                            "IVA_RESPONSABLE_NO_INSCRIPT",
                            "IVA_EXEMPT",
                            "FINAL_CONSUMER",
                            "UNIQUE_TRIBUTE_RESPONSABLE",
                            "PROVIDER_FROM_EXTERIOR",
                            "CLIENT_FROM_EXTERIOR",
                            "IVA_RELEASED_LAW_19640",
                            "UNIQUE_TRIBUTE_SOCIAL",
                            "IVA_NOT_REACHED"
                          ],
                          "description": "Condición de IVA:\n * `IVA_RESPONSABLE` - IVA responsable inscripto\n * `IVA_RESPONSABLE_NO_INSCRIPT` - IVA responsable no inscripto\n * `IVA_EXEMPT` - IVA sujeto exento\n * `FINAL_CONSUMER` - Consumidor final\n * `UNIQUE_TRIBUTE_RESPONSABLE` - Responsable monotributo\n * `PROVIDER_FROM_EXTERIOR` - Proveedor del exterior\n * `CLIENT_FROM_EXTERIOR` - Cliente del exterior\n * `IVA_RELEASED_LAW_19640` - IVA Liberado - Ley 19.640\n * `UNIQUE_TRIBUTE_SOCIAL` - Monotributista Social\n * `IVA_NOT_REACHED` - IVA No alcanzado\n"
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad",
                              "type": "string"
                            },
                            "province": {
                              "description": "Provincia",
                              "type": "string"
                            },
                            "address": {
                              "description": "Dirección",
                              "type": "string"
                            },
                            "postalCode": {
                              "description": "Código postal",
                              "type": "string"
                            }
                          }
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto."
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto."
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto."
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto."
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto."
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto."
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto."
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto."
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "string"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "string"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada."
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono."
                              },
                              "sendNotifications": {
                                "type": "string",
                                "description": "Indica si se le deben enviar las notificaciones",
                                "enum": [
                                  "yes",
                                  "no"
                                ]
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contactp con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "ivaCondition"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versión Argentina",
                        "value": {
                          "name": "Pedro Arias",
                          "email": "pruebaarg@gmail.com",
                          "phonePrimary": null,
                          "phoneSecondary": null,
                          "mobile": "333333333",
                          "observations": null,
                          "ivaCondition": "FINAL_CONSUMER",
                          "identification": {
                            "type": "CUIT",
                            "number": "1234445555"
                          },
                          "address": {
                            "province": "Corrientes",
                            "city": "Lago arias",
                            "address": "Calle Central",
                            "postalCode": "10400"
                          },
                          "type": [],
                          "seller": "1",
                          "term": "1",
                          "priceList": "1",
                          "statementAttached": "yes",
                          "internalContacts": [],
                          "creditLimit": 0,
                          "accounting": {
                            "accountReceivable": "5024",
                            "debtToPay": "5039"
                          },
                          "ignoreRepeated": false
                        }
                      }
                    },
                    {
                      "title": "Contacto para version Argentina con facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto."
                        },
                        "identificationObject": {
                          "type": "object",
                          "description": "Identificacion del contacto.",
                          "properties": {
                            "number": {
                              "description": "Número de identificación",
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "CUIT",
                                "CDI",
                                "CI",
                                "PASSPORT",
                                "DNI",
                                "OTHER"
                              ],
                              "description": "Tipo de identificación:\n * `CUIT` - CUIT\n * `CDI` - CDI\n * `CI` - CI Extranjera\n * `PASSPORT` - Pasaporte\n * `DNI` - DNI\n * `OTHER` - Otro\n"
                            }
                          },
                          "required": [
                            "type",
                            "number"
                          ]
                        },
                        "ivaCondition": {
                          "type": "string",
                          "enum": [
                            "IVA_RESPONSABLE",
                            "IVA_RESPONSABLE_NO_INSCRIPT",
                            "IVA_EXEMPT",
                            "FINAL_CONSUMER",
                            "UNIQUE_TRIBUTE_RESPONSABLE",
                            "PROVIDER_FROM_EXTERIOR",
                            "CLIENT_FROM_EXTERIOR",
                            "IVA_RELEASED_LAW_19640",
                            "UNIQUE_TRIBUTE_SOCIAL",
                            "IVA_NOT_REACHED"
                          ],
                          "description": "Condición de IVA:\n * `IVA_RESPONSABLE` - IVA responsable inscripto\n * `IVA_RESPONSABLE_NO_INSCRIPT` - IVA responsable no inscripto\n * `IVA_EXEMPT` - IVA sujeto exento\n * `FINAL_CONSUMER` - Consumidor final\n * `UNIQUE_TRIBUTE_RESPONSABLE` - Responsable monotributo\n * `PROVIDER_FROM_EXTERIOR` - Proveedor del exterior\n * `CLIENT_FROM_EXTERIOR` - Cliente del exterior\n * `IVA_RELEASED_LAW_19640` - IVA Liberado - Ley 19.640\n * `UNIQUE_TRIBUTE_SOCIAL` - Monotributista Social\n * `IVA_NOT_REACHED` - IVA No alcanzado\n"
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad",
                              "type": "string"
                            },
                            "province": {
                              "description": "Provincia",
                              "type": "string"
                            },
                            "address": {
                              "description": "Dirección",
                              "type": "string"
                            },
                            "postalCode": {
                              "description": "Código postal",
                              "type": "string"
                            }
                          },
                          "required": [
                            "city",
                            "province"
                          ]
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto."
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto."
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto."
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto."
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto."
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto."
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto."
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto."
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "string"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "string"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada."
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono."
                              },
                              "sendNotifications": {
                                "type": "string",
                                "description": "Indica si se le deben enviar las notificaciones",
                                "enum": [
                                  "yes",
                                  "no"
                                ]
                              }
                            },
                            "required": [
                              "name",
                              "ivaCondition"
                            ]
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contactp con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versión Argentina",
                        "value": {
                          "name": "Pedro Arias",
                          "email": "pruebaarg@gmail.com",
                          "phonePrimary": null,
                          "phoneSecondary": null,
                          "mobile": "333333333",
                          "observations": null,
                          "ivaCondition": "FINAL_CONSUMER",
                          "identification": {
                            "type": "CUIT",
                            "number": "1234445555"
                          },
                          "address": {
                            "province": "Corrientes",
                            "city": "Lago arias",
                            "address": "Calle Central",
                            "postalCode": "10400"
                          },
                          "type": [],
                          "seller": "1",
                          "term": "1",
                          "priceList": "1",
                          "statementAttached": "yes",
                          "internalContacts": [],
                          "creditLimit": 0,
                          "accounting": {
                            "accountReceivable": "5024",
                            "debtToPay": "5039"
                          },
                          "ignoreRepeated": false
                        }
                      }
                    },
                    {
                      "title": "Contacto para version Colombia sin facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto. (Obligatorio si el tipo de persona no es PERSON_ENTITY)"
                        },
                        "nameObject": {
                          "type": "object",
                          "description": "(Obligatorio si el tipo de persona es PERSON_ENTITY)",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "description": "Primer nombre del contacto.",
                              "example": "prueba"
                            },
                            "secondName": {
                              "type": "string",
                              "description": "Segundo nombre del contacto.",
                              "example": "primera"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "Apellidos del contacto.",
                              "example": "api"
                            }
                          },
                          "required": [
                            "firstName",
                            "lastName"
                          ]
                        },
                        "identificationObject": {
                          "type": "object",
                          "description": "Identificacion del contacto.",
                          "properties": {
                            "number": {
                              "type": "string",
                              "example": "1231232288",
                              "description": "Número de identificación: * `NIT` - Número de identificación tributaria:\n  Formato: numérico\n* `CC` - Cédula de ciudadanía\n  Formato: numérico\n* `TI` - Tarjeta de identidad\n  Formato: numérico\n"
                            },
                            "dv": {
                              "description": "Dígito de verificación",
                              "type": "string",
                              "example": "9"
                            },
                            "type": {
                              "type": "string",
                              "example": "NIT",
                              "enum": [
                                "NIT",
                                "CC",
                                "DIE",
                                "PP",
                                "CE",
                                "TE",
                                "TI",
                                "RC",
                                "FOREIGN_NIT",
                                "NUIP"
                              ],
                              "description": "Tipo de identificación:\n * `NIT` - Número de identificación tributaria\n * `CC` - Cédula de ciudadanía\n * `DIE` - Documento de identificación extranjero\n * `PP` - Pasaporte\n * `CE` - Cédula de extranjería\n * `TE` - Tarjeta de extranjería\n * `TI` - Tarjeta de identidad\n * `RC` - Registro civil\n * `FOREIGN_NIT` - NIT de otro país\n * `NUIP` - NUIP\n"
                            }
                          }
                        },
                        "kindOfPerson": {
                          "type": "string",
                          "enum": [
                            "LEGAL_ENTITY",
                            "PERSON_ENTITY",
                            "OTHER_ENTITY"
                          ],
                          "description": "Tipo de persona:\n  * `LEGAL_ENTITY` - Persona jurídica\n  * `PERSON_ENTITY` - Persona natural\n  * `OTHER_ENTITY` - Otro tipo de obligado\n",
                          "example": "LEGAL_ENTITY"
                        },
                        "regime": {
                          "type": "string",
                          "example": "COMMON_REGIME",
                          "enum": [
                            "COMMON_REGIME",
                            "SIMPLIFIED_REGIME",
                            "NATIONAL_CONSUMPTION_TAX",
                            "NOT_REPONSIBLE_FOR_CONSUMPTION",
                            "INC_IVA_RESPONSIBLE",
                            "SPECIAL_REGIME"
                          ],
                          "description": "Regimen:\n * `COMMON_REGIME` - Responsable de IVA\n * `SIMPLIFIED_REGIME` - No responsable de IVA\n * `NATIONAL_CONSUMPTION_TAX` - Impuesto Nacional al Consumo - INC\n * `NOT_REPONSIBLE_FOR_CONSUMPTION` - No responsable de INC\n * `INC_IVA_RESPONSIBLE` - Responsable de IVA e INC\n * `SPECIAL_REGIME` - Régimen especial\n"
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad",
                              "type": "string",
                              "example": "Acacías"
                            },
                            "department": {
                              "description": "Departamento",
                              "type": "string",
                              "example": "Meta"
                            },
                            "address": {
                              "description": "Dirección",
                              "type": "string",
                              "example": "plaza lucena"
                            },
                            "zipCode": {
                              "description": "Código postal",
                              "type": "string"
                            },
                            "country": {
                              "description": "País (solo es necesario si el tipo de identificación es extranjero)",
                              "type": "string",
                              "example": "Colombia"
                            }
                          }
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto.",
                          "example": "1111111111"
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto."
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto."
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto."
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto."
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto.",
                          "example": "1"
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto."
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto.",
                          "example": "pruebacol@gmail.com"
                        },
                        "emailSecondary": {
                          "type": "string",
                          "description": "Email secundario del contacto.",
                          "example": "pruebacol2@gmail.com"
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "string"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "string"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada."
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono."
                              },
                              "sendNotifications": {
                                "type": "boolean",
                                "description": "Booleano que indica si se le deben enviar las notificaciones"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "fiscalResponsabilities": {
                          "type": "array",
                          "description": "Responsabilidades fiscales.",
                          "items": {
                            "type": "string",
                            "enum": [
                              "114",
                              "5",
                              "7",
                              "12"
                            ],
                            "description": "Tipo de identificación:\n * `114` - Régimen simple de tributación\n * `5` - Gran contribuyente\n * `7` - Autorretenedor\n * `12` - Agente de retención en el impuesto sobre las ventas\n"
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contactp con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "ivaCondition"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versión Colombia",
                        "value": {
                          "name": {
                            "firstName": "Pedro",
                            "secondName": "Antonio",
                            "lastName": "Arias",
                            "secondLastName": "Bastidas"
                          },
                          "email": "pruebacol@gmail.com",
                          "phonePrimary": "1111111111",
                          "phoneSecondary": null,
                          "mobile": "444444444",
                          "observations": null,
                          "kindOfPerson": "PERSON_ENTITY",
                          "regime": "COMMON_REGIME",
                          "identificationObject": {
                            "type": "NIT",
                            "number": "1231232288",
                            "dv": "9"
                          },
                          "address": {
                            "address": "plaza lucena",
                            "city": "Acacías",
                            "department": "Meta",
                            "country": "Colombia",
                            "zipCode": null
                          },
                          "type": [],
                          "term": "1",
                          "seller": "1",
                          "priceList": "1",
                          "creditLimit": 0,
                          "statementAttached": "yes",
                          "internalContacts": [],
                          "accounting": {
                            "accountReceivable": "5007",
                            "debtToPay": "5030"
                          },
                          "emailSecondary": "pruebacol2@gmail.com",
                          "fiscalResponsabilities": [],
                          "ignoreRepeated": false
                        }
                      }
                    },
                    {
                      "title": "Contacto para version Colombia con facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto. (Obligatorio si el tipo de persona no es PERSON_ENTITY)"
                        },
                        "nameObject": {
                          "type": "object",
                          "description": "(Obligatorio si el tipo de persona es PERSON_ENTITY)",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "description": "Primer nombre del contacto.",
                              "example": "prueba"
                            },
                            "secondName": {
                              "type": "string",
                              "description": "Segundo nombre del contacto.",
                              "example": "primera"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "Apellidos del contacto.",
                              "example": "api"
                            }
                          },
                          "required": [
                            "firstName",
                            "lastName"
                          ]
                        },
                        "identificationObject": {
                          "type": "object",
                          "description": "Identificacion del contacto.",
                          "properties": {
                            "number": {
                              "description": "Número de identificación: * `NIT` - Número de identificación tributaria:\n  Formato: numérico\n* `CC` - Cédula de ciudadanía\n  Formato: numérico\n* `TI` - Tarjeta de identidad\n  Formato: numérico\n",
                              "type": "string",
                              "example": "1231232288"
                            },
                            "dv": {
                              "description": "Dígito de verificación (Obligatorio si tipo de identificación es NIT)",
                              "type": "string",
                              "example": "9"
                            },
                            "type": {
                              "type": "string",
                              "example": "NIT",
                              "enum": [
                                "NIT",
                                "CC",
                                "DIE",
                                "PP",
                                "CE",
                                "TE",
                                "TI",
                                "RC",
                                "FOREIGN_NIT",
                                "NUIP"
                              ],
                              "description": "Tipo de identificación:\n * `NIT` - Número de identificación tributaria\n * `CC` - Cédula de ciudadanía\n * `DIE` - Documento de identificación extranjero\n * `PP` - Pasaporte\n * `CE` - Cédula de extranjería\n * `TE` - Tarjeta de extranjería\n * `TI` - Tarjeta de identidad\n * `RC` - Registro civil\n * `FOREIGN_NIT` - NIT de otro país\n * `NUIP` - NUIP\n"
                            }
                          },
                          "required": [
                            "number",
                            "type"
                          ]
                        },
                        "kindOfPerson": {
                          "type": "string",
                          "enum": [
                            "LEGAL_ENTITY",
                            "PERSON_ENTITY",
                            "OTHER_ENTITY"
                          ],
                          "description": "Tipo de persona:\n  * `LEGAL_ENTITY` - Persona jurídica\n  * `PERSON_ENTITY` - Persona natural\n  * `OTHER_ENTITY` - Otro tipo de obligado\n",
                          "example": "LEGAL_ENTITY"
                        },
                        "regime": {
                          "type": "string",
                          "example": "COMMON_REGIME",
                          "enum": [
                            "COMMON_REGIME",
                            "SIMPLIFIED_REGIME",
                            "NATIONAL_CONSUMPTION_TAX",
                            "NOT_REPONSIBLE_FOR_CONSUMPTION",
                            "INC_IVA_RESPONSIBLE",
                            "SPECIAL_REGIME"
                          ],
                          "description": "Regimen:\n * `COMMON_REGIME` - Responsable de IVA\n * `SIMPLIFIED_REGIME` - No responsable de IVA\n * `NATIONAL_CONSUMPTION_TAX` - Impuesto Nacional al Consumo - INC\n * `NOT_REPONSIBLE_FOR_CONSUMPTION` - No responsable de INC\n * `INC_IVA_RESPONSIBLE` - Responsable de IVA e INC\n * `SPECIAL_REGIME` - Régimen especial\n"
                        },
                        "fiscalResidence": {
                          "type": "string",
                          "enum": [
                            "RESIDENT",
                            "NON_RESIDENT"
                          ],
                          "description": "Este campo es usado para proveedores, identifica si el proveedor es residente o no residente:\n  * `RESIDENT` - Residente\n  * `NON_RESIDENT` - No residente\n"
                        },
                        "enableHealthSector": {
                          "type": "boolean",
                          "description": "Este campo identifica si un contacto tiene habilitado el sector salud, el mismo que debe tener configurado un paciente en el campo `healthPatients`.",
                          "example": true
                        },
                        "healthPatients": {
                          "type": "object",
                          "description": "Arreglo de objetos necesario al tener el parámetro `enableHealthSector (boolean)` en `true` que tiene toda la información de los pacientes. Se debe enviar el arreglo con objeto con los siguientes atributos:",
                          "properties": {
                            "firstName": {
                              "description": "Primer nombre",
                              "type": "string",
                              "example": "Juan"
                            },
                            "secondName": {
                              "description": "Segundo nombre",
                              "type": "string",
                              "example": "Pedro"
                            },
                            "lastName": {
                              "description": "Apellido",
                              "type": "string",
                              "example": "Perlaza"
                            },
                            "identification": {
                              "description": "Identificación",
                              "type": "string"
                            },
                            "identificationObject": {
                              "description": "Ojeto de identificación incluye los siguientes campos",
                              "type": "object",
                              "properties": {
                                "type": {
                                  "description": "Tipo de identificación del paciente:\n  * `AS` - Adulto sin identificar\n  * `CD` - Carné diplomático\n  * `CN` - Certificado de nacido vivo\n  * `CC` - Cédula de ciudadanía\n  * `CE` - Cédula de extranjería\n  * `DI` - \"Documento extranjero\n  * `MS` - Menor sin identificar\n  * `PP` - Pasaporte\n  * `PE` - \"Permiso especial de permanencia\n  * `RC` - Registro civil\n  * `SC` - Salvoconducto\"SI\"Sin identificación\"TI\"Tarjeta de identidad\n",
                                  "enum": [
                                    "AS",
                                    "CD",
                                    "CN",
                                    "CC",
                                    "CE",
                                    "DI",
                                    "MS",
                                    "PP",
                                    "PE",
                                    "RC",
                                    "SC"
                                  ],
                                  "type": "string",
                                  "example": "DI"
                                },
                                "number": {
                                  "description": "Tipo de identificación del paciente",
                                  "type": "string",
                                  "example": 987654321
                                }
                              }
                            },
                            "benefitPlan": {
                              "description": "Planes de beneficios:\n  * `PBSF` - Plan de beneficios en salud financiado por UPC\n  * `PM` - Presupuesto máximo\n  * `PESP` - Prima EPS/EOC, no asegurados SOAT\n  * `CPSOAT` - Cobertura Póliza SOAT\n  * `CARL` - Cobertura ARL\n  * `CADRES` - Cobertura ADRES\n  * `CSP` - Cobertura Salud Pública\n  * `CET` - Cobertura entidad territorial, recursos de oferta\n  * `UPM` - Urgencias población migrante\n  * `PCS` - Plan complementario en salud\n  * `PCP` - Plan medicina prepagada\n  * `OPS` - Otras pólizas en salud\n  * `CREE` - Cobertura Régimen Especial o Excepción\n  * `CFNSPPL` - Cobertura Fondo Nacional de Salud de las Personas Privadas de la Libertad\n  * `PA` - Particular\n",
                              "enum": [
                                "PBSF",
                                "PM",
                                "PESP",
                                "CPSOAT",
                                "CARL",
                                "CADRES",
                                "CSP",
                                "CET",
                                "UPM",
                                "PCS",
                                "PCP",
                                "OPS",
                                "CREE",
                                "CFNSPPL",
                                "PA"
                              ],
                              "type": "string",
                              "example": "PBSF"
                            },
                            "patientType": {
                              "description": "Tipo de paciente:\n  * `CC` - Contribuyente cotizante\n  * `CB` - Contributivo beneficiario\n  * `CA` - Contributivo adicional\n  * `SU` - Subsidiado\n  * `SR` - Sin regimen\n  * `EEC` - Especiales o de Excepción cotizante\n  * `EEB` - Especiales o de Excepción beneficiario\n  * `PA` - Particular\n  * `ARL` - Tomador/Amparado ARL\n  * `SOAT` - Tomador/Amparado SOAT\n  * `PVS` - Tomador/Amparado Planes voluntarios de salud\n",
                              "type": "string",
                              "enum": [
                                "CA",
                                "CB",
                                "CA",
                                "SU",
                                "SR",
                                "EEC",
                                "EEB",
                                "PA",
                                "ARL",
                                "SOAT",
                                "PVS"
                              ],
                              "example": "ARL"
                            },
                            "methodOfPayment": {
                              "description": "Metodos de pago:\n  * `PICCIPCP` - Pago individual por caso / Conjunto integral de atenciones / Paquete / Canasta\n  * `PGP` - Pago global prospectivo\n  * `PPC` - Pago por capitación\n  * `PE` - Por evento\n  * `OME` - Otra modalidad (específica)\n",
                              "type": "string",
                              "enum": [
                                "PICCIPCP",
                                "PGP",
                                "PPC",
                                "PE",
                                "OME"
                              ],
                              "example": "PICCIPCP"
                            }
                          }
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "city": {
                              "description": "Ciudad (Obligatorio si el tipo de identificación es nacional)",
                              "type": "string",
                              "example": "Acacías"
                            },
                            "department": {
                              "description": "Departamento (Obligatorio si el tipo de identificación es nacional)",
                              "type": "string",
                              "example": "Meta"
                            },
                            "address": {
                              "description": "Dirección (Obligatorio si el tipo de identificación es nacional)",
                              "type": "string",
                              "example": "plaza lucena"
                            },
                            "zipCode": {
                              "description": "Código postal",
                              "type": "string"
                            },
                            "country": {
                              "description": "País (Obligatorio si el tipo de identificación es extranjero)",
                              "example": "Colombia",
                              "type": "string"
                            }
                          }
                        },
                        "phonePrimary": {
                          "type": "string",
                          "description": "Teléfono del contacto.",
                          "example": "1111111111"
                        },
                        "phoneSecondary": {
                          "type": "string",
                          "description": "Teléfono 2 del contacto."
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Número celular del contacto.",
                          "example": "444444444"
                        },
                        "seller": {
                          "type": "string",
                          "description": "Identificador del vendedor asociado al contacto."
                        },
                        "priceList": {
                          "type": "string",
                          "description": "Identificador de la lista de precios asociada al contacto."
                        },
                        "term": {
                          "type": "string",
                          "description": "Identificador del plazo de pago asociado al contacto.",
                          "example": "1"
                        },
                        "creditLimit": {
                          "type": "number",
                          "description": "Límite de crédito del contacto."
                        },
                        "email": {
                          "type": "string",
                          "description": "Email del contacto.",
                          "example": "pruebacol@gmail.com"
                        },
                        "emailSecondary": {
                          "type": "string",
                          "description": "Email secundario del contacto.",
                          "example": "pruebacol2@gmail.com"
                        },
                        "type": {
                          "description": "Tipo de contacto (cliente o proveedor o ambos)",
                          "oneOf": [
                            {
                              "type": "string",
                              "enum": [
                                "client",
                                "provider"
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "example": [
                            "client",
                            "provider"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "description": "Estado del contacto.",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "example": [
                            "active"
                          ]
                        },
                        "fax": {
                          "type": "string",
                          "description": "Fax del contacto."
                        },
                        "accounting": {
                          "type": "object",
                          "description": "Cuentas contables: por pagar y por cobrar.",
                          "properties": {
                            "debtToPay": {
                              "description": "Id de cuenta contable por pagar asociada al contacto",
                              "type": "integer"
                            },
                            "accountReceivable": {
                              "description": "Id de cuenta contable por cobrar asociada al contacto",
                              "type": "integer"
                            }
                          }
                        },
                        "internalContacts": {
                          "nullable": true,
                          "type": "array",
                          "description": "Personas asociadas al contacto.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Nombre",
                                "type": "string"
                              },
                              "lastName": {
                                "description": "Apellidos",
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email de persona asociada."
                              },
                              "mobile": {
                                "type": "string",
                                "description": "Número de celular."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Número de teléfono."
                              },
                              "sendNotifications": {
                                "type": "boolean",
                                "description": "Booleano que indica si se le deben enviar las notificaciones"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "fiscalResponsabilities": {
                          "type": "array",
                          "description": "Responsabilidades fiscales.",
                          "items": {
                            "type": "string",
                            "enum": [
                              "114",
                              "5",
                              "7",
                              "12"
                            ],
                            "description": "Tipo de identificación:\n * `114` - Régimen simple de tributación\n * `5` - Gran contribuyente\n * `7` - Autorretenedor\n * `12` - Agente de retención en el impuesto sobre las ventas\n"
                          }
                        },
                        "ignoreRepeated": {
                          "type": "boolean",
                          "description": "Indica si se debe ignorar si existe otro contactp con el mismo número de identificación"
                        },
                        "statementAttached": {
                          "type": "string",
                          "description": "Indica si se debe incluir estado de cuenta al contacto",
                          "enum": [
                            "yes",
                            "no"
                          ]
                        }
                      },
                      "required": [
                        "identificationObject",
                        "regime",
                        "kindOfPerson"
                      ],
                      "example": {
                        "summary": "Creación de contactos para versión Colombia",
                        "value": {
                          "name": {
                            "firstName": "Pedro",
                            "secondName": "Antonio",
                            "lastName": "Arias",
                            "secondLastName": "Bastidas"
                          },
                          "email": "pruebacol@gmail.com",
                          "phonePrimary": "1111111111",
                          "phoneSecondary": null,
                          "mobile": "444444444",
                          "observations": null,
                          "kindOfPerson": "PERSON_ENTITY",
                          "regime": "COMMON_REGIME",
                          "identificationObject": {
                            "type": "NIT",
                            "number": "1231232288",
                            "dv": "9"
                          },
                          "address": {
                            "address": "plaza lucena",
                            "city": "Acacías",
                            "department": "Meta",
                            "country": "Colombia",
                            "zipCode": null
                          },
                          "type": [],
                          "term": "1",
                          "seller": "1",
                          "priceList": "1",
                          "creditLimit": 0,
                          "statementAttached": "yes",
                          "internalContacts": [],
                          "accounting": {
                            "accountReceivable": "5007",
                            "debtToPay": "5030"
                          },
                          "emailSecondary": "pruebacol2@gmail.com",
                          "fiscalResponsabilities": [],
                          "ignoreRepeated": false
                        }
                      }
                    },
                    {
                      "title": "Contacto para version Costa Rica sin facturación electrónica",
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Nombre del contacto.",
                          "example": "Pedro Arias"
                        },
                        "identificationObject": {
                          "type": "object",
                          "description": "Identificacion del contacto.",
                          "properties": {
                            "number": {
                              "description": "Número de identificación:\n * `CF` - Formato: 9 dígitos. No puede comenzar con 0\n * `CJ` - Formato: 10 dígitos\n * `DIMEX` - Formato: 11 o 12 dígitos. No puede comenzar con 0\n * `NITE` - Formato: 10 dígitos\n * `PE` - Longitud máxima permitida: 20\n * `COF` - Campo libre (No es obligatorio)\n",
                              "type": "string",
                              "example": "333445566"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "CF",
                                "CJ",
                                "DIMEX",
                                "NITE",
                                "PE"
                              ],
                              "description": "Tipo de identificación:\n * `CF` - Cédula Física\n * `CJ` - Cédula Jurídica\n * `DIMEX` - DIMEX\n * `NITE` - NITE\n * `PE` - Identificación extranjero\n * `COF` - Consumidor final\n",
                              "example": "CF"
                            }
                          }
                        },
                        "address": {
                          "type": "object",
                          "description": "Dirección del contaco.",
                          "properties": {
                            "department": {
                              "description": "Provincia",
                              "type": "string",
[...]
