{
  "openapi": "3.0.3",
  "info": {
    "title": "Inventario",
    "description": "Documentación de los endpoints de inventario.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.alegra.com/api/v1"
    }
  ],
  "paths": {
    "/items": {
      "get": {
        "summary": "Listado de items",
        "tags": [
          "Ítems"
        ],
        "description": "Endpoint que permite consultar los productos o servicios registrados en la aplicación",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Desde cual producto/servicio se quiere consultar. Por ejemplo para consultar desde el producto/servicio 20, se envía start=20.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad de productos/servicios a partir del inicio que se desea retornar. Por defecto retorna 30 productos/servicios. Si este valor es mayor que 30, la aplicación retorna error.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "description": "Orden ascendente o descendente en el cual se quieren retornar los productos/servicios. Opciones disponibles son DESC o ASC. Por defecto es ASC (ascendente).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_field",
            "in": "query",
            "description": "Campo por el cual se desea ordenar, las opciones posibles son name, id, reference, description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Cadena de texto que se quiere utilizar para buscar los productos/servicios que en su nombre o referencia contienen dicho texto. Por ejemplo si se desea buscar los productos/servicios que contengan la palabra cuaderno, se envía query=cuaderno.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Incluir en los resultados metadatos.  Se debe tener en cuenta que si se envía este parámetro el objeto que retorna la aplicación incluye un atributo \"metadata\" y otro \"data\" en donde se envían los productos.  Actualmente la información que se envía en metadata incluye el total de productos que tiene registrada la empresa.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idWarehouse",
            "in": "query",
            "description": "Identificador de bodega/almacén. Si se especifica este parámetro se retornan únicamente los productos no inventariables y los inventariables que estén en la bodega/almacén.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Nombre del producto o servicio. Longitud máxima permitida: 150.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Para Costa Rica, el atributo reference es un objeto compuesto por los siguientes atributos: `type(string`) tipo de referencia. Consulta el catálogo de parámetros correspondiente a cada país haciendo clic [aquí](https://developer.alegra.com/docs/costa-rica). `reference (string)` código de referencia establecido para el producto.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "Array de objetos que indica las listas de precio asociadas al producto o servicio.  Los objetos deben contener: `idPriceList (number, obligatorio)`:identificador de la lista de precios; `price (double)` : precio en la lista.  Para indicar el precio general del producto/servicio se puede enviar únicamente un objeto con atributo de price.  Para listas de precio de porcentaje se puede omitir el atributo price. Si no se desea asociar el producto/servicio a una lista de precios se puede enviar el precio del producto o servicio directamente.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Descripción del producto o servicio. Longitud máxima permitida: 500.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priceList_id",
            "in": "query",
            "description": "Filtrar por el id de la lista de precios.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idItemCategory",
            "in": "query",
            "description": "Identificador de categoría de ítem. Si se especifica este parámetro se retornan únicamente los productos asociados a la categoría.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Indica el tipo de producto. Las opciones posibles son simple o kit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantAttribute_id",
            "in": "query",
            "description": "Identificador de atributo variante. Si se especifica este parámetro se retornan únicamente los productos que tengan el atributo variante enviado como parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantAttributeOption_id",
            "in": "query",
            "description": "Identificador de la opción de un atributo variante. Si se especifica este parámetro se retornan únicamente los productos que tengan la opción enviada como parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantParent_id",
            "in": "query",
            "description": "Identificador del item con variantes (item padre). Si se especifica este parámetro se retornan únicamente los productos que sean variantes (hijos) del item padre..",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customField_id",
            "in": "query",
            "description": "Identificador del campo adicional. Si se especifica este parámetro se retornan únicamente los productos que tengan el campo adicional especificado.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customField_value",
            "in": "query",
            "description": "Valor del campo adicional. Si se especifica este parámetro se retornan únicamente los productos que tengan el valor especificado en el campo adicional. Este parámetro depende el parámetro `customField_id`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Estado del producto o servicio, las opciones posibles son: active o inactive.  Se debe tener en cuenta que un producto o servicio que se encuentre inactivo no se puede editar; si se desea editar, se debe enviar entre los atributos que se van a editar el estado en active.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventariable",
            "in": "query",
            "description": "Filtrar items inventariables, envía true si deseas obtener únicamente items inventariables.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Identificador de atributos que se desean obtener en la respuesta separados por coma (,). Ej: variantAttributes (si se desean obtener atributos variantes),itemVariants (si se desean obtener items variantes),ledger (si se desea obtener la contabilidad del item).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "El modo simple permite traer los items excluyendo los siguientes atributos: `category`, `attachments`, `customFields`, `itemCategory`, `inventory`(solo con la unidad dentro) e `images`; para los items de tipo combo se excluye también `subitems`, `kitWarehouse`; para los items con variantes: `itemVariants` y para los items variantes: `variantAttributes`. El modo avanzado retorna el item sin excluir ninguno de los atributos.",
            "schema": {
              "enum": [
                "advanced",
                "simple"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ejemplo de consulta exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Item Get",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Identificador único que representa un producto o servicio específico. La aplicación lo asigna automáticamente.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Nombre del item.",
                          "type": "string"
                        },
                        "description": {
                          "description": "Descripción del item.",
                          "type": "string"
                        },
                        "reference": {
                          "description": "Referencia o código que identifica un item.",
                          "type": "string"
                        },
                        "price": {
                          "type": "array",
                          "description": "Indica los precios asociados al item.",
                          "items": {
                            "title": "PriceList",
                            "type": "object",
                            "properties": {
                              "idPriceList": {
                                "type": "string",
                                "description": "Identificador que representa una lista de precios."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nombre de la lista de precios."
                              },
                              "price": {
                                "type": "number",
                                "description": "Precio del producto en esa lista de precios."
                              }
                            }
                          }
                        },
                        "tax": {
                          "type": "array",
                          "description": "Indica el impuesto asociado al item.",
                          "items": {
                            "title": "Tax",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identificador del impuesto."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nombre del impuesto."
                              },
                              "percentage": {
                                "type": "number",
                                "description": "Porcentaje del impuesto."
                              },
                              "description": {
                                "type": "string",
                                "description": "Descripción del impuesto."
                              },
                              "status": {
                                "description": "Estado del impuesto, puede ser active para un impuesto activo, o inactive para un impuesto que se encuentra inactivo.",
                                "type": "string"
                              }
                            }
                          }
                        },
                        "category": {
                          "title": "Category",
                          "description": "Objeto que contiene la información de la categoría asociada al producto o servicio. Este objeto indica la categoría de Alegra a la cual se llevan los registros de tus ventas cuando realizas movimientos con este producto o servicio.",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identificador de la categoría"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nombre de la categoría"
                            }
                          }
                        },
                        "inventory": {
                          "title": "Inventory",
                          "description": "Objeto que contiene la información del inventario del producto. Si este objeto está presente indica que el artículo es inventariable, si no lo está se asume como servicio.",
                          "type": "object",
                          "properties": {
                            "unit": {
                              "type": "string",
                              "description": "Indica la unidad de medida del producto."
                            },
                            "availableQuantity": {
                              "type": "integer",
                              "description": "Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas."
                            },
                            "unitCost": {
                              "type": "integer",
                              "description": "Indica el costo unitario del producto."
                            },
                            "initialQuantity": {
                              "type": "integer",
                              "description": "Indica la cantidad inicial con la cual se creó el producto. Si el producto se encuentra"
                            },
                            "warehouses": {
                              "type": "array",
                              "description": "Array de objetos warehouse que indican las bodegas asociadas al producto",
                              "items": {
                                "title": "Warehouse",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Identificador único de la bodega."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre de la bodega."
                                  },
                                  "observations": {
                                    "type": "string",
                                    "description": "Observaciones de la bodega."
                                  },
                                  "isDefault": {
                                    "type": "boolean",
                                    "description": "Indica si la bodega es la de por defecto."
                                  },
                                  "address": {
                                    "type": "string",
                                    "description": "Dirección de la bodega."
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Estado de la bodega, puede ser active o inactive."
                                  },
                                  "initialQuantity": {
                                    "type": "string",
                                    "description": "Cantidad inicial del producto en la bodega."
                                  },
                                  "availableQuantity": {
                                    "type": "string",
                                    "description": "Cantidad disponible del producto en la bodega."
                                  },
                                  "minQuantity": {
                                    "type": "string",
                                    "description": "Cantidad mínima establecida para el producto en la bodega."
                                  },
                                  "maxQuantity": {
                                    "type": "string",
                                    "description": "Cantidad máxima establecida para el producto en la bodega."
                                  }
                                }
                              }
                            }
                          }
                        },
                        "status": {
                          "title": "Status",
                          "description": "Indica el estado del producto o servicio, active: para productos que se encuentran activos, inactive: para productos que se encuentran inactivos.",
                          "type": "string",
                          "enum": [
                            "inactive",
                            "active"
                          ]
                        },
                        "type": {
                          "title": "Type",
                          "description": "Indica el tipo del producto, simple: Producto sencillo, kit: Producto que está compuesto por otros, variantParent: Producto con características variantes (como el color o la talla). Es el item padre, compuesto de items variantes, variant: Producto asociado a un item con variantes, representa un conjunto de variantes en especifico. Es el item hijo asociado a un padre.",
                          "type": "string",
                          "enum": [
                            "simple",
                            "kit",
                            "variantParent",
                            "variant"
                          ]
                        },
                        "subitems": {
                          "type": "array",
                          "description": "Array de objetos que contienen la información de los productos que componen el kit. Aplica únicamente para productos tipo kit.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quantity": {
                                "description": "Cantidad del subitem necesaria para conformar el kit.",
                                "type": "number"
                              },
                              "item": {
                                "description": "Objeto item que contiene toda la información del producto relacionado al combo"
                              }
                            }
                          }
                        },
                        "kitWarehouse": {
                          "title": "Warehouse",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identificador único de la bodega."
                            },
                            "name": {
                              "type": "string",
                              "description": "Nombre de la bodega."
                            },
                            "observations": {
                              "type": "string",
                              "description": "Observaciones de la bodega."
                            },
                            "isDefault": {
                              "type": "boolean",
                              "description": "Indica si la bodega es la de por defecto."
                            },
                            "address": {
                              "type": "string",
                              "description": "Dirección de la bodega."
                            },
                            "status": {
                              "type": "string",
                              "description": "Estado de la bodega, puede ser active o inactive."
                            },
                            "initialQuantity": {
                              "type": "string",
                              "description": "Cantidad inicial del producto en la bodega."
                            },
                            "availableQuantity": {
                              "type": "string",
                              "description": "Cantidad disponible del producto en la bodega."
                            },
                            "minQuantity": {
                              "type": "string",
                              "description": "Cantidad mínima establecida para el producto en la bodega."
                            },
                            "maxQuantity": {
                              "type": "string",
                              "description": "Cantidad máxima establecida para el producto en la bodega."
                            }
                          }
                        },
                        "itemCategory": {
                          "description": "Objeto que indica la categoría de ítem asociada. Contiene un objeto itemCategory.",
                          "type": "object"
                        },
                        "customFields": {
                          "description": "Array con atributos adicionales asociados al producto.",
                          "type": "array",
                          "items": {
                            "title": "CustomFields",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Id del atributo adicional."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nombre del atributo adicional."
                              },
                              "key": {
                                "type": "string",
                                "description": "Identificador del atributo adicional."
                              },
                              "value": {
                                "type": "string",
                                "description": "Valor del atributo adicional para el item."
                              }
                            }
                          }
                        },
                        "variantAttributes": {
                          "description": "Array con atributos variantes asociados al producto. Aplica únicamente para items de tipo \"variantParent\" y \"variant\"",
                          "type": "array",
                          "items": {
                            "title": "VariantAttributes",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Id del atributo variante."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nombre del atributo variante."
                              },
                              "status": {
                                "type": "string",
                                "description": "Estado del atributo variante."
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Array con las opciones del atributo variante."
                              }
                            }
                          }
                        },
                        "itemVariants": {
                          "description": "Array con los subitems del item variantes. Aplica únicamente para items de tipo \"variantParent\". Un item con variantes contiene un item variante por cada una de las combinaciones posibles de sus atributos variantes, ej: La compañía X tiene un item que contiene los atributos variantes \"COLOR\" y \"TALLA\" con las opciones \"Color: Blanco\", \"Color:Rojo\", \"Talla: XS\", \"Talla: M\". Esto quiere decir que el item padre, contendrá 4 items variantes (un item Blanco XS, otro Blanco M, otro Rojo XS y otro Rojo M)"
                        },
                        "accounting": {
                          "title": "Accounting",
                          "description": "Objeto que representa las cuentas de inventario y costo de ventas. Solo aplica para items inventariables.",
                          "properties": {
                            "inventory": {
                              "type": "number",
                              "description": "Cuenta de inventario"
                            },
                            "inventariablePurchase": {
                              "type": "number",
                              "description": "Costo del inventario"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Item Colombia",
                      "type": "object",
                      "allOf": [
                        {
                          "title": "Item Get",
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Identificador único que representa un producto o servicio específico. La aplicación lo asigna automáticamente.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Nombre del item.",
                              "type": "string"
                            },
                            "description": {
                              "description": "Descripción del item.",
                              "type": "string"
                            },
                            "reference": {
                              "description": "Referencia o código que identifica un item.",
                              "type": "string"
                            },
                            "price": {
                              "type": "array",
                              "description": "Indica los precios asociados al item.",
                              "items": {
                                "title": "PriceList",
                                "type": "object",
                                "properties": {
                                  "idPriceList": {
                                    "type": "string",
                                    "description": "Identificador que representa una lista de precios."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre de la lista de precios."
                                  },
                                  "price": {
                                    "type": "number",
                                    "description": "Precio del producto en esa lista de precios."
                                  }
                                }
                              }
                            },
                            "tax": {
                              "type": "array",
                              "description": "Indica el impuesto asociado al item.",
                              "items": {
                                "title": "Tax",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Identificador del impuesto."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del impuesto."
                                  },
                                  "percentage": {
                                    "type": "number",
                                    "description": "Porcentaje del impuesto."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descripción del impuesto."
                                  },
                                  "status": {
                                    "description": "Estado del impuesto, puede ser active para un impuesto activo, o inactive para un impuesto que se encuentra inactivo.",
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "category": {
                              "title": "Category",
                              "description": "Objeto que contiene la información de la categoría asociada al producto o servicio. Este objeto indica la categoría de Alegra a la cual se llevan los registros de tus ventas cuando realizas movimientos con este producto o servicio.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador de la categoría"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la categoría"
                                }
                              }
                            },
                            "inventory": {
                              "title": "Inventory",
                              "description": "Objeto que contiene la información del inventario del producto. Si este objeto está presente indica que el artículo es inventariable, si no lo está se asume como servicio.",
                              "type": "object",
                              "properties": {
                                "unit": {
                                  "type": "string",
                                  "description": "Indica la unidad de medida del producto."
                                },
                                "availableQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas."
                                },
                                "unitCost": {
                                  "type": "integer",
                                  "description": "Indica el costo unitario del producto."
                                },
                                "initialQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad inicial con la cual se creó el producto. Si el producto se encuentra"
                                },
                                "warehouses": {
                                  "type": "array",
                                  "description": "Array de objetos warehouse que indican las bodegas asociadas al producto",
                                  "items": {
                                    "title": "Warehouse",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Identificador único de la bodega."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre de la bodega."
                                      },
                                      "observations": {
                                        "type": "string",
                                        "description": "Observaciones de la bodega."
                                      },
                                      "isDefault": {
                                        "type": "boolean",
                                        "description": "Indica si la bodega es la de por defecto."
                                      },
                                      "address": {
                                        "type": "string",
                                        "description": "Dirección de la bodega."
                                      },
                                      "status": {
                                        "type": "string",
                                        "description": "Estado de la bodega, puede ser active o inactive."
                                      },
                                      "initialQuantity": {
                                        "type": "string",
                                        "description": "Cantidad inicial del producto en la bodega."
                                      },
                                      "availableQuantity": {
                                        "type": "string",
                                        "description": "Cantidad disponible del producto en la bodega."
                                      },
                                      "minQuantity": {
                                        "type": "string",
                                        "description": "Cantidad mínima establecida para el producto en la bodega."
                                      },
                                      "maxQuantity": {
                                        "type": "string",
                                        "description": "Cantidad máxima establecida para el producto en la bodega."
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "title": "Status",
                              "description": "Indica el estado del producto o servicio, active: para productos que se encuentran activos, inactive: para productos que se encuentran inactivos.",
                              "type": "string",
                              "enum": [
                                "inactive",
                                "active"
                              ]
                            },
                            "type": {
                              "title": "Type",
                              "description": "Indica el tipo del producto, simple: Producto sencillo, kit: Producto que está compuesto por otros, variantParent: Producto con características variantes (como el color o la talla). Es el item padre, compuesto de items variantes, variant: Producto asociado a un item con variantes, representa un conjunto de variantes en especifico. Es el item hijo asociado a un padre.",
                              "type": "string",
                              "enum": [
                                "simple",
                                "kit",
                                "variantParent",
                                "variant"
                              ]
                            },
                            "subitems": {
                              "type": "array",
                              "description": "Array de objetos que contienen la información de los productos que componen el kit. Aplica únicamente para productos tipo kit.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "quantity": {
                                    "description": "Cantidad del subitem necesaria para conformar el kit.",
                                    "type": "number"
                                  },
                                  "item": {
                                    "description": "Objeto item que contiene toda la información del producto relacionado al combo"
                                  }
                                }
                              }
                            },
                            "kitWarehouse": {
                              "title": "Warehouse",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único de la bodega."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la bodega."
                                },
                                "observations": {
                                  "type": "string",
                                  "description": "Observaciones de la bodega."
                                },
                                "isDefault": {
                                  "type": "boolean",
                                  "description": "Indica si la bodega es la de por defecto."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Dirección de la bodega."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Estado de la bodega, puede ser active o inactive."
                                },
                                "initialQuantity": {
                                  "type": "string",
                                  "description": "Cantidad inicial del producto en la bodega."
                                },
                                "availableQuantity": {
                                  "type": "string",
                                  "description": "Cantidad disponible del producto en la bodega."
                                },
                                "minQuantity": {
                                  "type": "string",
                                  "description": "Cantidad mínima establecida para el producto en la bodega."
                                },
                                "maxQuantity": {
                                  "type": "string",
                                  "description": "Cantidad máxima establecida para el producto en la bodega."
                                }
                              }
                            },
                            "itemCategory": {
                              "description": "Objeto que indica la categoría de ítem asociada. Contiene un objeto itemCategory.",
                              "type": "object"
                            },
                            "customFields": {
                              "description": "Array con atributos adicionales asociados al producto.",
                              "type": "array",
                              "items": {
                                "title": "CustomFields",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id del atributo adicional."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del atributo adicional."
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "Identificador del atributo adicional."
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "Valor del atributo adicional para el item."
                                  }
                                }
                              }
                            },
                            "variantAttributes": {
                              "description": "Array con atributos variantes asociados al producto. Aplica únicamente para items de tipo \"variantParent\" y \"variant\"",
                              "type": "array",
                              "items": {
                                "title": "VariantAttributes",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id del atributo variante."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del atributo variante."
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Estado del atributo variante."
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Array con las opciones del atributo variante."
                                  }
                                }
                              }
                            },
                            "itemVariants": {
                              "description": "Array con los subitems del item variantes. Aplica únicamente para items de tipo \"variantParent\". Un item con variantes contiene un item variante por cada una de las combinaciones posibles de sus atributos variantes, ej: La compañía X tiene un item que contiene los atributos variantes \"COLOR\" y \"TALLA\" con las opciones \"Color: Blanco\", \"Color:Rojo\", \"Talla: XS\", \"Talla: M\". Esto quiere decir que el item padre, contendrá 4 items variantes (un item Blanco XS, otro Blanco M, otro Rojo XS y otro Rojo M)"
                            },
                            "accounting": {
                              "title": "Accounting",
                              "description": "Objeto que representa las cuentas de inventario y costo de ventas. Solo aplica para items inventariables.",
                              "properties": {
                                "inventory": {
                                  "type": "number",
                                  "description": "Cuenta de inventario"
                                },
                                "inventariablePurchase": {
                                  "type": "number",
                                  "description": "Costo del inventario"
                                }
                              }
                            }
                          }
                        }
                      ],
                      "properties": {
                        "tariffHeading": {
                          "type": "string",
                          "description": "Cadena de 10 caracteres que indica la partida arancelaria de un ítem. Aplica para facturas electrónicas de exportación."
                        },
                        "brand": {
                          "type": "string",
                          "description": "Cadena de caracteres que indica la marca de un ítem. Aplica para facturas electrónicas de exportación."
                        },
                        "model": {
                          "type": "string",
                          "description": "Cadena de caracteres que indica el modelo de un ítem. Aplica para facturas electrónicas de exportación."
                        }
                      }
                    },
                    {
                      "title": "Item Costa Rica",
                      "type": "object",
                      "allOf": [
                        {
                          "title": "Item Get",
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Identificador único que representa un producto o servicio específico. La aplicación lo asigna automáticamente.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Nombre del item.",
                              "type": "string"
                            },
                            "description": {
                              "description": "Descripción del item.",
                              "type": "string"
                            },
                            "reference": {
                              "description": "Referencia o código que identifica un item.",
                              "type": "string"
                            },
                            "price": {
                              "type": "array",
                              "description": "Indica los precios asociados al item.",
                              "items": {
                                "title": "PriceList",
                                "type": "object",
                                "properties": {
                                  "idPriceList": {
                                    "type": "string",
                                    "description": "Identificador que representa una lista de precios."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre de la lista de precios."
                                  },
                                  "price": {
                                    "type": "number",
                                    "description": "Precio del producto en esa lista de precios."
                                  }
                                }
                              }
                            },
                            "tax": {
                              "type": "array",
                              "description": "Indica el impuesto asociado al item.",
                              "items": {
                                "title": "Tax",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Identificador del impuesto."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del impuesto."
                                  },
                                  "percentage": {
                                    "type": "number",
                                    "description": "Porcentaje del impuesto."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descripción del impuesto."
                                  },
                                  "status": {
                                    "description": "Estado del impuesto, puede ser active para un impuesto activo, o inactive para un impuesto que se encuentra inactivo.",
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "category": {
                              "title": "Category",
                              "description": "Objeto que contiene la información de la categoría asociada al producto o servicio. Este objeto indica la categoría de Alegra a la cual se llevan los registros de tus ventas cuando realizas movimientos con este producto o servicio.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador de la categoría"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la categoría"
                                }
                              }
                            },
                            "inventory": {
                              "title": "Inventory",
                              "description": "Objeto que contiene la información del inventario del producto. Si este objeto está presente indica que el artículo es inventariable, si no lo está se asume como servicio.",
                              "type": "object",
                              "properties": {
                                "unit": {
                                  "type": "string",
                                  "description": "Indica la unidad de medida del producto."
                                },
                                "availableQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas."
                                },
                                "unitCost": {
                                  "type": "integer",
                                  "description": "Indica el costo unitario del producto."
                                },
                                "initialQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad inicial con la cual se creó el producto. Si el producto se encuentra"
                                },
                                "warehouses": {
                                  "type": "array",
                                  "description": "Array de objetos warehouse que indican las bodegas asociadas al producto",
                                  "items": {
                                    "title": "Warehouse",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Identificador único de la bodega."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre de la bodega."
                                      },
                                      "observations": {
                                        "type": "string",
                                        "description": "Observaciones de la bodega."
                                      },
                                      "isDefault": {
                                        "type": "boolean",
                                        "description": "Indica si la bodega es la de por defecto."
                                      },
                                      "address": {
                                        "type": "string",
                                        "description": "Dirección de la bodega."
                                      },
                                      "status": {
                                        "type": "string",
                                        "description": "Estado de la bodega, puede ser active o inactive."
                                      },
                                      "initialQuantity": {
                                        "type": "string",
                                        "description": "Cantidad inicial del producto en la bodega."
                                      },
                                      "availableQuantity": {
                                        "type": "string",
                                        "description": "Cantidad disponible del producto en la bodega."
                                      },
                                      "minQuantity": {
                                        "type": "string",
                                        "description": "Cantidad mínima establecida para el producto en la bodega."
                                      },
                                      "maxQuantity": {
                                        "type": "string",
                                        "description": "Cantidad máxima establecida para el producto en la bodega."
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "title": "Status",
                              "description": "Indica el estado del producto o servicio, active: para productos que se encuentran activos, inactive: para productos que se encuentran inactivos.",
                              "type": "string",
                              "enum": [
                                "inactive",
                                "active"
                              ]
                            },
                            "type": {
                              "title": "Type",
                              "description": "Indica el tipo del producto, simple: Producto sencillo, kit: Producto que está compuesto por otros, variantParent: Producto con características variantes (como el color o la talla). Es el item padre, compuesto de items variantes, variant: Producto asociado a un item con variantes, representa un conjunto de variantes en especifico. Es el item hijo asociado a un padre.",
                              "type": "string",
                              "enum": [
                                "simple",
                                "kit",
                                "variantParent",
                                "variant"
                              ]
                            },
                            "subitems": {
                              "type": "array",
                              "description": "Array de objetos que contienen la información de los productos que componen el kit. Aplica únicamente para productos tipo kit.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "quantity": {
                                    "description": "Cantidad del subitem necesaria para conformar el kit.",
                                    "type": "number"
                                  },
                                  "item": {
                                    "description": "Objeto item que contiene toda la información del producto relacionado al combo"
                                  }
                                }
                              }
                            },
                            "kitWarehouse": {
                              "title": "Warehouse",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único de la bodega."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la bodega."
                                },
                                "observations": {
                                  "type": "string",
                                  "description": "Observaciones de la bodega."
                                },
                                "isDefault": {
                                  "type": "boolean",
                                  "description": "Indica si la bodega es la de por defecto."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Dirección de la bodega."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Estado de la bodega, puede ser active o inactive."
                                },
                                "initialQuantity": {
                                  "type": "string",
                                  "description": "Cantidad inicial del producto en la bodega."
                                },
                                "availableQuantity": {
                                  "type": "string",
                                  "description": "Cantidad disponible del producto en la bodega."
                                },
                                "minQuantity": {
                                  "type": "string",
                                  "description": "Cantidad mínima establecida para el producto en la bodega."
                                },
                                "maxQuantity": {
                                  "type": "string",
                                  "description": "Cantidad máxima establecida para el producto en la bodega."
                                }
                              }
                            },
                            "itemCategory": {
                              "description": "Objeto que indica la categoría de ítem asociada. Contiene un objeto itemCategory.",
                              "type": "object"
                            },
                            "customFields": {
                              "description": "Array con atributos adicionales asociados al producto.",
                              "type": "array",
                              "items": {
                                "title": "CustomFields",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id del atributo adicional."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del atributo adicional."
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "Identificador del atributo adicional."
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "Valor del atributo adicional para el item."
                                  }
                                }
                              }
                            },
                            "variantAttributes": {
                              "description": "Array con atributos variantes asociados al producto. Aplica únicamente para items de tipo \"variantParent\" y \"variant\"",
                              "type": "array",
                              "items": {
                                "title": "VariantAttributes",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id del atributo variante."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del atributo variante."
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Estado del atributo variante."
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Array con las opciones del atributo variante."
                                  }
                                }
                              }
                            },
                            "itemVariants": {
                              "description": "Array con los subitems del item variantes. Aplica únicamente para items de tipo \"variantParent\". Un item con variantes contiene un item variante por cada una de las combinaciones posibles de sus atributos variantes, ej: La compañía X tiene un item que contiene los atributos variantes \"COLOR\" y \"TALLA\" con las opciones \"Color: Blanco\", \"Color:Rojo\", \"Talla: XS\", \"Talla: M\". Esto quiere decir que el item padre, contendrá 4 items variantes (un item Blanco XS, otro Blanco M, otro Rojo XS y otro Rojo M)"
                            },
                            "accounting": {
                              "title": "Accounting",
                              "description": "Objeto que representa las cuentas de inventario y costo de ventas. Solo aplica para items inventariables.",
                              "properties": {
                                "inventory": {
                                  "type": "number",
                                  "description": "Cuenta de inventario"
                                },
                                "inventariablePurchase": {
                                  "type": "number",
                                  "description": "Costo del inventario"
                                }
                              }
                            }
                          }
                        }
                      ],
                      "properties": {
                        "reference": {
                          "description": "Objeto reference que indica la referencia del producto.",
                          "type": "object",
                          "properties": {
                            "reference": {
                              "description": "India el código de referencia establecido para el producto.",
                              "type": "string"
                            },
                            "type": {
                              "description": "Indica el tipo de referencia del producto.",
                              "type": "string"
                            }
                          }
                        },
                        "productKey": {
                          "description": "Indica la clave del producto",
                          "type": "string"
                        },
                        "tariffHeading": {
                          "description": "Cadena de 12 caracteres que indica la partida arancelaria de un ítem.",
                          "type": "string"
                        }
                      }
                    },
                    {
                      "title": "Item Mexico",
                      "type": "object",
                      "allOf": [
                        {
                          "title": "Item Get",
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Identificador único que representa un producto o servicio específico. La aplicación lo asigna automáticamente.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Nombre del item.",
                              "type": "string"
                            },
                            "description": {
                              "description": "Descripción del item.",
                              "type": "string"
                            },
                            "reference": {
                              "description": "Referencia o código que identifica un item.",
                              "type": "string"
                            },
                            "price": {
                              "type": "array",
                              "description": "Indica los precios asociados al item.",
                              "items": {
                                "title": "PriceList",
                                "type": "object",
                                "properties": {
                                  "idPriceList": {
                                    "type": "string",
                                    "description": "Identificador que representa una lista de precios."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre de la lista de precios."
                                  },
                                  "price": {
                                    "type": "number",
                                    "description": "Precio del producto en esa lista de precios."
                                  }
                                }
                              }
                            },
                            "tax": {
                              "type": "array",
                              "description": "Indica el impuesto asociado al item.",
                              "items": {
                                "title": "Tax",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Identificador del impuesto."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del impuesto."
                                  },
                                  "percentage": {
                                    "type": "number",
                                    "description": "Porcentaje del impuesto."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descripción del impuesto."
                                  },
                                  "status": {
                                    "description": "Estado del impuesto, puede ser active para un impuesto activo, o inactive para un impuesto que se encuentra inactivo.",
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "category": {
                              "title": "Category",
                              "description": "Objeto que contiene la información de la categoría asociada al producto o servicio. Este objeto indica la categoría de Alegra a la cual se llevan los registros de tus ventas cuando realizas movimientos con este producto o servicio.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador de la categoría"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la categoría"
                                }
                              }
                            },
                            "inventory": {
                              "title": "Inventory",
                              "description": "Objeto que contiene la información del inventario del producto. Si este objeto está presente indica que el artículo es inventariable, si no lo está se asume como servicio.",
                              "type": "object",
                              "properties": {
                                "unit": {
                                  "type": "string",
                                  "description": "Indica la unidad de medida del producto."
                                },
                                "availableQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas."
                                },
                                "unitCost": {
                                  "type": "integer",
                                  "description": "Indica el costo unitario del producto."
                                },
                                "initialQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad inicial con la cual se creó el producto. Si el producto se encuentra"
                                },
                                "warehouses": {
                                  "type": "array",
                                  "description": "Array de objetos warehouse que indican las bodegas asociadas al producto",
                                  "items": {
                                    "title": "Warehouse",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Identificador único de la bodega."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre de la bodega."
                                      },
                                      "observations": {
                                        "type": "string",
                                        "description": "Observaciones de la bodega."
                                      },
                                      "isDefault": {
                                        "type": "boolean",
                                        "description": "Indica si la bodega es la de por defecto."
                                      },
                                      "address": {
                                        "type": "string",
                                        "description": "Dirección de la bodega."
                                      },
                                      "status": {
                                        "type": "string",
                                        "description": "Estado de la bodega, puede ser active o inactive."
                                      },
                                      "initialQuantity": {
                                        "type": "string",
                                        "description": "Cantidad inicial del producto en la bodega."
                                      },
                                      "availableQuantity": {
                                        "type": "string",
                                        "description": "Cantidad disponible del producto en la bodega."
                                      },
                                      "minQuantity": {
                                        "type": "string",
                                        "description": "Cantidad mínima establecida para el producto en la bodega."
                                      },
                                      "maxQuantity": {
                                        "type": "string",
                                        "description": "Cantidad máxima establecida para el producto en la bodega."
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "title": "Status",
                              "description": "Indica el estado del producto o servicio, active: para productos que se encuentran activos, inactive: para productos que se encuentran inactivos.",
                              "type": "string",
                              "enum": [
                                "inactive",
                                "active"
                              ]
                            },
                            "type": {
                              "title": "Type",
                              "description": "Indica el tipo del producto, simple: Producto sencillo, kit: Producto que está compuesto por otros, variantParent: Producto con características variantes (como el color o la talla). Es el item padre, compuesto de items variantes, variant: Producto asociado a un item con variantes, representa un conjunto de variantes en especifico. Es el item hijo asociado a un padre.",
                              "type": "string",
                              "enum": [
                                "simple",
                                "kit",
                                "variantParent",
                                "variant"
                              ]
                            },
                            "subitems": {
                              "type": "array",
                              "description": "Array de objetos que contienen la información de los productos que componen el kit. Aplica únicamente para productos tipo kit.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "quantity": {
                                    "description": "Cantidad del subitem necesaria para conformar el kit.",
                                    "type": "number"
                                  },
                                  "item": {
                                    "description": "Objeto item que contiene toda la información del producto relacionado al combo"
                                  }
                                }
                              }
                            },
                            "kitWarehouse": {
                              "title": "Warehouse",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único de la bodega."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la bodega."
                                },
                                "observations": {
                                  "type": "string",
                                  "description": "Observaciones de la bodega."
                                },
                                "isDefault": {
                                  "type": "boolean",
                                  "description": "Indica si la bodega es la de por defecto."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Dirección de la bodega."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Estado de la bodega, puede ser active o inactive."
                                },
                                "initialQuantity": {
                                  "type": "string",
                                  "description": "Cantidad inicial del producto en la bodega."
                                },
                                "availableQuantity": {
                                  "type": "string",
                                  "description": "Cantidad disponible del producto en la bodega."
                                },
                                "minQuantity": {
                                  "type": "string",
                                  "description": "Cantidad mínima establecida para el producto en la bodega."
                                },
                                "maxQuantity": {
                                  "type": "string",
                                  "description": "Cantidad máxima establecida para el producto en la bodega."
                                }
                              }
                            },
                            "itemCategory": {
                              "description": "Objeto que indica la categoría de ítem asociada. Contiene un objeto itemCategory.",
                              "type": "object"
                            },
                            "customFields": {
                              "description": "Array con atributos adicionales asociados al producto.",
                              "type": "array",
                              "items": {
                                "title": "CustomFields",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id del atributo adicional."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del atributo adicional."
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "Identificador del atributo adicional."
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "Valor del atributo adicional para el item."
                                  }
                                }
                              }
                            },
                            "variantAttributes": {
                              "description": "Array con atributos variantes asociados al producto. Aplica únicamente para items de tipo \"variantParent\" y \"variant\"",
                              "type": "array",
                              "items": {
                                "title": "VariantAttributes",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Id del atributo variante."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del atributo variante."
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Estado del atributo variante."
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Array con las opciones del atributo variante."
                                  }
                                }
                              }
                            },
                            "itemVariants": {
                              "description": "Array con los subitems del item variantes. Aplica únicamente para items de tipo \"variantParent\". Un item con variantes contiene un item variante por cada una de las combinaciones posibles de sus atributos variantes, ej: La compañía X tiene un item que contiene los atributos variantes \"COLOR\" y \"TALLA\" con las opciones \"Color: Blanco\", \"Color:Rojo\", \"Talla: XS\", \"Talla: M\". Esto quiere decir que el item padre, contendrá 4 items variantes (un item Blanco XS, otro Blanco M, otro Rojo XS y otro Rojo M)"
                            },
                            "accounting": {
                              "title": "Accounting",
                              "description": "Objeto que representa las cuentas de inventario y costo de ventas. Solo aplica para items inventariables.",
                              "properties": {
                                "inventory": {
                                  "type": "number",
                                  "description": "Cuenta de inventario"
                                },
                                "inventariablePurchase": {
                                  "type": "number",
                                  "description": "Costo del inventario"
                                }
                              }
                            }
                          }
                        }
                      ],
                      "properties": {
                        "productKey": {
                          "description": "Indica la clave de producto o ProdServKey.",
                          "type": "string"
                        }
                      }
                    },
                    {
                      "title": "Item Panama",
                      "type": "object",
                      "allOf": [
                        {
                          "title": "Item Get",
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Identificador único que representa un producto o servicio específico. La aplicación lo asigna automáticamente.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Nombre del item.",
                              "type": "string"
                            },
                            "description": {
                              "description": "Descripción del item.",
                              "type": "string"
                            },
                            "reference": {
                              "description": "Referencia o código que identifica un item.",
                              "type": "string"
                            },
                            "price": {
                              "type": "array",
                              "description": "Indica los precios asociados al item.",
                              "items": {
                                "title": "PriceList",
                                "type": "object",
                                "properties": {
                                  "idPriceList": {
                                    "type": "string",
                                    "description": "Identificador que representa una lista de precios."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre de la lista de precios."
                                  },
                                  "price": {
                                    "type": "number",
                                    "description": "Precio del producto en esa lista de precios."
                                  }
                                }
                              }
                            },
                            "tax": {
                              "type": "array",
                              "description": "Indica el impuesto asociado al item.",
                              "items": {
                                "title": "Tax",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Identificador del impuesto."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Nombre del impuesto."
                                  },
                                  "percentage": {
                                    "type": "number",
                                    "description": "Porcentaje del impuesto."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descripción del impuesto."
                                  },
                                  "status": {
                                    "description": "Estado del impuesto, puede ser active para un impuesto activo, o inactive para un impuesto que se encuentra inactivo.",
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "category": {
                              "title": "Category",
                              "description": "Objeto que contiene la información de la categoría asociada al producto o servicio. Este objeto indica la categoría de Alegra a la cual se llevan los registros de tus ventas cuando realizas movimientos con este producto o servicio.",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador de la categoría"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la categoría"
                                }
                              }
                            },
                            "inventory": {
                              "title": "Inventory",
                              "description": "Objeto que contiene la información del inventario del producto. Si este objeto está presente indica que el artículo es inventariable, si no lo está se asume como servicio.",
                              "type": "object",
                              "properties": {
                                "unit": {
                                  "type": "string",
                                  "description": "Indica la unidad de medida del producto."
                                },
                                "availableQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad disponible en el inventario. Si el producto se encuentra distribuido en múltiples bodegas, este atributo retorna la cantidad disponible en todas las bodegas."
                                },
                                "unitCost": {
                                  "type": "integer",
                                  "description": "Indica el costo unitario del producto."
                                },
                                "initialQuantity": {
                                  "type": "integer",
                                  "description": "Indica la cantidad inicial con la cual se creó el producto. Si el producto se encuentra"
                                },
                                "warehouses": {
                                  "type": "array",
                                  "description": "Array de objetos warehouse que indican las bodegas asociadas al producto",
                                  "items": {
                                    "title": "Warehouse",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Identificador único de la bodega."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Nombre de la bodega."
                                      },
                                      "observations": {
                                        "type": "string",
                                        "description": "Observaciones de la bodega."
                                      },
                                      "isDefault": {
                                        "type": "boolean",
                                        "description": "Indica si la bodega es la de por defecto."
                                      },
                                      "address": {
                                        "type": "string",
                                        "description": "Dirección de la bodega."
                                      },
                                      "status": {
                                        "type": "string",
                                        "description": "Estado de la bodega, puede ser active o inactive."
                                      },
                                      "initialQuantity": {
                                        "type": "string",
                                        "description": "Cantidad inicial del producto en la bodega."
                                      },
                                      "availableQuantity": {
                                        "type": "string",
                                        "description": "Cantidad disponible del producto en la bodega."
                                      },
                                      "minQuantity": {
                                        "type": "string",
                                        "description": "Cantidad mínima establecida para el producto en la bodega."
                                      },
                                      "maxQuantity": {
                                        "type": "string",
                                        "description": "Cantidad máxima establecida para el producto en la bodega."
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "status": {
                              "title": "Status",
                              "description": "Indica el estado del producto o servicio, active: para productos que se encuentran activos, inactive: para productos que se encuentran inactivos.",
                              "type": "string",
                              "enum": [
                                "inactive",
                                "active"
                              ]
                            },
                            "type": {
                              "title": "Type",
                              "description": "Indica el tipo del producto, simple: Producto sencillo, kit: Producto que está compuesto por otros, variantParent: Producto con características variantes (como el color o la talla). Es el item padre, compuesto de items variantes, variant: Producto asociado a un item con variantes, representa un conjunto de variantes en especifico. Es el item hijo asociado a un padre.",
                              "type": "string",
                              "enum": [
                                "simple",
                                "kit",
                                "variantParent",
                                "variant"
                              ]
                            },
                            "subitems": {
                              "type": "array",
                              "description": "Array de objetos que contienen la información de los productos que componen el kit. Aplica únicamente para productos tipo kit.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "quantity": {
                                    "description": "Cantidad del subitem necesaria para conformar el kit.",
                                    "type": "number"
                                  },
                                  "item": {
                                    "description": "Objeto item que contiene toda la información del producto relacionado al combo"
                                  }
                                }
                              }
                            },
                            "kitWarehouse": {
                              "title": "Warehouse",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador único de la bodega."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre de la bodega."
                                },
                                "observations": {
                                  "type": "string",
                                  "description": "Observaciones de la bodega."
                                },
                                "isDefault": {
                                  "type": "boolean",
                                  "description": "Indica si la bodega es la de por defecto."
                                },
                                "address": {
                                  "type": "string",
                                  "description": "Dirección de la bodega."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Estado de la bodega, puede ser active o inactive."
                                },
                                "initialQuantity": {
[...]
