<% extraStyles=` 
        <style>
            .suggestion-item.selected {
                background-color: #ddd;
                cursor: pointer;
            }
            .suggestions {
                max-height: 150px;
                overflow-y: auto;
            }
        </style>
`; %>


    <main style="margin-top: 20px">
        <div class="container pt-4">
            <h3 class="text-center"><i class="fa-solid fa-dolly"></i> Productos que cambiaron de precio</h3>
    
            <!-- Sección para mostrar los productos en cuadritos (cards) más pequeños y con color naranja -->
            <div class="row" id="productos-lista" style="margin-top: 50px;">
                <!-- Aquí se generarán dinámicamente los productos obtenidos del backend -->
            </div>
    
            <!-- Sección para ingresar nombre y cantidad de impresiones -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <label for="productoSearch" class="form-label">Buscar Producto para Imprimir</label>
                    <input type="text" class="form-control" id="productoSearch"
                        placeholder="Escribe el nombre del producto">
                    <div id="suggestions" class="suggestions"></div> <!-- Sugerencias de búsqueda -->
                </div>
                <div class="col-md-4">
                    <label for="cantidadImpresiones" class="form-label">Cantidad de impresiones</label>
                    <input type="number" class="form-control" id="cantidadImpresiones" placeholder="Cantidad">
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-primary" id="agregarBtn">Agregar</button>
                    <button class="btn btn-secondary ms-2" id="imprimirTablaBtn">Imprimir</button>
                </div>
            </div>
    
            <!-- Tabla para mostrar productos seleccionados -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <table class="table" id="productosSeleccionados">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se añadirán los productos seleccionados -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>


<% extraScripts=`
        <script src="js/preciador/preciador.js" ></script>
`; %>

