{
  "openapi": "3.0.3",
  "info": {
    "title": "Ingresos",
    "description": "Documentación de los endpoints de ingresos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.alegra.com/api/v1",
      "description": "Production API server."
    }
  ],
  "tags": [
    {
      "name": "Facturas de venta",
      "description": "Documentación referente a los endpoints de facturas de venta"
    },
    {
      "name": "Pagos",
      "description": "Documentación referente a los endpoints de pagos"
    },
    {
      "name": "Notas Crédito",
      "description": "Documentación referente a los endpoints de notas de crédito"
    },
    {
      "name": "Notas Débito cliente",
      "description": "Documentación referente a los endpoints de notas débito cliente"
    },
    {
      "name": "Cotizaciones",
      "description": "Documentación referente a los endpoints de cotizaciones"
    },
    {
      "name": "Remisiones",
      "description": "Documentación referente a los endpoints de Remisiones"
    },
    {
      "name": "Facturas Globales",
      "description": "Documentación referente a los endpoints de las facturas globales"
    },
    {
      "name": "Documentos de traslado",
      "description": "Documentación referente a los endpoints de las documentos de traslado"
    },
    {
      "name": "Facturas recurrentes",
      "description": "Documentación referente a los endpoints de las facturas recurrentes"
    },
    {
      "name": "Tickets de venta",
      "description": "Documentación referente a los endpoints de los tickets de venta"
    }
  ],
  "paths": {
    "/invoices": {
      "get": {
        "tags": [
          "Facturas de venta"
        ],
        "summary": "Lista de facturas de venta",
        "description": "Endpoint que retorna las facturas registradas en la cuenta de Alegra. Si no se envía límite de facturas, por defecto se envían 30 facturas.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Desde cual factura se quiere consultar. Por ejemplo para consultar desde la factura 20, se envía start=20 (diferente a id de factura). Los resultados varian según el orden en el que se muestra la información.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad de facturas a partir del inicio que se desea retornar.  Por defecto retorna 30 facturas. Si este valor es mayor que 30, la aplicación retorna error.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "description": "Orden ascendente o descendente en el cual se quieren retornar las facturas.  Opciones disponibles son DESC o ASC.  Por defecto es ASC (ascendente).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_field",
            "in": "query",
            "description": "Campo por el cual se desea ordenar, las opciones posibles son id, name, date, dueDate, status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Incluir en los resultados metadatos. Se debe tener en cuenta que si se envía este parámetro el objeto que retorna la aplicación incluye un atributo \"metadata\" y otro \"data\" en donde se envían las facturas.  Actualmente la información que se envía en metadata incluye el total de facturas que tiene registrada la empresa.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Ids de las facturas de venta. Sirve para consultar facturas específicas. Deben ir separados por coma (,) y sin espacios. Máximo se puede consultar un total de 30 facturas al tiempo. Si se especifica este parámetro, todos los otros parámetros serán ignorados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Filtrar resultados según fecha de creación de la factura. Se retornarán todas las facturas de venta que su fecha de creación (atributo date) coincida exactamente con el valor enviado en este parámetro. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueDate",
            "in": "query",
            "description": "Filtrar resultados según fecha de vencimiento de la factura.  Se retornarán todas las facturas de venta que coincidan en su fecha de vencimiento (atributo dueDate) con el valor enviado en este parámetro. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar resultados según el estado de la factura.  Se retornarán todas las facturas de venta que coincidan en su estado (atributo status) con el valor enviado en este parámetro. Los valores aceptados son `open`, `closed`, `draft` y `void`, para consultar varios estados se deben separar con una coma (closed,draft).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Filtrar resultados según el identificador del cliente de la factura.  Se retornarán todas las facturas de venta que estén asociadas a un cliente que en su identificador (campo del id) contenga el valor enviado en este parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_name",
            "in": "query",
            "description": "Filtrar resultados según el nombre del cliente de la factura.  Se retornarán todas las facturas de venta que estén asociadas a un cliente que en su nombre contenga el valor enviado en este parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_identification",
            "in": "query",
            "description": "Filtrar resultados según la identificación del cliente de la factura.  Se retornarán todas las facturas de venta que estén asociadas a un cliente que en su identificación (campo del identification) contenga el valor enviado en este parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberTemplate_fullNumber",
            "in": "query",
            "description": "Filtrar resultados según la numeración de la factura. Se retornarán todas las facturas de venta que estén asociadas a una numeración que contenga el valor enviado en este parámetro.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "Filtrar las facturas de venta por el id del item.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_after",
            "in": "query",
            "description": "Fecha del documento desde la cual se deben obtener los resultados. Consulta desde el dia siguiente en adelante. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_afterOrNow",
            "in": "query",
            "description": "Fecha del documento desde la cual se deben obtener los resultados. Consulta desde el dia actual en adelante. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_before",
            "in": "query",
            "description": "Fecha del documento desde la cual se deben obtener los resultados. Consulta desde el dia anterior para atras. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_beforeOrNow",
            "in": "query",
            "description": "Fecha del documento desde la cual se deben obtener los resultados. Consulta desde el dia actual para atras. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueDate_after",
            "in": "query",
            "description": "Fecha de vencimiento del documento desde la cual se deben obtener los resultados. Consulta desde el dia siguiente en adelante. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueDate_afterOrNow",
            "in": "query",
            "description": "Fecha de vencimiento del documento desde la cual se deben obtener los resultados. Consulta desde el dia actual en adelante. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueDate_before",
            "in": "query",
            "description": "Fecha de vencimeinto del documento desde la cual se deben obtener los resultados. Consulta desde el dia anterior para atras. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueDate_beforeOrNow",
            "in": "query",
            "description": "Fecha de vencimeinto del documento desde la cual se deben obtener los resultados. Consulta desde el dia anterior para atras. El formato para la fecha es YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toReplace",
            "in": "query",
            "description": "Filtrar las facturas que necesitan ser sustituidas de un cliente. Cuando este campo se envía, es obligatorio enviar el campo client_id.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "download",
            "in": "query",
            "description": "Al enviar este parametro solicitas unicamente la descarga del PDF de hasta 10 facturas.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "downloadType",
            "in": "query",
            "description": "Las opciones pueden ser `1to1` y `all`. Al utilizar `all` solicitas unidos en un solo archivo pdf que incluya todas las facturas. Al utilizar `1to1` solicitas cada pdf por factura separado en distintos links.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna la lista de facturas",
            "content": {
              "application/json": {
                "examples": {
                  "invoices-obtained": {
                    "summary": "Lista de facturas de venta",
                    "value": [
                      {
                        "id": "1",
                        "date": "2015-09-15",
                        "dueDate": "2015-10-15",
                        "datetime": "2019-10-16 13:46:50",
                        "observations": "",
                        "anotation": "Favor consignar a la cuenta XXXXXX",
                        "termsConditions": "Garantía de 1 año",
                        "status": "open",
                        "client": {
                          "id": "1",
                          "name": "Coorporación Alegrate",
                          "identification": "159.549.847",
                          "email": "prueba@alegra.com",
                          "phonePrimary": "999-99-99",
                          "phoneSecondary": "",
                          "fax": "",
                          "mobile": "(333) 555-55-55",
                          "address": {
                            "address": "Calle principal #45",
                            "city": "Barcelona"
                          }
                        },
                        "numberTemplate": {
                          "id": "1",
                          "prefix": "A-",
                          "number": 520,
                          "text": "Resolución de la DIAN # 45112"
                        },
                        "retentions": [
                          {
                            "id": "1",
                            "name": "Compras",
                            "percentage": 3.5,
                            "amount": 500
                          }
                        ],
                        "seller": {
                          "id": "12",
                          "name": "Diana Giraldo",
                          "identification": "520.526.21",
                          "observations": "Líder de Ventas"
                        },
                        "priceList": {
                          "id": "5",
                          "name": "Distribuidor"
                        },
                        "currency": {
                          "code": "USD",
                          "symbol": "$",
                          "exchangeRate": 2950
                        },
                        "total": 609,
                        "totalPaid": 9,
                        "balance": 600,
                        "decimalPrecision": 2,
                        "items": [
                          {
                            "id": "1",
                            "name": "Billetera",
                            "description": "Billetera de cuero negro",
                            "reference": "REF-005",
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "type": "IVA",
                                "status": "active"
                              }
                            ],
                            "price": 80,
                            "quantity": 5
                          },
                          {
                            "id": "2",
                            "name": "Cartera",
                            "description": "Cartera de cuero color café",
                            "reference": "CAR-195",
                            "price": 125,
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "status": "active"
                              }
                            ],
                            "quantity": 1
                          }
                        ],
                        "payments": []
                      },
                      {
                        "id": "2",
                        "date": "2015-11-15",
                        "dueDate": "2015-12-15",
                        "observations": "Observaciones de la factura.",
                        "anotation": "Nota : Favor consignar a la cuenta XXXXXX",
                        "termsConditions": "Términos y condiciones de mi empresa",
                        "status": "draft",
                        "client": {
                          "id": "2",
                          "name": "Acrecer",
                          "identification": "963.654.988",
                          "email": "prueba2@alegra.com",
                          "phonePrimary": "111 11 11",
                          "phoneSecondary": "",
                          "fax": "",
                          "mobile": "(333) 555-55-55",
                          "observations": "",
                          "address": {
                            "address": "Avenida Madison",
                            "city": "New York, USA"
                          }
                        },
                        "numberTemplate": [
                          {
                            "id": "1",
                            "prefix": "A-",
                            "number": 525,
                            "text": "Resolución de la DIAN # 45112"
                          }
                        ],
                        "retentions": [
                          {
                            "id": "1",
                            "name": "Compras",
                            "percentage": 3.5,
                            "amount": 22.12
                          },
                          {
                            "id": "6",
                            "name": "Honorarios",
                            "percentage": 11,
                            "amount": 500
                          }
                        ],
                        "seller": {
                          "id": "52",
                          "name": "Carmen López",
                          "identification": "",
                          "observations": ""
                        },
                        "priceList": {},
                        "currency": {
                          "code": "USD",
                          "symbol": "$",
                          "exchangeRate": 3100
                        },
                        "total": 632,
                        "totalPaid": 500,
                        "balance": 132,
                        "decimalPrecision": 2,
                        "items": [
                          {
                            "id": "1",
                            "name": "Billetera",
                            "description": "Billetera de cuero negro",
                            "reference": "REF-005",
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "type": "IVA",
                                "status": "active"
                              }
                            ],
                            "price": 85,
                            "quantity": 5
                          },
                          {
                            "id": "2",
                            "name": "Cartera",
                            "description": "Cartera de cuero color café",
                            "reference": "CAR-195",
                            "price": 120,
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "type": "IVA",
                                "status": "active"
                              }
                            ],
                            "quantity": 1
                          }
                        ],
                        "payments": [
                          {
                            "id": "125",
                            "number": "150",
                            "date": "2015-11-23",
                            "amount": "500",
                            "paymentMethod": "transfer",
                            "observations": "",
                            "anotation": "",
                            "status": "open"
                          }
                        ]
                      }
                    ]
                  },
                  "invoices-obtained-with-metadata": {
                    "summary": "Lista de facturas de venta con metadata",
                    "value": {
                      "metadata": {
                        "total": 15
                      },
                      "data": [
                        {
                          "id": "1",
                          "date": "2015-09-15",
                          "dueDate": "2015-10-15",
                          "observations": "",
                          "anotation": "Favor consignar a la cuenta XXXXXX",
                          "termsConditions": "Garantía de 1 año",
                          "status": "open",
                          "client": {
                            "id": "1",
                            "name": "Coorporación Alegrate",
                            "identification": "159.549.847",
                            "email": "prueba@alegra.com",
                            "phonePrimary": "999-99-99",
                            "phoneSecondary": "",
                            "fax": "",
                            "mobile": "(333) 555-55-55",
                            "address": {
                              "address": "Calle principal #45",
                              "city": "Barcelona"
                            }
                          },
                          "numberTemplate": {
                            "id": "1",
                            "prefix": "A-",
                            "number": 520,
                            "text": "Resolución de la DIAN # 45112"
                          },
                          "retentions": [
                            {
                              "id": "1",
                              "name": "Compras",
                              "percentage": 3.5,
                              "amount": 500
                            }
                          ],
                          "seller": {
                            "id": "12",
                            "name": "Diana Giraldo",
                            "identification": "520.526.21",
                            "observations": "Líder de Ventas"
                          },
                          "priceList": {
                            "id": "5",
                            "name": "Distribuidor"
                          },
                          "currency": {
                            "code": "USD",
                            "exchangeRate": 2950
                          },
                          "total": 609,
                          "totalPaid": 0,
                          "items": [
                            {
                              "id": "1",
                              "name": "Billetera",
                              "description": "Billetera de cuero negro",
                              "reference": "REF-005",
                              "tax": [
                                {
                                  "id": "6",
                                  "name": "IVA",
                                  "percentage": 16,
                                  "description": "Impuesto de valor agregado",
                                  "status": "active"
                                }
                              ],
                              "price": 80,
                              "quantity": 5
                            },
                            {
                              "id": "2",
                              "name": "Cartera",
                              "description": "Cartera de cuero color café",
                              "reference": "CAR-195",
                              "price": 125,
                              "tax": [
                                {
                                  "id": "6",
                                  "name": "IVA",
                                  "percentage": 16,
                                  "description": "Impuesto de valor agregado",
                                  "status": "active"
                                }
                              ],
                              "quantity": 1
                            }
                          ],
                          "payments": []
                        },
                        {
                          "id": "2",
                          "date": "2015-11-15",
                          "dueDate": "2015-12-15",
                          "observations": "Observaciones de la factura.",
                          "anotation": "Nota : Favor consignar a la cuenta XXXXXX",
                          "termsConditions": "Términos y condiciones de mi empresa",
                          "status": "draft",
                          "client": {
                            "id": "2",
                            "name": "Acrecer",
                            "identification": "963.654.988",
                            "email": "prueba2@alegra.com",
                            "phonePrimary": "111 11 11",
                            "phoneSecondary": "",
                            "fax": "",
                            "mobile": "(333) 555-55-55",
                            "observations": "",
                            "address": {
                              "address": "Avenida Madison",
                              "city": "New York, USA"
                            }
                          },
                          "numberTemplate": [
                            {
                              "id": "1",
                              "prefix": "A-",
                              "number": 525,
                              "text": "Resolución de la DIAN # 45112"
                            }
                          ],
                          "retentions": [
                            {
                              "id": "1",
                              "name": "Compras",
                              "percentage": 3.5,
                              "amount": 22.12
                            },
                            {
                              "id": "6",
                              "name": "Honorarios",
                              "percentage": 11,
                              "amount": 500
                            }
                          ],
                          "seller": {
                            "id": "52",
                            "name": "Carmen López",
                            "identification": "",
                            "observations": ""
                          },
                          "priceList": {},
                          "currency": {
                            "code": "USD",
                            "exchangeRate": 3100
                          },
                          "total": 632,
                          "totalPaid": 500,
                          "items": [
                            {
                              "id": "1",
                              "name": "Billetera",
                              "description": "Billetera de cuero negro",
                              "reference": "REF-005",
                              "tax": [
                                {
                                  "id": "6",
                                  "name": "IVA",
                                  "percentage": 16,
                                  "description": "Impuesto de valor agregado",
                                  "status": "active"
                                }
                              ],
                              "price": 85,
                              "quantity": 5
                            },
                            {
                              "id": "2",
                              "name": "Cartera",
                              "description": "Cartera de cuero color café",
                              "reference": "CAR-195",
                              "price": 120,
                              "tax": [
                                {
                                  "id": "6",
                                  "name": "IVA",
                                  "percentage": 16,
                                  "description": "Impuesto de valor agregado",
                                  "status": "active"
                                }
                              ],
                              "quantity": 1
                            }
                          ],
                          "payments": [
                            {
                              "id": "125",
                              "number": "150",
                              "date": "2015-11-23",
                              "amount": "500",
                              "paymentMethod": "transfer",
                              "observations": "",
                              "anotation": "",
                              "status": "open"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "invoices-obtained-with-events-field": {
                    "summary": "Lista de facturas de venta",
                    "value": [
                      {
                        "id": "1",
                        "date": "2022-12-31",
                        "dueDate": "2022-12-31",
                        "datetime": "2022-12-31 13:46:50",
                        "observations": "",
                        "anotation": "Favor consignar a la cuenta XXXXXX",
                        "termsConditions": "Garantía de 1 año",
                        "status": "open",
                        "client": {
                          "id": "1",
                          "name": "Coorporación Alegrate",
                          "identification": "159.549.847",
                          "email": "prueba@alegra.com",
                          "phonePrimary": "999-99-99",
                          "phoneSecondary": "",
                          "fax": "",
                          "mobile": "(333) 555-55-55",
                          "address": {
                            "address": "Calle principal #45",
                            "city": "Barcelona"
                          }
                        },
                        "numberTemplate": {
                          "id": "1",
                          "prefix": "A-",
                          "number": 520,
                          "text": "Resolución de la DIAN # 45112"
                        },
                        "retentions": [
                          {
                            "id": "1",
                            "name": "Compras",
                            "percentage": 3.5,
                            "amount": 500
                          }
                        ],
                        "seller": {
                          "id": "12",
                          "name": "Diana Giraldo",
                          "identification": "520.526.21",
                          "observations": "Líder de Ventas"
                        },
                        "priceList": {
                          "id": "5",
                          "name": "Distribuidor"
                        },
                        "currency": {
                          "code": "USD",
                          "symbol": "$",
                          "exchangeRate": 2950
                        },
                        "total": 609,
                        "totalPaid": 9,
                        "balance": 600,
                        "decimalPrecision": 2,
                        "items": [
                          {
                            "id": "1",
                            "name": "Billetera",
                            "description": "Billetera de cuero negro",
                            "reference": "REF-005",
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "type": "IVA",
                                "status": "active"
                              }
                            ],
                            "price": 80,
                            "quantity": 5
                          },
                          {
                            "id": "2",
                            "name": "Cartera",
                            "description": "Cartera de cuero color café",
                            "reference": "CAR-195",
                            "price": 125,
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "status": "active"
                              }
                            ],
                            "quantity": 1
                          }
                        ],
                        "payments": [],
                        "events": [
                          {
                            "status": "OPENED",
                            "date": "31-12-2022 13:46:55",
                            "type": "CLIENT_EMAILS"
                          },
                          {
                            "status": "ACKNOWLEDGMENT_DIAN",
                            "date": "04-01-2023 16:04:00",
                            "type": "CLIENT_ACCEPTANCE"
                          },
                          {
                            "status": "SERVICE_CONFIRMATION",
                            "date": "04-01-2023 16:04:00",
                            "type": "CLIENT_ACCEPTANCE"
                          },
                          {
                            "status": "ACCEPTED_DIAN",
                            "date": "04-01-2023 16:04:00",
                            "type": "CLIENT_ACCEPTANCE"
                          }
                        ]
                      },
                      {
                        "id": "2",
                        "date": "2023-12-31",
                        "dueDate": "2023-12-31",
                        "observations": "Observaciones de la factura.",
                        "anotation": "Nota : Favor consignar a la cuenta XXXXXX",
                        "termsConditions": "Términos y condiciones de mi empresa",
                        "status": "draft",
                        "client": {
                          "id": "2",
                          "name": "Acrecer",
                          "identification": "963.654.988",
                          "email": "prueba2@alegra.com",
                          "phonePrimary": "111 11 11",
                          "phoneSecondary": "",
                          "fax": "",
                          "mobile": "(333) 555-55-55",
                          "observations": "",
                          "address": {
                            "address": "Avenida Madison",
                            "city": "New York, USA"
                          }
                        },
                        "numberTemplate": [
                          {
                            "id": "1",
                            "prefix": "A-",
                            "number": 525,
                            "text": "Resolución de la DIAN # 45112"
                          }
                        ],
                        "retentions": [
                          {
                            "id": "1",
                            "name": "Compras",
                            "percentage": 3.5,
                            "amount": 22.12
                          },
                          {
                            "id": "6",
                            "name": "Honorarios",
                            "percentage": 11,
                            "amount": 500
                          }
                        ],
                        "seller": {
                          "id": "52",
                          "name": "Carmen López",
                          "identification": "",
                          "observations": ""
                        },
                        "priceList": {},
                        "currency": {
                          "code": "USD",
                          "symbol": "$",
                          "exchangeRate": 3100
                        },
                        "total": 632,
                        "totalPaid": 500,
                        "balance": 132,
                        "decimalPrecision": 2,
                        "items": [
                          {
                            "id": "1",
                            "name": "Billetera",
                            "description": "Billetera de cuero negro",
                            "reference": "REF-005",
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "type": "IVA",
                                "status": "active"
                              }
                            ],
                            "price": 85,
                            "quantity": 5
                          },
                          {
                            "id": "2",
                            "name": "Cartera",
                            "description": "Cartera de cuero color café",
                            "reference": "CAR-195",
                            "price": 120,
                            "tax": [
                              {
                                "id": "6",
                                "name": "IVA",
                                "percentage": 16,
                                "description": "Impuesto de valor agregado",
                                "type": "IVA",
                                "status": "active"
                              }
                            ],
                            "quantity": 1
                          }
                        ],
                        "payments": [
                          {
                            "id": "125",
                            "number": "150",
                            "date": "2015-11-23",
                            "amount": "500",
                            "paymentMethod": "transfer",
                            "observations": "",
                            "anotation": "",
                            "status": "open"
                          }
                        ],
                        "events": [
                          {
                            "status": "OPENED",
                            "date": "31-12-2022 13:46:55",
                            "type": "CLIENT_EMAILS"
                          },
                          {
                            "status": "ACKNOWLEDGMENT_DIAN",
                            "date": "04-01-2023 16:04:00",
                            "type": "CLIENT_ACCEPTANCE"
                          },
                          {
                            "status": "SERVICE_CONFIRMATION",
                            "date": "04-01-2023 16:04:00",
                            "type": "CLIENT_ACCEPTANCE"
                          },
                          {
                            "status": "ACCEPTED_DIAN",
                            "date": "04-01-2023 16:04:00",
                            "type": "CLIENT_ACCEPTANCE"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad request - Límite sobrepasa máximo permitido",
            "content": {
              "application/json": {
                "examples": {
                  "max-invoice-error": {
                    "summary": "Límite máximo de facturas",
                    "value": {
                      "error": "El límite de facturas para retornar debe ser menor o igual a 30.",
                      "code": 903
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Facturas de venta"
        ],
        "summary": "Crear factura de venta",
        "description": "Endpoint que permite crear una factura de venta desde cero.",
        "requestBody": {
          "description": "Objeto JSON que contiene la información de una factura de venta",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Factura de venta simple",
                    "type": "object",
                    "allOf": [
                      {
                        "title": "Edición simple",
                        "type": "object",
                        "allOf": [
                          {
                            "title": "Invoice estandar",
                            "type": "object",
                            "properties": {
                              "termsConditions": {
                                "description": "Términos y condiciones de la factura. Longitud máxima permitida: 500.",
                                "type": "string"
                              },
                              "numberTemplate": {
                                "description": "Objeto que contiene la información de la numeración de la factura. Para numeraciones automáticas solo debe incluir el id de la numeración, para numeraciones manuales se debe enviar como mínimo el id de la numeración y el número de la factura. Si no se envía este atributo la aplicación intenta crear la factura con la numeración preferida que tiene configurada la empresa. Si no es posible retorna error.",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "description": "ID de la numeración",
                                    "type": "string"
                                  },
                                  "prefix": {
                                    "description": "Prefijo de la factura (enviar en caso de que la numeración sea manual, opcional)",
                                    "type": "string"
                                  },
                                  "number": {
                                    "description": "Número de la factura (enviar en caso de que la numeración sea manual, requerido)",
                                    "type": "string"
                                  }
                                }
                              },
                              "items": {
                                "description": "Array de objetos item (productos/servicios) asociados a la factura. Cada objeto debe incluir: `id (number, obligatorio)`: identificador del producto o servicio que se vende; `price (double, obligatorio)`: precio de venta; `reference (string)` : referencia del producto/servicio; `description (string)`: descripción del producto/servicio; `tax (objeto)` : array de objetos tax que indican la información del impuesto; `quantity (obligatorio)`: cantidad vendida del producto o servicio. El precio del producto/servicio no debe incluir impuestos ni descuentos.",
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Identificador del producto",
                                      "example": 1
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Nombre del producto",
                                      "example": "Arroz"
                                    },
                                    "discount": {
                                      "type": "number",
                                      "description": "Porcentaje de descuento aplicado al producto",
                                      "example": 20
                                    },
                                    "observations": {
                                      "type": "string",
                                      "description": "Observaciones acerca del producto",
                                      "example": "Arroz para la siembra"
                                    },
                                    "tax": {
                                      "type": "array",
                                      "description": "Array de objetos tax que indican los impuestos aplicados al producto al momento de la compra",
                                      "items": {
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "Identificador único que representa un impuesto específico.",
                                            "example": 1
                                          }
                                        }
                                      }
                                    },
                                    "price": {
                                      "type": "number",
                                      "description": "Precio de compra del producto"
                                    },
                                    "quantity": {
                                      "type": "number",
                                      "description": "Cantidad de productos que fueron comprados."
                                    }
                                  }
                                }
                              },
                              "anotation": {
                                "description": "Notas de la factura, visibles en el PDF o documento impreso. Longitud máxima permitida: 500.",
                                "type": "string"
                              },
                              "dueDate": {
                                "description": "Fecha de vencimiento de la factura. Formato yyyy-MM-dd.",
                                "type": "string",
                                "format": "date",
                                "example": "2019-02-12"
                              },
                              "date": {
                                "description": "Fecha de la factura. Formato yyyy-MM-dd.",
                                "type": "string",
                                "format": "date",
                                "example": "2019-02-12"
                              },
                              "observations": {
                                "description": "Observaciones de la factura (no visibles en el pdf o documento impreso). Longitud máxima permitida: 500.",
                                "type": "string",
                                "example": "Estas son las observaciones de mi factura.",
                                "maxLength": 500
                              },
                              "client": {
                                "description": "Objecto que contiene el id del cliente asociado a la factura. Se puede enviar directamente el id del cliente en este atributo.",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "description": "Identificador del cliente",
                                    "type": "string"
                                  }
                                }
                              },
                              "seller": {
                                "description": "Objeto que indica el id del vendedor asociado a la factura. Se puede enviar directamente el id del vendedor en este atributo.",
                                "type": "object",
                                "oneOf": [
                                  {
                                    "type": "integer",
                                    "example": 1
                                  },
                                  {
                                    "type": "object",
                                    "example": {
                                      "value": {
                                        "id": 1
                                      }
                                    }
                                  }
                                ]
                              },
                              "priceList": {
                                "description": "Objeto que indica el id de la lista de precios asociada a la factura. Se puede enviar directamente el id de la lista de precios en este atributo.",
                                "type": "object",
                                "oneOf": [
                                  {
                                    "type": "integer",
                                    "example": 1
                                  },
                                  {
                                    "type": "object",
                                    "example": {
                                      "value": {
                                        "id": 1
                                      }
                                    }
                                  }
                                ]
                              },
                              "currency": {
                                "description": "Objecto que incluye la información de la moneda y tasa de cambio asociada a la factura. Solo se debe incluir si la compañía tiene activa la funcionalidad de multimoneda y tiene configurada la moneda seleccionada. Debe incluir el código de la moneda (de tres letras según ISO) y la tasa de cambio.",
                                "type": "object"
                              },
                              "retentions": {
                                "description": "Array de objetos retention que indican las retenciones de la factura de venta. Cada objeto debe contener:  `id (number, obligatorio)`: Identificador de la retención que se desea asociar a la factura; `amount (double, obligatorio)`: valor retenido.",
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "description": "Identificador de la retención",
                                      "type": "string"
                                    },
                                    "amount": {
                                      "description": "Valor retenido",
                                      "type": "number"
                                    }
                                  }
                                }
                              },
                              "warehouse": {
                                "description": "Objeto que indica el id de la bodega/almacén asociada a la factura. Se puede enviar directamente el id de la bodega/almacén en este atributo. Si no se envía este parámetro la factura queda asociada a la bodega/almacén Principal.",
                                "type": "object",
                                "oneOf": [
                                  {
                                    "type": "integer",
                                    "example": 1
                                  },
                                  {
                                    "type": "object",
                                    "example": {
                                      "value": {
                                        "id": 1
                                      }
                                    }
                                  }
                                ]
                              },
                              "remissions": {
                                "description": "Array de identificadores de las remisiones que se desean facturar, puedes asociar una o varias remisiones tan solo indicando el id de cada una en un array. El cliente de las remisiones y de la factura de venta debe ser el mismo. Solo las remisiones abiertas pueden ser facturadas. De esta forma, los ítems de cada una de las remisiones serán facturados, además también podrás especificar otros ítems con el parametro`items`.",
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "description": "Identificador de la remisión",
                                      "type": "string"
                                    },
                                    "items": {
                                      "description": "Items adicionales",
                                      "type": "array",
                                      "items": {
                                        "properties": {
                                          "id": {
                                            "description": "Identificación del item",
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "costCenter": {
                                "description": "Objeto que indica el id del centro de costo asociado. Se puede enviar directamente el id del centro de costo en este atributo o enviarlo como objeto.",
                                "type": "object",
                                "oneOf": [
                                  {
                                    "type": "integer",
                                    "example": 1
                                  },
                                  {
                                    "type": "object",
                                    "example": {
                                      "value": {
                                        "id": 1
                                      }
                                    }
                                  }
                                ]
                              },
                              "comments": {
                                "description": "Arreglo de strings con cada uno de los comentarios que se desean asociar. Los comentarios se pueden actualizar aun si la factura de venta no se puede editar.",
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "periodicity": {
                                "description": "Indica la periodicidad de los pagos de las cuotas de la factura. Si se desea emitir la factura, la forma de pago es a crédito este atributo se vuelve obligatorio.",
                                "type": "string",
                                "enum": [
                                  "BIWEEKLY",
                                  "MONTHLY",
                                  "BIMONTHLY",
                                  "QUARTERLY",
                                  "SEMIANNUALLY",
                                  "MANUAL"
                                ]
                              }
                            }
                          }
                        ]
                      }
                    ],
                    "required": [
                      "date",
                      "dueDate",
                      "client",
                      "items"
                    ],
                    "properties": {
                      "status": {
                        "description": "Estado de la factura, las opciones posibles son: open o draft. Si no se envía este atributo y no se envían pagos asociados la factura se crea en \"draft\". Si se envían pagos a la factura, la factura queda creada en \"open\".",
                        "type": "string"
                      },
                      "numberTemplate": {
                        "description": "Objeto que contiene la información de la numeración de la factura. Para numeraciones automáticas solo debe incluir el id de la numeración, para numeraciones manuales se debe enviar como mínimo el id de la numeración y el número de la factura. Si no se envía este atributo la aplicación intenta crear la factura con la numeración preferida que tiene configurada la empresa. Si no es posible retorna error. Para la creación de tickets de venta (México) es necesario enviar la numeración de tipo Ticket de venta. Para la creación de Documento equivalente P.O.S. (Colombia) es necesario enviar la numeración de tipo Documento equivalente POS.",
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "ID de la numeración",
                            "type": "string"
                          },
                          "prefix": {
                            "description": "Prefijo de la factura (enviar en caso de que la numeración sea manual, opcional)",
                            "type": "string"
                          },
                          "number": {
                            "description": "Número de la factura (enviar en caso de que la numeración sea manual, requerido)",
                            "type": "string"
                          }
                        }
                      },
                      "items": {
                        "description": "Array de objetos item (productos/servicios) asociados a la factura. Cada objeto debe incluir: `id (number, obligatorio)`: identificador del producto o servicio que se vende; price (double, obligatorio): precio de venta; reference (string) : referencia del producto/servicio; description (string): descripción del producto/servicio; tax (objeto) : array de objetos tax que indican la información del impuesto; quantity (obligatorio): cantidad vendida del producto o servicio; discount (decimal): porcentaje de descuento aplicado al producto, éste no debe incluir el símbolo %, únicamente su tasa Para costa rica, el atributo discount pasa a ser un objeto compuesto por los atributos: nature (indica la naturaleza del descuento) y discount (indica la tasa del descuento). El precio del producto/servicio no debe incluir impuestos ni descuentos; importRequest (string) : Solo para Mexico se puede enviar el número de pedimento si el item lo tiene activo, este debe contener 21 caracteres y debe seguir el formato: 99 99 9999 9999999. Utilizando 2 espacios para separar cada conjunto de caracteres.",
                        "type": "array",
                        "items": {
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identificador del producto",
                              "example": 1
                            },
                            "name": {
                              "type": "string",
                              "description": "Nombre del producto",
                              "example": "Arroz"
                            },
                            "discount": {
                              "type": "number",
                              "description": "Porcentaje de descuento aplicado al producto. Para ** Costa Rica **, el atributo `discount` pasa a ser un objeto compuesto por los atributos `nature` (indica la naturaleza del descuento) y `discount` (indica el porcentaje del descuento).",
                              "example": 20
                            },
                            "observations": {
                              "type": "string",
                              "description": "Observaciones acerca del producto",
                              "example": "Arroz para la siembra"
                            },
                            "tax": {
                              "type": "array",
                              "description": "Array de objetos tax que indican los impuestos aplicados al producto al momento de la compra",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Identificador único que representa un impuesto específico.",
                                    "example": 1
                                  }
                                }
                              }
                            },
                            "price": {
                              "type": "number",
                              "description": "Precio de compra del producto"
                            },
                            "quantity": {
                              "type": "number",
                              "description": "Cantidad de productos que fueron comprados."
                            },
                            "description": {
                              "type": "string",
                              "description": "Descripción del producto/servicio."
                            }
                          }
                        }
                      },
                      "payments": {
                        "description": "Array de objetos que indican los pagos que se han realizado a la factura. Cada objeto debe contener los siguientes atributos: date (string, obligatorio): fecha del pago. Formato yyyy-mm-dd; account (object, obligatorio): objeto que incluye el id de la cuenta banco a la cual debe ingresar el dinero; amount (number, obligatorio): valor pagado.; paymentMethod (string): método de pago, las opciones posibles son: transefer, cash, deposit, check, credit-card, debit-card; anotations (string): notas del pago; observations (string): observaciones del pago; retentions (array): array de objetos que indican las retenciones a la factura que se realizaron en el pago; currency (object): objeto que incluye la información de la moneda y la tasa de cambio asociada al pago.",
                        "type": "array",
                        "items": {
                          "properties": {
                            "date": {
                              "description": "Fecha del pago",
                              "type": "string",
                              "format": "date",
                              "example": "2022-10-30"
                            },
                            "account": {
                              "description": "Objeto que incluye el id de la cuenta banco a la cual debe ingresar el dinero",
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Identificador de la cuenta bancaria",
                                  "type": "string"
                                }
                              }
                            },
                            "amount": {
                              "description": "Valor pagado",
                              "type": "number"
                            },
                            "paymentMethod": {
                              "description": "Metodo de pago",
                              "type": "string",
                              "enum": [
                                "cash",
                                "check",
                                "transfer",
                                "deposit",
                                "credit-card",
                                "debit-card"
                              ]
                            },
                            "annotations": {
                              "description": "Notas del pago",
                              "type": "string"
                            },
                            "observations": {
                              "description": "Observaciones del pago",
                              "type": "string"
                            },
                            "retentions": {
                              "description": "Array de objetos que indican las retenciones a la factura que se realizaron el pago",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "description": "Identificador de la retención",
                                    "type": "string"
                                  },
                                  "amount": {
                                    "description": "Valor retenido",
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "currency": {
                              "description": "Objeto que incluye la información de la moneda y la tasa de cambio asociada al pago",
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "exchangeRate": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      },
                      "estimate": {
                        "description": "Especifica el identificador de la cotización que desea asociar a la factura de venta, de esta forma, la cotización queda facturada y se asocian los ítems que se especifiquen en el parametro items no los que tiene la cotización.",
                        "type": "string"
                      }
                    }
                  },
                  {
                    "title": "Factura de venta de México",
                    "type": "object",
                    "allOf": [
                      {
                        "title": "Factura de venta simple",
                        "type": "object",
                        "allOf": [
                          {
                            "title": "Edición simple",
                            "type": "object",
                            "allOf": [
                              {
                                "title": "Invoice estandar",
                                "type": "object",
                                "properties": {
                                  "termsConditions": {
                                    "description": "Términos y condiciones de la factura. Longitud máxima permitida: 500.",
                                    "type": "string"
                                  },
                                  "numberTemplate": {
                                    "description": "Objeto que contiene la información de la numeración de la factura. Para numeraciones automáticas solo debe incluir el id de la numeración, para numeraciones manuales se debe enviar como mínimo el id de la numeración y el número de la factura. Si no se envía este atributo la aplicación intenta crear la factura con la numeración preferida que tiene configurada la empresa. Si no es posible retorna error.",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "description": "ID de la numeración",
                                        "type": "string"
                                      },
                                      "prefix": {
                                        "description": "Prefijo de la factura (enviar en caso de que la numeración sea manual, opcional)",
                                        "type": "string"
                                      },
                                      "number": {
                                        "description": "Número de la factura (enviar en caso de que la numeración sea manual, requerido)",
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "items": {
                                    "description": "Array de objetos item (productos/servicios) asociados a la factura. Cada objeto debe incluir: `id (number, obligatorio)`: identificador del producto o servicio que se vende; `price (double, obligatorio)`: precio de venta; `reference (string)` : referencia del producto/servicio; `description (string)`: descripción del producto/servicio; `tax (objeto)` : array de objetos tax que indican la información del impuesto; `quantity (obligatorio)`: cantidad vendida del producto o servicio. El precio del producto/servicio no debe incluir impuestos ni descuentos.",
                                    "type": "array",
                                    "items": {
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Identificador del producto",
                                          "example": 1
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "Nombre del producto",
                                          "example": "Arroz"
                                        },
                                        "discount": {
                                          "type": "number",
                                          "description": "Porcentaje de descuento aplicado al producto",
                                          "example": 20
                                        },
                                        "observations": {
                                          "type": "string",
                                          "description": "Observaciones acerca del producto",
                                          "example": "Arroz para la siembra"
                                        },
                                        "tax": {
                                          "type": "array",
                                          "description": "Array de objetos tax que indican los impuestos aplicados al producto al momento de la compra",
                                          "items": {
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "Identificador único que representa un impuesto específico.",
                                                "example": 1
                                              }
                                            }
                                          }
                                        },
                                        "price": {
                                          "type": "number",
                                          "description": "Precio de compra del producto"
                                        },
                                        "quantity": {
                                          "type": "number",
                                          "description": "Cantidad de productos que fueron comprados."
                                        }
                                      }
                                    }
                                  },
                                  "anotation": {
                                    "description": "Notas de la factura, visibles en el PDF o documento impreso. Longitud máxima permitida: 500.",
                                    "type": "string"
                                  },
                                  "dueDate": {
                                    "description": "Fecha de vencimiento de la factura. Formato yyyy-MM-dd.",
                                    "type": "string",
                                    "format": "date",
                                    "example": "2019-02-12"
                                  },
                                  "date": {
                                    "description": "Fecha de la factura. Formato yyyy-MM-dd.",
                                    "type": "string",
                                    "format": "date",
                                    "example": "2019-02-12"
                                  },
                                  "observations": {
                                    "description": "Observaciones de la factura (no visibles en el pdf o documento impreso). Longitud máxima permitida: 500.",
                                    "type": "string",
                                    "example": "Estas son las observaciones de mi factura.",
                                    "maxLength": 500
                                  },
                                  "client": {
                                    "description": "Objecto que contiene el id del cliente asociado a la factura. Se puede enviar directamente el id del cliente en este atributo.",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "description": "Identificador del cliente",
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "seller": {
                                    "description": "Objeto que indica el id del vendedor asociado a la factura. Se puede enviar directamente el id del vendedor en este atributo.",
                                    "type": "object",
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "example": 1
                                      },
                                      {
                                        "type": "object",
                                        "example": {
                                          "value": {
                                            "id": 1
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "priceList": {
                                    "description": "Objeto que indica el id de la lista de precios asociada a la factura. Se puede enviar directamente el id de la lista de precios en este atributo.",
                                    "type": "object",
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "example": 1
                                      },
                                      {
                                        "type": "object",
                                        "example": {
                                          "value": {
                                            "id": 1
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "currency": {
                                    "description": "Objecto que incluye la información de la moneda y tasa de cambio asociada a la factura. Solo se debe incluir si la compañía tiene activa la funcionalidad de multimoneda y tiene configurada la moneda seleccionada. Debe incluir el código de la moneda (de tres letras según ISO) y la tasa de cambio.",
                                    "type": "object"
                                  },
                                  "retentions": {
                                    "description": "Array de objetos retention que indican las retenciones de la factura de venta. Cada objeto debe contener:  `id (number, obligatorio)`: Identificador de la retención que se desea asociar a la factura; `amount (double, obligatorio)`: valor retenido.",
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "description": "Identificador de la retención",
                                          "type": "string"
                                        },
                                        "amount": {
                                          "description": "Valor retenido",
                                          "type": "number"
                                        }
                                      }
                                    }
                                  },
                                  "warehouse": {
                                    "description": "Objeto que indica el id de la bodega/almacén asociada a la factura. Se puede enviar directamente el id de la bodega/almacén en este atributo. Si no se envía este parámetro la factura queda asociada a la bodega/almacén Principal.",
                                    "type": "object",
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "example": 1
                                      },
                                      {
                                        "type": "object",
                                        "example": {
                                          "value": {
                                            "id": 1
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "remissions": {
                                    "description": "Array de identificadores de las remisiones que se desean facturar, puedes asociar una o varias remisiones tan solo indicando el id de cada una en un array. El cliente de las remisiones y de la factura de venta debe ser el mismo. Solo las remisiones abiertas pueden ser facturadas. De esta forma, los ítems de cada una de las remisiones serán facturados, además también podrás especificar otros ítems con el parametro`items`.",
                                    "type": "array",
                                    "items": {
                                      "properties": {
                                        "id": {
                                          "description": "Identificador de la remisión",
                                          "type": "string"
                                        },
                                        "items": {
                                          "description": "Items adicionales",
                                          "type": "array",
                                          "items": {
                                            "properties": {
                                              "id": {
                                                "description": "Identificación del item",
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "costCenter": {
                                    "description": "Objeto que indica el id del centro de costo asociado. Se puede enviar directamente el id del centro de costo en este atributo o enviarlo como objeto.",
                                    "type": "object",
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "example": 1
                                      },
                                      {
                                        "type": "object",
                                        "example": {
                                          "value": {
                                            "id": 1
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "comments": {
                                    "description": "Arreglo de strings con cada uno de los comentarios que se desean asociar. Los comentarios se pueden actualizar aun si la factura de venta no se puede editar.",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "periodicity": {
                                    "description": "Indica la periodicidad de los pagos de las cuotas de la factura. Si se desea emitir la factura, la forma de pago es a crédito este atributo se vuelve obligatorio.",
                                    "type": "string",
                                    "enum": [
                                      "BIWEEKLY",
                                      "MONTHLY",
                                      "BIMONTHLY",
                                      "QUARTERLY",
                                      "SEMIANNUALLY",
                                      "MANUAL"
                                    ]
                                  }
                                }
                              }
                            ]
                          }
                        ],
                        "required": [
                          "date",
                          "dueDate",
                          "client",
                          "items"
                        ],
                        "properties": {
                          "status": {
                            "description": "Estado de la factura, las opciones posibles son: open o draft. Si no se envía este atributo y no se envían pagos asociados la factura se crea en \"draft\". Si se envían pagos a la factura, la factura queda creada en \"open\".",
                            "type": "string"
                          },
                          "numberTemplate": {
                            "description": "Objeto que contiene la información de la numeración de la factura. Para numeraciones automáticas solo debe incluir el id de la numeración, para numeraciones manuales se debe enviar como mínimo el id de la numeración y el número de la factura. Si no se envía este atributo la aplicación intenta crear la factura con la numeración preferida que tiene configurada la empresa. Si no es posible retorna error. Para la creación de tickets de venta (México) es necesario enviar la numeración de tipo Ticket de venta. Para la creación de Documento equivalente P.O.S. (Colombia) es necesario enviar la numeración de tipo Documento equivalente POS.",
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "ID de la numeración",
                                "type": "string"
                              },
                              "prefix": {
                                "description": "Prefijo de la factura (enviar en caso de que la numeración sea manual, opcional)",
                                "type": "string"
                              },
                              "number": {
                                "description": "Número de la factura (enviar en caso de que la numeración sea manual, requerido)",
                                "type": "string"
                              }
                            }
                          },
                          "items": {
                            "description": "Array de objetos item (productos/servicios) asociados a la factura. Cada objeto debe incluir: `id (number, obligatorio)`: identificador del producto o servicio que se vende; price (double, obligatorio): precio de venta; reference (string) : referencia del producto/servicio; description (string): descripción del producto/servicio; tax (objeto) : array de objetos tax que indican la información del impuesto; quantity (obligatorio): cantidad vendida del producto o servicio; discount (decimal): porcentaje de descuento aplicado al producto, éste no debe incluir el símbolo %, únicamente su tasa Para costa rica, el atributo discount pasa a ser un objeto compuesto por los atributos: nature (indica la naturaleza del descuento) y discount (indica la tasa del descuento). El precio del producto/servicio no debe incluir impuestos ni descuentos; importRequest (string) : Solo para Mexico se puede enviar el número de pedimento si el item lo tiene activo, este debe contener 21 caracteres y debe seguir el formato: 99 99 9999 9999999. Utilizando 2 espacios para separar cada conjunto de caracteres.",
                            "type": "array",
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Identificador del producto",
                                  "example": 1
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Nombre del producto",
                                  "example": "Arroz"
                                },
                                "discount": {
                                  "type": "number",
                                  "description": "Porcentaje de descuento aplicado al producto. Para ** Costa Rica **, el atributo `discount` pasa a ser un objeto compuesto por los atributos `nature` (indica la naturaleza del descuento) y `discount` (indica el porcentaje del descuento).",
                                  "example": 20
                                },
                                "observations": {
                                  "type": "string",
                                  "description": "Observaciones acerca del producto",
                                  "example": "Arroz para la siembra"
                                },
                                "tax": {
                                  "type": "array",
                                  "description": "Array de objetos tax que indican los impuestos aplicados al producto al momento de la compra",
                                  "items": {
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Identificador único que representa un impuesto específico.",
                                        "example": 1
                                      }
                                    }
                                  }
                                },
                                "price": {
                                  "type": "number",
                                  "description": "Precio de compra del producto"
                                },
                                "quantity": {
                                  "type": "number",
                                  "description": "Cantidad de productos que fueron comprados."
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Descripción del producto/servicio."
                                }
                              }
                            }
                          },
                          "payments": {
                            "description": "Array de objetos que indican los pagos que se han realizado a la factura. Cada objeto debe contener los siguientes atributos: date (string, obligatorio): fecha del pago. Formato yyyy-mm-dd; account (object, obligatorio): objeto que incluye el id de la cuenta banco a la cual debe ingresar el dinero; amount (number, obligatorio): valor pagado.; paymentMethod (string): método de pago, las opciones posibles son: transefer, cash, deposit, check, credit-card, debit-card; anotations (string): notas del pago; observations (string): observaciones del pago; retentions (array): array de objetos que indican las retenciones a la factura que se realizaron en el pago; currency (object): objeto que incluye la información de la moneda y la tasa de cambio asociada al pago.",
                            "type": "array",
                            "items": {
                              "properties": {
                                "date": {
                                  "description": "Fecha del pago",
                                  "type": "string",
                                  "format": "date",
                                  "example": "2022-10-30"
                                },
                                "account": {
                                  "description": "Objeto que incluye el id de la cuenta banco a la cual debe ingresar el dinero",
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "description": "Identificador de la cuenta bancaria",
                                      "type": "string"
                                    }
                                  }
                                },
                                "amount": {
                                  "description": "Valor pagado",
                                  "type": "number"
                                },
                                "paymentMethod": {
                                  "description": "Metodo de pago",
                                  "type": "string",
                                  "enum": [
                                    "cash",
                                    "check",
                                    "transfer",
                                    "deposit",
                                    "credit-card",
                                    "debit-card"
                                  ]
                                },
                                "annotations": {
                                  "description": "Notas del pago",
                                  "type": "string"
                                },
                                "observations": {
                                  "description": "Observaciones del pago",
                                  "type": "string"
                                },
                                "retentions": {
                                  "description": "Array de objetos que indican las retenciones a la factura que se realizaron el pago",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "description": "Identificador de la retención",
                                        "type": "string"
                                      },
                                      "amount": {
                                        "description": "Valor retenido",
                                        "type": "number"
                                      }
                                    }
                                  }
                                },
                                "currency": {
                                  "description": "Objeto que incluye la información de la moneda y la tasa de cambio asociada al pago",
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "exchangeRate": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "estimate": {
                            "description": "Especifica el identificador de la cotización que desea asociar a la factura de venta, de esta forma, la cotización queda facturada y se asocian los ítems que se especifiquen en el parametro items no los que tiene la cotización.",
                            "type": "string"
                          }
                        }
                      }
                    ],
                    "properties": {
                      "paymentMethod": {
                        "description": "Para México, requerido, representa la forma de pago de la factura. Las opciones posibles son: `cash` Efectivo, `debit-cardv` Tarjeta de débito, `credit-card` Tarjeta de crédito, `service-card` Tarjeta de servicios, `transfer` Transferencia electrónica de fondos, `check` Cheque nominativo, `electronic-wallet` Monedero electrónico, `electronic-money` Dinero electrónico, `grocery-voucher` Vale de despensa, `dation-payment` Dación en pago, `subrogation-payment` Pago por subrogación, `allocation-payment` Pago por consignación, `forgiveness` Condonación, `compensation` Compensación, `novation` Novación, `misunderstanding` Confusión, `debt-remission` Remisión de deuda, `prescription-or-expiration` Prescripción o caducidad, `creditor-satisfaction` A satisfacción del acreedor. Si el paymentType es \"PPD\" solo admite el paymentMethod other Por Definir.",
                        "type": "string"
                      },
                      "accountNumber": {
                        "description": "Para México, representa el número de cuenta o tarjeta de pago. Debe tener mínimo 4 caracteres.",
                        "type": "string"
                      },
                      "cfdiUse": {
                        "description": "Para México, representa la clave del Uso CFDI.Puedes consultar las opciones disponibles [aquí](https://developer.alegra.com/docs/m%C3%A9xico).",
                        "type": "string"
                      },
                      "stamp": {
[...]
