<% extraStyles=` `; %>
    
    <main>
        <div class="container pt-4">
            <h3 class="text-center">Usuarios</h3>
            <div class="tab-content" id="pills-tabContent2">
                    <div class="d-flex justify-content-end " style="margin-top: 5px;">
                        <button id="btnAddUser" type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark"
                            data-mdb-toggle="modal" data-mdb-target="#ModalAddUser" data-mdb-whatever="@mdo">
                            Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        </button>
                    </div>
                    <div class="table-responsive pt-3">
                      <table class="table align-middle mb-0 bg-white">
                          <thead class="bg-light">
                            <tr class="text-center">
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Usuario</th>
                                  <th scope="col">Rol</th>
                                  <th scope="col">Tienda</th>
                                  <th scope="col">Fecha de creacion</th>
                                  <th scope="col">Acciones</th>
                              </tr>
                          </thead>
                          <tbody id="usuariosData" class="table-group-divider">
                              <!-- Aquí se cargarán las sucursales -->
                          </tbody>
                      </table>
                      <div class="d-flex justify-content-center pt-3">
                          <ul class="pagination" id="paginationUsuarios">
                              <li class="page-item">
                                  <a class="page-link" href="#" onclick="cambiarPaginaUsuarios(currentPageUsuarios - 1)" aria-label="Previous" id="anteriorUsuarios">
                                      <span aria-hidden="true">&laquo;</span>
                                  </a>
                              </li>
                              <!-- Los números de página se generarán dinámicamente aquí -->
                              <li class="page-item">
                                  <a class="page-link" href="#" onclick="cambiarPaginaUsuarios(currentPageUsuarios + 1)" aria-label="Next" id="siguienteUsuarios">
                                      <span aria-hidden="true">&raquo;</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>



            <div class="modal fade" id="ModalAddUser" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                                Registrar nuevo usuario
                            </h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>

                                <div class="mb-3">
                                    <label class="form-label" for="sucursales">Sucursal:</label>
                                    <select id="sucursales" class="form-select" aria-label="Combo box example"> 
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="roles">Rol:</label>
                                    <select id="roles" class="form-select" aria-label="Combo box example">
                                    </select>
                                </div>

                                <div class="mb-3">
                                  <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Selecciona una imagen
                                      </button>
                                      <ul class="dropdown-menu dropMenuAdd " aria-labelledby="dropdownMenuButton">
                                        <li>
                                          <a class="dropdown-item imgDrop" href="#" data-img-src="img/profile1.png">
                                            <img src="img/profile1.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 1
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDrop" href="#" data-img-src="img/profile2.png">
                                            <img src="img/profile2.png" class="rounded-circle" height="35" alt="Profile 2" loading="lazy" /> Imagen 2
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDrop" href="#" data-img-src="img/profile3.png">
                                            <img src="img/profile3.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 3
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDrop" href="#" data-img-src="img/profile4.png">
                                            <img src="img/profile4.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 4
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDrop" href="#" data-img-src="img/profile5.png">
                                            <img src="img/profile5.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 5
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                    <!-- Contenedor para mostrar la imagen seleccionada -->
                                    <div id="selectedImageContainer" class="ms-3">
                                      <!-- Imagen seleccionada se mostrará aquí -->
                                    </div>
                                  </div>
                                </div>
                                

                                <div class="mb-3">
                                    <label for="fullname" class="col-form-label">Nombre completo:</label>
                                    <input type="text" class="form-control" id="fullname" />
                                </div>

                                <div class="mb-3">
                                    <label for="username" class="col-form-label">Usuario:</label>
                                    <input type="text" class="form-control" id="username" />
                                </div>
                                
                                <div class="mb-3">
                                    <label for="password" class="col-form-label">Contraseña:</label>
                                    <input type="text" class="form-control" id="password" />
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-mdb-dismiss="modal">Cerrar</button>
                                    <button id="bntPostUserData" type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalEditUser" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                                Editar usuario
                            </h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>

                                <div class="mb-3">
                                    <label class="form-label" for="sucursalesEdit">Sucursal:</label>
                                    <select id="sucursalesEdit" class="form-select" aria-label="Combo box example"> 
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="rolesEdit">Rol:</label>
                                    <select id="rolesEdit" class="form-select" aria-label="Combo box example">
                                    </select>
                                </div>

                                <div class="mb-3">
                                  <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonEdit" data-bs-toggle="dropdown" aria-expanded="false">
                                        Selecciona una imagen
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li>
                                          <a class="dropdown-item imgDropEdit" href="#" data-img-src="img/profile1.png">
                                            <img src="img/profile1.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 1
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDropEdit" href="#" data-img-src="img/profile2.png">
                                            <img src="img/profile2.png" class="rounded-circle" height="35" alt="Profile 2" loading="lazy" /> Imagen 2
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDropEdit" href="#" data-img-src="img/profile3.png">
                                            <img src="img/profile3.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 3
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDropEdit" href="#" data-img-src="img/profile4.png">
                                            <img src="img/profile4.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 4
                                          </a>
                                        </li>
                                        <li>
                                          <a class="dropdown-item imgDropEdit" href="#" data-img-src="img/profile5.png">
                                            <img src="img/profile5.png" class="rounded-circle" height="35" alt="Profile 1" loading="lazy" /> Imagen 5
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                    <!-- Contenedor para mostrar la imagen seleccionada -->
                                    <div id="selectedImageContainerEdit" class="ms-3">
                                      <!-- Imagen seleccionada se mostrará aquí -->
                                    </div>
                                  </div>
                                </div>
                                

                                <div class="mb-3">
                                    <label for="fullnameEdit" class="col-form-label">Nombre completo:</label>
                                    <input type="text" class="form-control" id="fullnameEdit" />
                                </div>

                                <div class="mb-3">
                                    <label for="usernameEdit" class="col-form-label">Usuario:</label>
                                    <input type="text" class="form-control" id="usernameEdit" />
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-mdb-dismiss="modal">Cerrar</button>
                                    <button id="bntPutUserData" type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalUpdatePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                              <i class="fa-regular fa-key" style="color: #000000;"></i>
                              Actualizar Contraseña
                          </h5>
                          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="mb-3">
                              <label for="newPassword" class="col-form-label">Nueva Contraseña:</label>
                              <input type="password" class="form-control" id="newPassword" />
                          </div>
                          <div class="mb-3">
                              <label for="confirmNewPassword" class="col-form-label">Confirmar Nueva Contraseña:</label>
                              <input type="password" class="form-control" id="confirmNewPassword" />
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                          <button id="btnUpdatePassword" type="button" class="btn btn-primary">Actualizar</button>
                      </div>
                  </div>
              </div>
          </div>


          
          

        </div>
    </main>



    <% extraScripts=`
            <script src="js/users/users.js"></script>
            <script src="js/users/editUsers.js"></script>
            <script src="js/users/deleteUsers.js"></script>
            <script src="js/users/updatePasswordUsers.js"></script>
            <script src="js/users/changeStateUsers.js"></script>
      `; %>