<% extraStyles=` `; %>


    <main style="margin-top: 10px">
        <div class="container pt-4">
            <h3 class="text-center mb-4">
                Evaluación de sucursal
            </h3>
    
            <form id="evaluacionForm" class="needs-validation" novalidate>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="sucursalSelect" class="form-label">ID de Sucursal</label>
                        <select id="sucursalSelect" class="form-select" required>
                            <option value="" selected disabled>-- Selecciona una sucursal --</option>
                            <!-- Opciones dinámicas -->
                            <option value="1">Sucursal Centro</option>
                            <option value="2">Sucursal Norte</option>
                            <option value="3">Sucursal Sur</option>
                        </select>

                </div>

    
                <h5 class="mt-4">Evaluación de Parámetros</h5>
    
                <div id="parametrosEvaluacion">
                    <!-- Parámetros -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="ordenPisoVenta" class="form-label">Orden Piso de Venta</label>
                            <select id="ordenPisoVenta" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="limpiezaPisoVenta" class="form-label">Limpieza Piso de Venta</label>
                            <select id="limpiezaPisoVenta" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="ordenLimpiezaBodega" class="form-label">Orden y Limpieza Bodega</label>
                            <select id="ordenLimpiezaBodega" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="ordenLimpiezaBaño" class="form-label">Orden y Limpieza Baño</label>
                            <select id="ordenLimpiezaBaño" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="ordenLimpiezaMostrador" class="form-label">Orden y Limpieza Mostrador</label>
                            <select id="ordenLimpiezaMostrador" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="limpiezaExterior" class="form-label">Limpieza Exterior</label>
                            <select id="limpiezaExterior" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="frenteoMercancia" class="form-label">Frenteo Mercancía</label>
                            <select id="frenteoMercancia" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="limpiezaTambosGarrafas" class="form-label">Limpieza de Tambos y Garrafas</label>
                            <select id="limpiezaTambosGarrafas" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="uniformePresentacion" class="form-label">Uniforme y Presentación</label>
                            <select id="uniformePresentacion" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="musicaPantallas" class="form-label">Música y Pantallas</label>
                            <select id="musicaPantallas" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="capturaRecepcionFaltantes" class="form-label">Captura y Recepción de
                                Faltantes</label>
                            <select id="capturaRecepcionFaltantes" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="etiquetadoBaston" class="form-label">Etiquetado de Bastón</label>
                            <select id="etiquetadoBaston" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="quimicosBuenasCondicionesPreparado" class="form-label">Químicos en Buenas
                                Condiciones y Preparado</label>
                            <select id="quimicosBuenasCondicionesPreparado" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="preciadoresPromocionales" class="form-label">Preciadores y Promocionales</label>
                            <select id="preciadoresPromocionales" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="codigosBarras" class="form-label">Códigos de Barras</label>
                            <select id="codigosBarras" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="peps" class="form-label">PEPS</label>
                            <select id="peps" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="segmentosPtsCalientesTorres" class="form-label">Segmentos Pts Calientes y
                                Torres</label>
                            <select id="segmentosPtsCalientesTorres" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="boteEscobas" class="form-label">Bote Escobas</label>
                            <select id="boteEscobas" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="arqueoMercancia" class="form-label">Arqueo Mercancía</label>
                            <select id="arqueoMercancia" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="arqueoEfectivo" class="form-label">Arqueo Efectivo</label>
                            <select id="arqueoEfectivo" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="asignarActividades" class="form-label">Asignar Actividades</label>
                            <select id="asignarActividades" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="recepcionCortes" class="form-label">Recepción de Cortes</label>
                            <select id="recepcionCortes" class="form-select">
                                <option value="0" selected>0</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
    
                <div class="text-center mt-4" style="margin-bottom: 50px;">
                    <button type="button" id="submitEvaluacion" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar Evaluación
                    </button>
                </div>
            </form>
        </div>
    </main>


    <% extraScripts=` 
        <script src="js/evaluaciones/evaluaciones.js"></script>
        `; %>


