<% extraScripts=` <script src="/js/asistencias/asistenciasUsers.js">
    </script>
    <script>
        console.log('Script personalizado cargado en asistencias');
    </script>
    `; %>

    <h3 style="margin-top: 35px;" class="text-center">Registrar asistencias</h4>
    <div class="container pt-4">
        <div class="row mt-4" id="accionesAsistencia">
            <!-- Aquí se insertarán dinámicamente las cards -->
        </div>
    </div>