<% extraStyles=` `; %>

    <main style="margin-top: 10px">
        <div class="container pt-4">
            <h3 class="text-center">Asistencias</h3>
            <div class="tab-content" id="pills-tabContent2">
                <div class="d-flex justify-content-end " style="margin-top: 20px;">



                </div>
                <div class="table-responsive pt-3">
                    <table id="tablaAsistencias" class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr class="text-center">
                                <th scope="col">Nombre</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Entrada</th>
                                <th scope="col">Salida comida</th>
                                <th scope="col">Regreso comida </th>
                                <th scope="col">Termino jornada</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <!-- Aquí se cargarán las sucursales -->
                        </tbody>
                    </table>
                </div>



            </div>
    </main>



<% extraScripts=` 
    <script src="js/asistencias/asistenciasAdmin.js"></script>
    `; %>

