<% extraStyles=` `; %>
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <h3 class="text-center"><i class="fa-solid fa-users"></i> Clientes</h3>
              
            
            <div>
                <div class="d-flex justify-content-between align-items-center" style="margin-top: 50px;">
                    <div class="d-flex align-items-center">
                        <button id="btnAddCliente" type="button" class="btn btn-primary btn-rounded me-2"
                            data-mdb-ripple-color="dark" data-mdb-toggle="modal" data-mdb-target="#ModalAddCliente">
                            Añadir <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        </button>

                        <div class="dropdown">
                            <button data-mdb-dropdown-init class="btn btn-secondary btn-rounded" href="#" id="dropDownOptions"
                                role="button" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropDownOptions">
                                <li><a id="btnZonasCliente" class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#modalZonas">Zonas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                  
                <div class="table-responsive pt-3">
                    <table id="tablaClientes" class="table align-middle mb-0 bg-white">
                      <thead class="bg-light">
                        <tr class="text-center">
                          <th scope="col">Nombre</th>
                          <th scope="col">RFC</th>
                          <th scope="col">Email contacto</th>
                          <th scope="col">Telefono principal</th>
                          <th scope="col">Factura</th>
                          <th scope="col">Monedero</th>
                          <th scope="col">Fecha Ult. Act.</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>
    
    </main>

                
    <div class="modal fade" id="ModalAddCliente" tabindex="-1" aria-labelledby="ModalAddClienteLabel" aria-hidden="true">
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                        Registrar nuevo cliente
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="modal-body">
                        
                            <div>
                                <!--Datos generales-->
                                <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="factura" class="col-form-label">¿Factura?</label>
                                            <div>
                                            <input type="radio" name="factura" id="factura_si" value="si" /> Sí
                                            <input type="radio" name="factura" id="factura_no" value="no" checked /> No
                                            </div>
                                        </div>
                                    
                                            <div class="col-md-12">
                                                <label style="font-weight: 600;" for="nombreCliente" class="col-form-label">
                                                    Nombre registrado
                                                </label>
                                                <input type="text" class="form-control" id="nombreCliente" required />
                                            </div>

                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="rfc" class="col-form-label">RFC</label>
                                            <input type="text" class="form-control" id="rfc" />
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" class="form-label" for="regimen">Régimen Fiscal
                                            </label>
                                            <select id="regimen" class="form-select" aria-label="Combo box example">
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" for="correoElectronicoContacto" class="col-form-label">Correo electrónico <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="correoElectronicoContacto" />
                                        </div>

                                    
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="telefonoPrincipal" class="col-form-label">Numero Telefonico <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="telefonoPrincipal" />
                                        </div>
                                

                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="selectZonaCliente" class="col-form-label">Zona Cliente <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <select id="selectZonaCliente" class="form-select"></select>
                                        </div>
                                    
                                        <hr style="margin-top: 10px;">
                                    
                                        <h5>Domicilio fiscal</h5>
                                  
                                        <div class="col-md-4">
                                            <label style="font-weight: 600;" for="calle" class="col-form-label">Calle <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="calle" />
                                        </div>
                                    
                                        <div class="col-md-4">
                                            <label style="font-weight: 600;" for="numeroExterior" class="col-form-label">Número Exterior <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="numeroExterior" />
                                        </div>
                                  
                                        <div class="col-md-4">
                                            <label style="font-weight: 600;" for="numeroInterior" class="col-form-label">Número Interior <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="numeroInterior" />
                                        </div>

                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="codigoPostal" class="col-form-label">Código postal
                                            </label>
                                            <input type="text" class="form-control" id="codigoPostal" />
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="colonia" class="col-form-label">Colonia <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="colonia" />
                                        </div>
                                  
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="localidad" class="col-form-label">Ciudad <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="localidad" />
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label style="font-weight: 600;" for="municipioDelegacion" class="col-form-label">Municipio <small style="color: rgb(180, 179, 179);">(Opcional)</small></label>
                                            <input type="text" class="form-control" id="municipioDelegacion" />
                                        </div>
                                  
                                        <div class="col-md-12">
                                            <label style="font-weight: 600;" for="estado" class="col-form-label">
                                                Estado <small style="color: gray;">(Opcional)</small>
                                              </label>                                              
                                            <input type="text" class="form-control" id="estado" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="modal-footer d-flex justify-content-between align-items-center">
                                <h5 class="text-start mb-0"></h5>
                                <div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" id="btnGuardarCliente" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalEditCliente" tabindex="-1" aria-labelledby="ModalEditClienteLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                        Editar cliente
                    </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="modal-body">
                            <!-- Pills navs -->
                            <ul class="nav nav-pills mb-3" id="ex2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a data-mdb-pill-init class="nav-link active" id="ex2-tab-1" href="#ex2-pills-1" role="tab"
                                        aria-controls="ex2-pills-1" aria-selected="true">Datos generales</a>
                                </li>
                            </ul>
                            <!-- Pills navs -->
    
                            <!-- Pills content -->
                            <div class="tab-content" id="ex2-content">
                                <!-- Datos generales -->
                                <div class="tab-pane fade show active" id="ex2-pills-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                                    <div class="row">
                                        <h4>Datos generales</h4>
                                        
                                        <input type="hidden" id="editClienteId"> <!-- ID oculto para edición -->
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;">¿Factura?</label>
                                            <div>
                                                <input type="radio" name="editFactura" id="edit_factura_si" value="si" /> Sí
                                                <input type="radio" name="editFactura" id="edit_factura_no" value="no" checked /> No
                                            </div>
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editNombreCliente">Nombre Completo:</label>
                                            <input type="text" class="form-control" id="editNombreCliente" required />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editRfc">Identificación (RFC):</label>
                                            <input type="text" class="form-control" id="editRfc" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editRegimen">Régimen:</label>
                                            <select id="editRegimen" class="form-select"></select>
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editTelefonoPrincipal">Número Telefónico:</label>
                                            <input type="text" class="form-control" id="editTelefonoPrincipal" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editCorreoElectronicoContacto">Correo Electrónico:</label>
                                            <input type="text" class="form-control" id="editCorreoElectronicoContacto" />
                                        </div>

                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editSelectZonaCliente" class="col-form-label">Zona Cliente:</label>
                                            <select id="editSelectZonaCliente" class="form-select"></select>
                                          </div>
    
                                        <hr style="margin-top: 10px;">
                                        <h4>Dirección</h4>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editCalle">Calle:</label>
                                            <input type="text" class="form-control" id="editCalle" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editNumeroExterior">Número Exterior:</label>
                                            <input type="text" class="form-control" id="editNumeroExterior" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editNumeroInterior">Número Interior:</label>
                                            <input type="text" class="form-control" id="editNumeroInterior" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editColonia">Colonia:</label>
                                            <input type="text" class="form-control" id="editColonia" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editLocalidad">Localidad:</label>
                                            <input type="text" class="form-control" id="editLocalidad" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editMunicipioDelegacion">Municipio/Delegación:</label>
                                            <input type="text" class="form-control" id="editMunicipioDelegacion" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editEstado">Estado:</label>
                                            <input type="text" class="form-control" id="editEstado" />
                                        </div>
    
                                        <div class="col-md-3">
                                            <label style="font-weight: 600;" for="editCodigoPostal">Código Postal:</label>
                                            <input type="text" class="form-control" id="editCodigoPostal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pills content -->
    
                            <div class="modal-footer d-flex justify-content-between align-items-center">
                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                                <button type="submit" id="btnGuardarEdicionCliente" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <!-- Modal -->
    <div class="modal fade" id="modalZonas" tabindex="-1" aria-labelledby="modalZonasLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalZonasLabel">Gestión de Zonas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="zonaClienteForm">
                        <input type="hidden" id="zonaId">
                        <div class="mb-3">
                            <label for="clave" class="form-label">Clave</label>
                            <input type="text" class="form-control" id="clave" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    <hr>
                    <ul id="zonasList" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>
    




<% extraScripts=`
    <script src="js/clientes/clientes.js"></script>
    <script src="js/clientes/complementosVisuales.js"></script>
    <script src="js/clientes/clientesPost.js"></script>
    <script src="js/clientes/complementos/zonasClientes.js"></script>


`; %>

