<% extraStyles=` `; %>




    <main style="margin-top: 20px">
        <div class="container-fluid pt-4" style="width: 67%;">
            <h3 class="text-center">Actividades</h3>
            
            <div class="text-center" id="calendar" style="width: 1000px;"></div>
        </div>
    </main>


    <div class="modal fade" id="ModalActividades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa-regular fa-address-card" style="color: #000000;"></i>
                        Actividades
                    </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <label for="titulo" class="form-label" style="margin: 0;">Titulo:</label>
                                <p id="titulo"
                                    style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;"
                                    disabled>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <label for="descripcion" class="form-label" style="margin: 0;">Descripcion:</label>
                                <p id="descripcion"
                                    style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;"
                                    disabled></p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <label for="horaInicio" class="form-label" style="margin: 0;">Hora Inicio:</label>
                                <p id="horaInicio"
                                    style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;"
                                    disabled>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <label for="horaFinal" class="form-label" style="margin: 0;">Hora Fin:</label>
                                <p id="horaFinal"
                                    style="margin: 0; border: none; background-color: transparent; padding: 0; flex: 1;"
                                    disabled>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <label for="estado" class="form-label"
                                    style="margin: 0; min-width: 100px;">Estado:</label>
                                <span id="estado"
                                    style="margin: 0; border-radius: 5px; text-align: center; flex: 1;"></span>
                            </div>
                        </div>


                        <hr style="margin: 20px;">

                        <div class="table-responsive">
                            <table class="table mt-2">
                                <thead>
                                    <tr class="text-center">
                                        <th>Usuario</th>
                                        <th>Sucursal</th>
                                    </tr>
                                </thead>
                                <tbody id="usuariosTabla"></tbody>
                            </table>
                        </div>



                        <div class="modal-footer">
                            <button id="btnReagendar" type="button" class="btn btn-warning">Reagendar</button>
                            <button id="btnFinalizarActividad" type="button" class="btn btn-success">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ModalReagendar" tabindex="-1" aria-labelledby="ModalReagendarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalReagendarLabel">Reagendar Actividad</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="reagendarFecha" class="form-label">Nueva Fecha</label>
                            <input type="date" id="reagendarFecha" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="reagendarHoraInicio" class="form-label">Hora de Inicio</label>
                            <input type="time" id="reagendarHoraInicio" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="reagendarHoraFinal" class="form-label">Hora de Finalización</label>
                            <input type="time" id="reagendarHoraFinal" class="form-control" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnConfirmarReagendar" class="btn btn-primary">Reagendar</button>
                </div>
            </div>
        </div>
    </div>



<% extraScripts=` 
    <script src="js/actividades/actividadesUser.js"></script>
`; %>


